<div
  class="modal fade"
  id="change_password"
  data-backdrop="static"
  data-keyboard="false"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header close_popup">
        <h4 class="modal-title w-100 c-grey-900">Change Password</h4>
        <button
          type="button"
          class="close"
          (click)="closeForm()"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form
        autocomplete="off"
        #changePasswordForm="ngForm"
        novalidate
        (ngSubmit)="changePasswordForm.form.valid && validate() && submit()"
      >
        <div class="modal-body">
          <div class="card-body">
            <div>
              <div class="form-row">
                <div class="form-group required col-md-12">
                  <label class="fw-500">User</label>
                  <ng-select
                    name="user"
                    id="userId"
                    [items]="userList"
                    placeholder="Select User"
                    bindLabel="Name"
                    bindValue="Id"
                    [(ngModel)]="model.userId"
                    [ngClass]="{
                      'is-invalid':
                        changePasswordForm?.submitted && !model?.userId
                    }"
                    required
                  >
                  </ng-select>
                  <small
                    class="text-danger"
                    *ngIf="changePasswordForm?.submitted && !model?.userId"
                    >User is Required</small
                  >
                </div>
                <div class="form-group required col-md-12">
                  <label>Current Password</label>
                  <input
                    name="passwordName"
                    type="password"
                    #passwordControl="ngModel"
                    [(ngModel)]="model.password"
                    class="form-control"
                    placeholder="Enter Current Password"
                    [ngClass]="{
                      'is-invalid':
                        changePasswordForm?.submitted &&
                        (!model?.password ||
                          passwordControl?.errors?.minlength ||
                          passwordControl?.errors?.maxlength)
                    }"
                    minlength="4"
                    maxlength="20"
                    required
                  />
                  <small
                    class="text-danger"
                    *ngIf="changePasswordForm?.submitted"
                  >
                    <span *ngIf="!model?.password"
                      >Current Password is Required</span
                    >
                    <span *ngIf="passwordControl?.errors?.minlength"
                      >Minimum 4 character required
                    </span>
                    <span *ngIf="passwordControl?.errors?.maxlength"
                      >Maximum 20 character are allowed</span
                    >
                  </small>
                </div>
                <div class="form-group required col-md-12">
                  <label>New Password</label>
                  <input
                    name="newPasswordName"
                    type="password"
                    #newPasswordControl="ngModel"
                    [(ngModel)]="model.newPassword"
                    class="form-control"
                    placeholder="Enter New Password"
                    [ngClass]="{
                      'is-invalid':
                        (changePasswordForm?.submitted &&
                          (!model?.newPassword ||
                            newPasswordControl?.errors?.minlength ||
                            newPasswordControl?.errors?.maxlength)) ||
                        (model?.newPassword &&
                          model?.confirmPassword &&
                          model?.newPassword !== model?.confirmPassword)
                    }"
                    minlength="4"
                    maxlength="20"
                    required
                  />
                  <small
                    class="text-danger"
                    *ngIf="changePasswordForm?.submitted"
                  >
                    <span *ngIf="!model?.newPassword"
                      >New Password is Required</span
                    >
                    <span *ngIf="newPasswordControl?.errors?.minlength"
                      >Minimum 4 character required
                    </span>
                    <span *ngIf="newPasswordControl?.errors?.maxlength"
                      >Maximum 20 character are allowed</span
                    >
                  </small>
                  <small
                    class="text-danger"
                    *ngIf="
                      model?.newPassword &&
                      model.confirmPassword &&
                      (model?.newPassword !== model?.confirmPassword)
                    "
                  >
                    New Password should be same as Confirm Password
                  </small>
                </div>
                <div class="form-group required col-md-12">
                  <label>Confirm Password</label>
                  <input
                    name="confirmPasswordName"
                    type="password"
                    #confirmPasswordControl="ngModel"
                    [(ngModel)]="model.confirmPassword"
                    class="form-control"
                    placeholder="Enter Confirm Password"
                    [ngClass]="{
                      'is-invalid':
                        (changePasswordForm?.submitted &&
                          (!model?.confirmPassword ||
                            confirmPasswordControl?.errors?.minlength ||
                            confirmPasswordControl?.errors?.maxlength)) ||
                        (model?.newPassword &&
                          model.confirmPassword &&
                          (model?.newPassword !== model?.confirmPassword))
                    }"
                    minlength="4"
                    maxlength="20"
                    required
                  />
                  <small
                    class="text-danger"
                    *ngIf="changePasswordForm?.submitted"
                  >
                    <span *ngIf="!model?.confirmPassword"
                      >Confirm Password is Required</span
                    >
                    <span *ngIf="confirmPasswordControl?.errors?.minlength"
                      >Minimum 4 character required
                    </span>
                    <span *ngIf="confirmPasswordControl?.errors?.maxlength"
                      >Maximum 20 character are allowed</span
                    >
                  </small>
                  <small
                    class="text-danger"
                    *ngIf="
                      model?.newPassword &&
                      model.confirmPassword &&
                      model?.newPassword !== model.confirmPassword
                    "
                  >
                    Confirm Password should be same as New Password
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary waves-effect">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
