<div class="modal fade" id="sale_challan_form1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog large_form modal-full-height modal-top" role="document">
      <div class="modal-content bgcH-grey-100">
        <div class="modal-header primary-bg">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3 left_side_head">
                <p class="heading_lead"><i class="fas fa-chart-line" aria-hidden="true"></i>New Sales Challan</p>
              </div>
              <div class="col-md-9">
                <div class="btn_header">
                  <a class="btn btn-default waves-effect" (click)="keepOpen=false;saveSaleChallan()">Save </a><a class="btn btn-info waves-effect" (click)="keepOpen=true;saveSaleChallan()">Save and New</a>
                  <button type="button" class="close" (click)="closebtn()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="white-text">×</span> </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-row">
              <div class="form-group col-md-4 col-lg-2 col-xl-2">
                <label>Party</label>
                <div class="input-group adw_select">
                  <div class="input-group adw_select">
                    <select2 [disabled]="Id !== 0" #client_select2 id="client"  [data]="clientNameSelect2" class="control_select" (valueChanged)="onSelected2clientId($event)" autocomplete="true" [options]="clientnamePlaceHolder" [value]="clientNameId" [ngClass]="{'errorSelecto': submitSave && invalidObj?.clientNameId }"></select2>
                  </div>
                </div>
              </div>
               <div class="form-group col-md-4 col-lg-2 col-xl-2">
                <label class="fw-500">Challan Date</label>
                <div class="timepicker-input input-icon ">
                  <div class="input-group">
                    <div class="input-group-addon bgc-white bd bdwR-0"><i class="fas fa-calendar-alt"></i></div>
                    <input [disabled]="Id !== 0" (ngModelChange)="changeBillDate($event)" (input)="checkValidation()" type="text" class="form-control start-date flatpickr" id="bill-date" placeholder="Challan Date" [ngClass]="{'errorSelecto': submitSave && invalidObj?.InvoiceDate }" data-provide="datepicker" [(ngModel)]="InvoiceDate" name="InvoiceDate">
                  </div>
                </div>
              </div>
             <div class="form-group col-md-4 col-lg-2 col-xl-2">
                <label>Organization Name</label>
                <div class="input-group adw_select">
                  <div class="input-group adw_select">
                    <select2 [disabled]="Id !== 0" #orgnization_select2  id="organization" [data]="organizationData" class="control_select" (valueChanged)="onChangeOrganizationId($event)" autocomplete="true" [options]="orgnazationPlaceHolder"  [value]="orgNameId"  [ngClass]="{'errorSelecto': submitSave && invalidObj?.orgNameId }"></select2>
                  </div>
                </div>
              </div>
        
               <div class="form-group col-md-4 col-lg-2 col-xl-2">
                <label>Challan NO</label> <label style="font-size: 11px;
      color: #2ea7d5; padding-left: 4px" *ngIf="isManualBillNoEntry && lastBillNo" id="previous-bill-container" > ( Last ChallanNo. is -{{lastBillNo}} )</label>
                <input  type="text" placeholder="Bill Number" (input)="checkValidation()" [disabled]="!isManualBillNoEntry" [ngClass]="{'errorSelecto': submitSave && invalidObj?.BillNo }" class="form-control" name="BillNo" [(ngModel)]="BillNo">
              </div>
       
             
              <div class="form-group col-md-4 col-lg-2 col-xl-2">
                <label for="E-way">E-way Number</label>
                <input type="text" class="form-control" id="e-way" placeholder="E-way Number" (input)="checkValidation()" [ngClass]="{'errorSelecto': submitSave && invalidObj?.EwayBillNo }" class="form-control" name="EwayBillNo" [(ngModel)]="EwayBillNo">
              </div>
                 <div class="form-group col-md-4 col-lg-2 col-xl-2">
                <label for="E-way">Godown</label>
              <div class="input-group adw_select">
                  <div class="input-group adw_select">
                    <select2 [disabled]="Id !== 0" #godown_select2  id="godown" [data]="godownDataType" class="control_select" (valueChanged)="onChangeGodown($event)"  autocomplete="true" [options]="godownPlaceHolder"  [value]="godownId" ></select2>
                  </div>
                </div>
              </div>
                
            </div>
            <div class="card">
              <div class="table-responsive">
                 <table class="table editable_tbl item-table table-hover fixTable1" id="table">
                  <thead>
                    <tr class="default_row">
                      <th></th>
                      <th>#</th>
                      <th *ngFor="let level of categories" >Category</th>
                      <th>Item</th>
                    <ng-container *ngIf="industryId === '2' " >
                     <th *ngFor="let column of attributesLabels ; ">
                          {{column.Name}}
                      </th>
                    </ng-container>
                 
                      <th>Unit</th>
                        <ng-container *ngIf="industryId === '3' " >
                       <th>Length</th>
                       <th>Height</th>
                       <th>Width</th> 
                      </ng-container>
                       <ng-container *ngIf="industryId === '5' " >
                        <th>Mfd Date</th>
                        <th>Expiry Date</th>
                        <th>Batch No</th>
                      </ng-container>
                       <ng-container *ngIf="industryId === '6' " >
                        <th>Batch No</th>
                        <th>Expiry Date</th>
                      </ng-container>
                      <th>Remark</th>
                      <th>Quantity</th>
                      <th>Rate</th>
                      <th>Total Amount</th>
                    </tr>
                  </thead>
              
                    <tr class="default_row" *ngFor="let item of localItemas; let i = index;">
                    <td>{{i+1}}</td>
             <td class="profile-pic1" >
                                <div class="edit1">
                                    <a *ngIf="localItemas.length > 0" (click)="deleteItem(i,localItemas[i].LableAttributeVale)" ><i class="fa fa-trash fa-1x" aria-hidden="true"></i></a>
                                   <!--  <a *ngIf="localItemas.length > 0"  ><i class="fas fa-pen fa-1x"></i></a> -->
                                    <a *ngIf="localItemas.length > 0" (click)="editRowItem(i, item , item.Id , localItemas[i].attributeData)" ><i class="fas fa-pen fa-1x"></i></a>
                                </div>
                              </td>
  
  
                      <td  [colSpan]="categories.length">{{item.CategoryName}}</td>
                      <ng-container *ngIf="industryId === '2' " >
                      <td>{{item.ItemName}}</td>
                       <td *ngFor="let value of  localItemas[i].LableAttributeVale; let a = index ">
                            {{localItemas[i].LableAttributeVale && localItemas[i].LableAttributeVale[a]?.AttributeValue[0]?.AttributeName}}
                      </td>
                    </ng-container>
                      <td>{{item.UnitName}}</td>
                        <ng-container *ngIf="industryId === '3' " >
                      <td>{{item.Length}}</td>
                      <td>{{item.Height}}</td>
                      <td>{{item.Width}}</td>
                     </ng-container>
                      <ng-container *ngIf="industryId === '5' " >
                      <td>{{item.MfDate}}</td>   
                      <td>{{item.ExpiryDate}}</td> 
                      <td>{{item.BatchNo}}</td>
                     </ng-container>
                     <ng-container *ngIf="industryId === '6' " >
                      <td>{{item.BatchNo}}</td>
                      <td>{{item.ExpiryDate}}</td> 
                      </ng-container>
                      <td>{{item.Remark}}</td>
                      <td>{{item.Quantity}}</td>
                      <td>{{item.SaleRate}}</td>
                      <td>{{item.TotalAmount}}</td>
                    </tr>
                  <tfoot>
                    <tr class="selected_row active">
                      <td></td>
                      <td>
                        <div class="action_btn">
                          <button type="submit" class="btn btn-primary  btn_add_more" (click)="addItems()">+</button>
                        </div>
                      </td>
                   
                      <ng-container *ngIf="!loading" >
                       <td *ngFor="let category of categories">
                         <div class="input-group adw_select" >
                           <select2 [data]="category.data" #cat_select2 class="control_select"
                             (valueChanged)="onSelectCategory($event, category.level)"
                             autocomplete="true" [options]="{ placeholder: 'Select Category' }" [value]="category.value"
                           ></select2>
                         </div>
                       </td>
                     </ng-container>
                    
                      <td>
                    <div class="input-group adw_select">
                      <select2 #item_select2 [data]="itemCategoryType" class="control_select " (valueChanged)="onSelectItemCategory($event)" autocomplete="true"
                      [options]="itemcategoryPlaceHolder" [value]="itemCategoryId" [ngClass]="{ 'errorSelecto is-invalid ': itemSubmit && invalidObj?.itemCategoryId }" ></select2>
                    </div>
                      </td>
                      
                     <ng-container *ngIf="industryId === '2' " >
  
                      <td *ngFor="let dataAttribute of allAttributeData; let i= index">
    
                     <div class="input-group adw_select">
                      <select2 #atrColour_id [data]="allAttributeData && allAttributeData[i]?.item" class="control_select " (valueChanged)="onChangeAttribute($event ,i ,allAttributeData)" autocomplete="true"
                      [options]="attributeColourPlaceHolder" [value]="attrinuteSetDataId"  ></select2>
                    </div>
                      </td>
  
                      </ng-container>
                       <td>
                         <div class="input-group adw_select">
                                  <select2 [data]="unitDataType" #unit_select2 class="control_select" (valueChanged)="onSelectUnitId($event)"
                                  autocomplete="true" [options]="unitPlaceHolder" [value]="unitId" [ngClass]="{'errorSelecto': itemSubmit && invalidObj?.unitId }"  ></select2>
                                </div>
                      </td>
                           <ng-container  *ngIf="industryId === '3' ">
                         <td>
                        <input  type="number" (input)="calculate();"  class="form-control"   placeholder="Length"  name="Length" [(ngModel)]="Length">
                      </td>
                     
                       <td>
                        <input  type="number" (input)="calculate();"   class="form-control"   placeholder="Height"  name="Height" [(ngModel)]="Height">
                      </td>
                       <td>
                        <input  type="number" (input)="calculate();"   class="form-control"   placeholder="Width"  name="Width" [(ngModel)]="Width">
                      </td>
                     </ng-container>
                     
                  
                        <ng-container *ngIf="industryId === '5' " >
                        <td>
                        <input  (input)="checkValidation()" type="text" class="form-control start-date flatpickr" id="MF-date" placeholder="MF Date"  data-provide="datepicker" [(ngModel)]="MfDate" name="MFDate">
                      </td>
                        <td>
                           <input (input)="checkValidation()" type="text" class="form-control start-date flatpickr" id="Expiry-date" placeholder="Expiry Date"  data-provide="datepicker" [(ngModel)]="ExpiryDate" name="ExpiryDate">
                      </td>
                         <td>
                        <input  type="text"   class="form-control"   placeholder="BatchNo"  name="BatchNo" [(ngModel)]="BatchNo">
                      </td>
                        </ng-container>
                         <ng-container *ngIf="industryId === '6' " >
                        <td>
                        <input  type="text"   class="form-control"   placeholder="BatchNo"  name="BatchNo" [(ngModel)]="BatchNo">
                      </td>
                      <td>
                           
                           <input (input)="checkValidation()" type="text" class="form-control start-date flatpickr" id="Expiry-date" placeholder="Expiry Date"  data-provide="datepicker" [(ngModel)]="ExpiryDate" name="ExpiryDate">
                      </td>
                        </ng-container>
                         <td>
                        <input  type="text"   class="form-control"   placeholder="Remark"  name="Remark" [(ngModel)]="Remark">
                      </td>
                      <td>
                        <input type="number"   class="form-control" (input)=" validationForItemData();calculate();"  placeholder="Quantity" appIncludeDecimal name="Quantity" [(ngModel)]="Quantity">
                      </td>
                      <td >
                        <input type="number"  class="form-control"  (input)="calculate();" placeholder="Rate" appIncludeDecimal name="Rate"  [(ngModel)]="Rate">
                      </td>
                      <td >
                        <input type="number" readonly="true" class="form-control" placeholder="Total Amount" appIncludeDecimal name="TotalAmount" [(ngModel)]="TotalAmount">
                      </td>
                    </tr>
                    </tfoot>
                
                </table>
              </div>
            </div>
            <div class="form-row mt-4">
              <div class="col-md-6 card p-3">
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label class="fw-500">Supply Date</label>
                 <div class="timepicker-input input-icon ">
                  <div class="input-group">
                    <div class="input-group-addon bgc-white bd bdwR-0"><i class="fas fa-calendar-alt"></i></div>
                    <input (input)="checkValidation()" type="text" class="form-control start-date flatpickr" id="supply-date" placeholder="Supply Date" [ngClass]="{'errorSelecto': submitSave && invalidObj?.SupplyDate }" data-provide="datepicker" [(ngModel)]="SupplyDate" name="SupplyDate">
                  </div> 
                </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label class="">Location To</label>
                   <input type="text" class="form-control" id="Location" placeholder="Location" (input)="checkValidation()" [ngClass]="{'errorSelecto': submitSave && invalidObj?.EwayBillNo }" class="form-control" name="Location" [(ngModel)]="LocationTo">
                  </div>
                  <div class="form-group col-md-4">
                    <label>Vehicle Number</label>
                    <input type="text" class="form-control" id="VehicleNo" placeholder="Vehicle No" (input)="checkValidation()" [ngClass]="{'errorSelecto': submitSave && invalidObj?.VehicleNo }" class="form-control" name="VehicleNo" [(ngModel)]="VehicleNo">
                  </div>
                    <div class="form-group col-md-6">
                    <label>Driver Name</label>
                     <input type="text" class="form-control" id="Drivername" placeholder="Driver name" (input)="checkValidation()" [ngClass]="{'errorSelecto': submitSave && invalidObj?.Drivername }" class="form-control" name="Drivername" [(ngModel)]="Drivername">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Transportation</label>
                    <input type="text" class="form-control" id="Transportation" placeholder="Transportation" (input)="checkValidation()" [ngClass]="{'errorSelecto': submitSave && invalidObj?.Transportation }" class="form-control" name="Transportation" [(ngModel)]="Transportation">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Address </label>
                      <div class="input-group adw_select">
                       <select2 #state_Select2Id [data]="stateList" class="control_select"
                          (valueChanged)="selectStatelist($event)" autocomplete="true"
                         [options]="stateListplaceHolder" [value]="stateValue" [ngClass]="{'errorSelecto': submitSave && invalidObj?.stateId }" > 
                         </select2>
                  </div>
                  </div>
             
                </div>
              </div>
              <div class="col-md-6 card p-3">
                <div class="form-row">
                  <div class="form-group col-md-2">
                    <label>Other Charge</label>
                    <input type="number" class="form-control" id="OtherCharge" placeholder="Other Charge" (input)="checkValidation();calculate()" [ngClass]="{'errorSelecto': submitSave && invalidObj?.OtherCharge }" class="form-control" name="OtherCharge" [(ngModel)]="OtherCharge">
                  </div>
                  <div class="form-group col-md-2">
                    <label>Freight</label>
                   <input type="text" class="form-control"  id="TotalFreight" placeholder="Total Freight" (input)="checkValidation();calculate()" [ngClass]="{'errorSelecto': submitSave && invalidObj?.TotalFreight }" class="form-control" name="TotalFreight" [(ngModel)]="TotalFreight">
                  </div>
                  <div class="form-group col-md-4">
                    <label>Freight-By</label>
                    <div class="input-group adw_select">
                        <select2 #freight_By [data]="freightByData" class="control_select " (valueChanged)="onChangeFreight($event)" [options]="frightPlaceholder" autocomplete="true" [value]="freightByValue"  [ngClass]="{ 'errorSelecto is-invalid ': submitClick &&  catagoryError }"></select2>
                      </div>
                  </div>
                   <div class="form-group  col-md-4">
                          <label> Commission</label>
                                 <div class="discount">
                                  <input type="text" class="form-control Input_width" appIncludeDecimal name="CommisionRate"  placeholder="Commission " [(ngModel)]="CommisionRate">
                                  <select (ngModelChange)="changeCommisiontrate($event)" class="form-control discount_type" id="CommisionRate" [(ngModel)]="CommisionRateType"  name="CommisionRateType" >
                                    <option *ngFor="let value of currencyValues;" [value]="value.id" >{{value.symbol}}</option>
                                  </select>
                                </div>
                        </div>
                  <div class="form-group col-md-6">
                    <label for="bill_no">Referal Type </label>
                    <div class="input-group adw_select">
                      <div class="input-group adw_select">
                        <select2 #referal_type  [data]="referalsType" class="control_select " (valueChanged)="onChangeReferalsType($event)" autocomplete="true" [options]="referalsPlaceHolder"  [value]=''  ></select2>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="bill_no">Referal </label>
                    <div class="input-group adw_select">
                      <div class="input-group adw_select">
                        <select2 #referal_id [data]="referals" class="control_select "  [value]='' (valueChanged)="onChangeReferals($event)" autocomplete="true" [options]="referalsTypePlaceHolder"></select2>
                      </div>
                    </div>
                  </div>
            
               
  
                  <div class="form-group col-md-4">
                    <label>Total Quantity</label>
                    
                       <input type="number" readonly="true" class="form-control" id="TotalQuantity" placeholder="Total Quantity" (input)="checkValidation();" [ngClass]="{'errorSelecto': submitSave && invalidObj?.TotalQuantity }" class="form-control" name="TotalQuantity" [(ngModel)]="TotalQuantity">
                  </div>
                  
                  <div class="form-group col-md-4">
                    <label>Net Amount</label>
                   
                    <input type="number" readonly="true" class="form-control" placeholder="Total Amount" appIncludeDecimal name="netBillAmount"  [(ngModel)]="netBillAmount">
                  </div>
                </div>
              </div>
              
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  