<!--  Created by bharat  -->
<div
  class="modal fade"
  id="transactionNumberModal"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog large_form modal-full-height modal-top"
    role="document"
  >
    <div class="modal-content bgcH-grey-100">
        <form
        #transactionNumberFormControl="ngForm"
        (ngSubmit)="transactionNumberFormControl.form.valid && submitForm()" novalidate>
        <!--Header-->
        <div class="modal-header primary-bg">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-9 left_side_head">
                <p class="heading_lead">
                  <i class="far fa-building"></i>Organization Transaction Number Setting
                </p>
              </div>
              <div class="col-md-3">
                <div class="btn_header">
                  <button type="submit"
                   class="btn btn-default waves-effect">
                    Save
                  </button>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                    (click)="onCloseModal()">
                    <span aria-hidden="true" class="white-text">×</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Body-->
        <div class="modal-body">
            <div class="card">
                <div class="card-body">
                  <div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-row">
                          <div class="form-group col-md-4">
                            <label>Organisation</label>
                            <div class="input-group adw_select">
                              <div class="input-group adw_select">
                                <select2
                                  [data]="dropDownList?.organizationList"
                                  class="control_select"
                                  (valueChanged)="onOrganisationChange($event)"
                                  autocomplete="true"
                                  [value]="modal.OrgValue"
                                >
                                </select2>
                              </div>
                            </div>
                          </div>
                          <div class="form-group col-md-4">
                            <label>Financial Year</label>
                            <div class="input-group adw_select">
                              <div class="input-group adw_select">
                                <select2
                                  [data]="dropDownList?.financialYearList"
                                  class="control_select"
                                  (valueChanged)="onFinancialYearChange($event)"
                                  autocomplete="true"
                                  [value]="modal.FinYearValue"
                                >
                                </select2>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                    <div class="bgc-white bdrs-3 mB-20">
                      <div class="table-responsive table_height">
                        <table class="table cat-table table-hover transaction-no-table">
                          <thead>
                            <tr class="default_row">
                              <th> 
                                <div class="custom-control custom-checkbox">
                                  <input
                                    id="transactionCheck"
                                    name="transactionCheck"
                                    [(ngModel)]="checkAll"
                                    (change)="selectAllTransation($event)"
                                    type="checkbox"
                                    class="custom-control-input"
                                  />
                                  <label class="custom-control-label" for="transactionCheck"
                                  ></label
                                >
                                </div>
                              </th>
                              <th width="10%">Sr No.</th>
                              <th>Transaction Type</th>
                              <th>String Value</th>
                              <th>Numeric Value</th>
                              <th>Sufix</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of transactionNumberList; let i = index">
                              <td>
                                <div class="custom-control custom-checkbox">
                                  <input
                                    id="{{i}}-{{item.Name}}"
                                    name="{{i}}-{{item.Name}}"
                                    [(ngModel)]="item.Checked"
                                    type="checkbox"
                                    class="custom-control-input"
                                    (change)="invalidateNumericValue(item,i)"
                                  />
                                  <label class="custom-control-label" for="{{i}}-{{item.Name}}"
                                  ></label
                                >
                                </div>
                              </td>
                              <td>{{i+1}}</td>
                              <td>{{item?.TransactionType}}</td>
                              <td>
                                <input
                                  type="text"
                                  class="form-control"
                                  name="{{i}}-StringValue"
                                  [(ngModel)]="item.StringValue"
                                  [disabled]="!item.Checked"
                                />
                              </td>
                              <td>
                                  <input
                                  type="text"
                                  class="form-control"
                                  name="{{i}}-NumericValue"
                                  [(ngModel)]="item.NumericValue"
                                  [disabled]="!item.Checked"
                                  (input)="validateNumericValue(item, i)"
                                  [ngClass]="{'is-invalid': item.inValid}"
                                />
                              </td>
                              <td>
                                  <input
                                  type="text"
                                  class="form-control"
                                  name="{{i}}-SuffixValue"
                                  [(ngModel)]="item.SuffixValue"
                                  [disabled]="!item.Checked"
                                />
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </form>
      </div>
    </div>
  </div>
