<main class="main-content2 bgc-grey">
    <div id="mainContent">
        <div class="page-header p-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 left_side_head">
                        <p class="heading_lead c-grey-900 mb-0"><i class="fa fa-chart-line"></i>Trading</p>
                </div>
                <div class="col-md-8 right_saerch_side p-0">
                        <div class="mr-2">
                            <form>
                                    <div id="custom-search-input" class="btn_header1">
                                        <div class="input-group col-md-12">
                                            <input type="text" class="form-control input-lg" placeholder="Search"
                                               />
                                            <span class="input-group-btn">
                                                <a>
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                      <div class="btn_header">
                        <a>
                          <img (click)="openprint('open_tradingPrint')" src="assets/img/printer.png">
                        </a>
                        <a>
                          <img src="assets/img/pdf.png"></a>
                        <a>
                          <img  src="assets/img/excel.png"></a>
                       <!--      <button   type="button" class="btn btn-primary waves-effect waves-light" (click)="openSaleDirect('')" >
                          New invoice</button> -->
                        <a (click)="toggleSearch()" class="btn btn-info" data-toggle="collapse"><i class="fas fa-search"></i>Search</a>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <app-balance-sheet-search [toShow]="toShowSearch" ></app-balance-sheet-search>

        <!-- <app-search [toShow]="toShowSearch" ></app-search> -->
        <!-- <div class="row animated-background">
                <div class="col-md-12">
                    <div class="bgc-white bdrs-3 mB-20">
                        <div class="table-responsive table_height">
                             <table  class="table cat-table table-hover"> 
                                    <ng-container >
                                            <th style="width:1px" > # </th>
                                            <th  >Liabilities </th>
                                            <th class="text-right" >Amount </th>
                                            <th  > Assets</th>
                                            <th class="text-right" >Amount </th>
                                           
                                            
                                          </ng-container>
                                      
                              
                                <tbody> 
                                <ng-container *ngFor="let item of mainData; let i = index" > 
                 <tr *ngIf="item.ItemId === 0"  id='accordionExample'  class="default_row"   [ngClass]="{
                                    'category-bg':item.ItemId === 0,
                                    'item-bg':item.ItemId !== 0,
                                    'attribute-bg':item.AttributeId === 1
                                  }">
                                  <td  class="profile-pic1 collapsed new-clas"  data-target="#collapseThree33" data-toggle="collapse"
                                  data-role="expander" >
                                    <div class="edit1 ">                      
                                        <a *ngIf="item.ItemId === 0 " (click)="collapsed1=!collapsed1;toggleCategory(i)" ><i class= " fas fa-minus-circle "></i></a>
                                       
                                    </div>
                                  </td>
                                    <td  [ngClass]="{
                                        'pl-2':item.ItemId === 0,
                                        'pl-4':item.ItemId !== 0,
                                        'pl-5':item.AttributeId === 1
                                      }" >{{item.Name}}</td>
                                    <td>{{item.Quantity}}</td>
                                    <td class="text-right">{{item.DiscountAmt}}</td>
                                   
                                    </tr>
                  <tr *ngIf="item.ItemId !== 0 && item.AttributeId !== 1 && collapsed1" id='collapseThree33'   class="default_row "   [ngClass]="{
                                      'category-bg':item.ItemId === 0,
                                      'item-bg':item.ItemId !== 0,
                                      'attribute-bg':item.AttributeId === 1
                                    }">
                                    <td class="profile-pic1" data-target="#collapseThreeAttribute" data-toggle="collapse"
                                    data-role="expander" >
                                      <div class="edit1">                      
                                          <a *ngIf="item.ItemId !== 0 && item.AttributeId !== 1" (click)="toggleAttribute=!toggleAttribute" ><i class="fas fa-minus-circle"></i></a>
                                         
                                      </div>
                                    </td>
                                      <td  [ngClass]="{
                                          'pl-2':item.ItemId === 0,
                                          'pl-4':item.ItemId !== 0,
                                          'pl-5':item.AttributeId === 1
                                       
                                        }" >{{item.Name}}</td>
                                      <td>{{item.Quantity}}</td>
                                      <td class="text-right">{{item.DiscountAmt}}</td>
                                     
                                      </tr>
                   <tr *ngIf="item.AttributeId === 1 && toggleAttribute "  id='collapseThreeAttribute' data-parent="#accordionExample" class="default_row collapse"   [ngClass]="{
                                        'attribute-bg':item.AttributeId === 1
                                      }">
                                      <td class="profile-pic1" >
                                       
                                      </td>
                                        <td  [ngClass]="{
                                            'pl-2':item.ItemId === 0,
                                            'pl-4':item.ItemId !== 0,
                                            'pl-5':item.AttributeId === 1
                                          }" >{{item.Name}}</td>
                                        <td>{{item.Quantity}}</td>
                                        <td class="text-right">{{item.DiscountAmt}}</td>
                                      
                                        </tr>
                                    </ng-container>
                                
                                </tbody>
                            </table>  
                            
                            
                        </div>
                    </div>
                </div>
              </div> -->

              <div class="mt-2 main-balance">
                <div class="row justify-content-center">
                 <div class="balancesheet bgc-white col-md-11">  
                   <div class="row text-center bs_head p-2">
                        <div class="name text-center col-md-12 font-weight-bold name_size"> {{ loggedinUserData.Name }} </div>
                        <div class="name text-center col-md-12 font-weight-bold">Trading </div>
                        <!-- <div class="text-center col-md-12 font-weight-bold">As on Date {{dateShow | dateFormat:clientDateFormat }}</div> -->
                        <div class="text-center col-md-12 font-weight-bold">
                         <!--   As on Date To From {{fromDateShow  | dateFormat:clientDateFormat }} To {{todateShowHtml  | dateFormat:clientDateFormat }} -->
                        For the year ended {{todateShowHtml  | dateFormat:clientDateFormat }}
                        </div>

                    </div>
                      <div class="row thead">
                        <div class="col-3 font-weight-bold text-center"> Particulars</div>
                        <div class="col amount_bs bdr_gray font-weight-bold">Amount </div>
                        <div class="col amount_bs bdr_gray font-weight-bold">Amount</div>

                        <div class="col-3 font-weight-bold text-center">Particulars</div>
                        <div class="col amount_bs font-weight-bold">Amount</div>
                        <div class="col amount_bs bdr_gray font-weight-bold">Amount</div>

                    </div>
                     <div class="row tbody">
                        <div class="col-md-6 p-0 bdr_gray border-right">
                            <div class="col-md-12">
                                <div class="row" *ngFor = "let item of headI2dData; let i =index" >
                                    <div class="col-md-6">
                                        <div *ngIf='item.HeadId === 2 ' [ngClass]="(item.HeadId === 2 && item.LevelNo ===1)?'font-weight-bold':'font-weight-normal'"  [ngStyle]="{'padding-left':item.HeadId === 2 && item.LevelNo ===2 ? '20px' : item.HeadId === 2 && item.LevelNo ===3 ? '40px' : '0px' }" class="panel-title"> 
                                           <a  data-toggle="collapse">{{item.GlName}}</a>

                                        </div>
                                       
                                    </div>
                                    <div class="col">
                                      <ng-container>
                                              <div  class='align-righ'  *ngIf='item.HeadId === 2 && item.LevelNo !== 1'  class="amount_bs">
                                                      {{(item.Amount).toFixed(decimalDigit)}}
                                                   </div>
                                      </ng-container>
                              </div>
                                    <div class="col">
                                            <ng-container>
                                                    <div  class='align-righ'   [ngClass]="(item.HeadId === 2 && item.LevelNo ===1)?'font-weight-bold':'font-weight-normal'"  *ngIf='item.HeadId === 2 && item.LevelNo === 1'  class="amount_bs">
                                                            {{(item.Amount1).toFixed(decimalDigit)}}
                                                         </div>
                                            </ng-container>
                                        </div>
                                      
                                </div>
                            </div>
                          
                        </div>
                        <div class="col-md-6 p-0">
                            <div class="col-md-12">
                                <div class="row"  *ngFor = "let item of headI1dData; let a =index" >
                                    <div class="col-md-6">
                                        <div   *ngIf= 'item.HeadId === 1'  [ngClass]="(item.HeadId === 1 && item.LevelNo ===1)?'font-weight-bold':'font-weight-normal'"   [ngStyle]="{'padding-left':item.HeadId === 1 && item.LevelNo ===2 ? '20px' : item.HeadId === 1 && item.LevelNo ===3 ? '40px' : '0px' }" class="panel-title"><a  data-toggle="collapse">{{item.GlName}}</a></div>
                                  
                                    </div>
                                    <div class="col">
                                      <ng-container>
                                              <div class='align-righ'   *ngIf='item.HeadId === 1 && item.LevelNo !== 1'  class="amount_bs">
                                                      {{(item.Amount).toFixed(decimalDigit)}}
                                                   </div>
                                      </ng-container>
      
                              </div>
                                    <div class="col">
                                            <ng-container>
                                                    <div class='align-righ'  [ngClass]="(item.HeadId === 1 && item.LevelNo ===1)?'font-weight-bold':'font-weight-normal'"   *ngIf='item.HeadId === 1 && item.LevelNo === 1'  class="amount_bs">
                                                            {{(item.Amount1).toFixed(decimalDigit)}}
                                                         </div>
                                            </ng-container>
                                        </div>
                            
                                </div>
                                
                            </div>
                         
                        </div>
                     </div>
           
                     <div class="row tfoot">
                      <div class="col-3 text-right font-weight-bold text-center">Total</div>
                      <div  class="col amount_bs bdr_gray font-weight-bold">{{(headervalue2).toFixed(decimalDigit)}}</div>
                      <div class="col-3 text-right font-weight-bold"></div>
                      <div class="col amount_bs font-weight-bold">{{(headervalue1).toFixed(decimalDigit)}}</div>
                  </div>
                </div>
                    </div>
                </div>
    </div>
</main>
<body id='open_tradingPrint'>
    <div class="modal" id="mainContent">
        <div class=" mt-2 main-balance">
            <div class="row justify-content-center p-0">
                <div class="balancesheet bgc-white col-md-11 p-0">
                    <div class="row text-center bs_head p-2">
                            <div id="logo " class="col-md-3" style="text-align: left;">
                                <img height="75px" src="{{orgDetails.ImageContents && orgDetails.ImageContents[0]?.FilePath}}">
                            </div>
                            <div class="col-md-6">
                                <div class="name text-center col-md-12 name_size font-weight-bold">
                                    {{orgDetails.OrganizationDetails && orgDetails.OrganizationDetails[0]?.OrgName}}</div>
                                  <div class="text-center col-md-12">{{orgDetails.AddressDetails && orgDetails.AddressDetails[0]?.CityName}}
                                    {{orgDetails.AddressDetails && orgDetails.AddressDetails[0]?.StateName}}
                                    {{orgDetails.AddressDetails && orgDetails.AddressDetails[0]?.CountryName}}
                                  </div>
                                  <div class="name text-center col-md-12 font-weight-bold" style="font-size:18px; letter-spacing:3px;">
                                       Trading</div>
                                  <div class="text-center col-md-12" style="font-weight:600;"> For the year ended {{todateShowHtml | dateFormat:clientDateFormat }}
                                    </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="row thead">
                            <div class="col-3 font-weight-bold text-center"> Particulars</div>
                            <div class="col amount_bs bdr_gray font-weight-bold ">Amount </div>
                            <div class="col amount_bs bdr_gray font-weight-bold " style="padding-right: 13px;">Amount</div>
    
                            <div class="col-3 font-weight-bold text-center">Particulars</div>
                            <div class="col amount_bs font-weight-bold">Amount</div>
                            <div class="col amount_bs bdr_gray font-weight-bold" style="padding-right: 5px;">Amount</div>
    
                        </div>
                         <div class="row p-0 tbody">
                            <div class="col-md-6  bdr_gray bdr_right">
                                <div class="col-md-12">
                                    <div class="row" *ngFor = "let item of headI2dData; let i =index" >
                                        <div class="col-md-6">
                                            <div *ngIf='item.HeadId === 2 ' [ngClass]="(item.HeadId === 2 && item.LevelNo ===1)?'font-weight-bold':'font-weight-normal'"  [ngStyle]="{'padding-left':item.HeadId === 2 && item.LevelNo ===2 ? '20px' : item.HeadId === 2 && item.LevelNo ===3 ? '40px' : '0px' }" class="panel-title"> 
                                               <a  data-toggle="collapse">{{item.GlName}}</a>
    
                                            </div>
                                           
                                        </div>
                                        <div class="col">
                                          <ng-container>
                                                  <div  class='align-righ'  *ngIf='item.HeadId === 2 && item.LevelNo !== 1'  class="amount_bs">
                                                          {{(item.Amount).toFixed(decimalDigit)}}
                                                       </div>
                                          </ng-container>
                                  </div>
                                        <div class="col">
                                                <ng-container>
                                                        <div  class='align-righ'   [ngClass]="(item.HeadId === 2 && item.LevelNo ===1)?'font-weight-bold':'font-weight-normal'"  *ngIf='item.HeadId === 2 && item.LevelNo === 1'  class="amount_bs">
                                                                {{(item.Amount1).toFixed(decimalDigit)}}
                                                             </div>
                                                </ng-container>
                                            </div>
                                          
                                    </div>
                                </div>
                              
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-12">
                                    <div class="row"  *ngFor = "let item of headI1dData; let a =index" >
                                        <div class="col-md-6">
                                            <div   *ngIf= 'item.HeadId === 1'  [ngClass]="(item.HeadId === 1 && item.LevelNo ===1)?'font-weight-bold':'font-weight-normal'"   [ngStyle]="{'padding-left':item.HeadId === 1 && item.LevelNo ===2 ? '20px' : item.HeadId === 1 && item.LevelNo ===3 ? '40px' : '0px' }" class="panel-title"><a  data-toggle="collapse">{{item.GlName}}</a></div>
                                      
                                        </div>
                                        <div class="col">
                                          <ng-container>
                                                  <div class='align-righ'   *ngIf='item.HeadId === 1 && item.LevelNo !== 1'  class="amount_bs">
                                                          {{(item.Amount).toFixed(decimalDigit)}}
                                                       </div>
                                          </ng-container>
          
                                  </div>
                                        <div class="col ">
                                                <ng-container>
                                                        <div class='align-righ'  [ngClass]="(item.HeadId === 1 && item.LevelNo ===1)?'font-weight-bold':'font-weight-normal'"   *ngIf='item.HeadId === 1 && item.LevelNo === 1'  class="amount_bs">
                                                                {{(item.Amount1).toFixed(decimalDigit)}}
                                                             </div>
                                                </ng-container>
                                            </div>
                                
                                    </div>
                                    
                                </div>
                             
                            </div>
                         </div>
               
                         <div class="row tfoot">
                          <div class="col-3 text-right font-weight-bold text-center">Total</div>
                          <div  class="col amount_bs bdr_gray font-weight-bold" style="padding-right: 5px;">{{(headervalue2).toFixed(decimalDigit)}}</div>
                          <div class="col-3 text-right font-weight-bold"></div>
                          <div class="col amount_bs font-weight-bold" style="padding-right: 5px;">{{(headervalue1).toFixed(decimalDigit)}}</div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</body>