<div id="demo" class="collapse bgc-white" [ngStyle]="{'display': toShow ? 'block' : 'none'}" >
    <form [formGroup]="searchForm" (ngSubmit)="search()" noValidate >
       <div class="form-row p-2">
           <div class="col-lg-3 p-3 border-right">
                <div class="form-row">
                    <div class="col-md-12 form-group" >
                        <label class="text-center m-auto d-block">Select Date For</label>
                        <div class="input-group adw_select">
                            <div class="input-group adw_select">
                                <select2 #date_select2 id="vendor" 
                                    [data]="dataValues" class="control_select"
                                    autocomplete="true"
                                    (valueChange)="DateType = +$event.value"
                                    [options]="{placeholder: 'Select Vendor'}"
                                    [value]="dateValue">
                                </select2>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col" >
                        <div class="timepicker-input input-icon">
                            <label for="todate">From</label>
                            <datepicker-popup
                                #fromdate
                                [toSetDate]="searchForm?.get('ToDate')?.value"
                                (dateInFormat)="setFromDate($event)"
                                [class]="f.FromDate?.errors?.isValidDate" >
                            </datepicker-popup>
                        </div>
                    </div>
                    <div class="form-group col" >
                        <div class="timepicker-input input-icon">
                            <label for="todate">To</label>
                            <datepicker-popup
                                [toSetDate]="searchForm?.get('ToDate')?.value"
                                (dateInFormat)="setToDate($event)"
                                [class]="f.ToDate?.errors?.isValidDate" >
                            </datepicker-popup>
                        </div>
                    </div>
                </div>
           </div>
           <div class="col-lg-2 p-3 border-right">
               <div class="form-row">
                    <label class="text-center d-block m-auto">Amount</label>
                    <div class="form-group col-md-12">
                        <input type="text" appIncludeDecimal class="form-control"
                        [ngClass]="{'errorSelecto': f.FromAmount?.errors?.isValidAmount }"
                        formControlName="FromAmount" id="fromamount" placeholder="From Amount">
                    </div>
                    <div class="form-group col-md-12">
                        <input type="text" appIncludeDecimal class="form-control"
                        [ngClass]="{'errorSelecto': f.ToAmount?.errors?.isValidAmount }"
                        formControlName="ToAmount" id="toamount" placeholder="To Amount">
                    </div>
               </div>
           </div>
           <div class="col-lg-7 p-3 border-right">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="bill_no">Country</label>
                        <div class="input-group adw_select">
                            <select2 [data]="countryListSelect2"
                                #countrySelect2
                                class="control_select" (valueChanged)="selectCountry($event)"
                                autocomplete="true" [options]="countryPlaceholder"
                                [value]="countryValue">
                            </select2>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="bill_no">State</label>
                        <div class="input-group adw_select">
                            <select2 [data]="stateListSelect2" class="control_select"
                            #stateSelect2
                            (valueChanged)="selectState($event)" autocomplete="true"
                            [options]="stateListPlaceHolder" [value]="stateValue"
                            ></select2>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="bill_no">City</label>
                        <div class="input-group adw_select">
                            <select2 [data]="cityListSelect2" class="control_select"
                            #citySelect2
                            autocomplete="true" (valueChanged)="selectCity($event)"
                            [options]="cityListPlaceHolder"
                            [value]="cityValue" ></select2>
                        </div>
                    </div>
                    <div class="col-md-4 form-group" >
                        <div class="input-group adw_select">
                            <div class="input-group adw_select">
                                <select2 #ledger_select2 id="vendor" 
                                    [data]="suplierNameSelect2" class="control_select"
                                    (valueChanged)="LedgerId = +$event.value"
                                    autocomplete="true"
                                    [options]="{placeholder: 'Select Ledger'}"
                                    [value]="ledgerValue">
                                </select2>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-2 ml-2 float-right p-0">
                        <button type="submit" class="btn btn-primary waves-effect waves-light m-0">Search</button>
                    </div>
                    <div class="form-group col-md-2 p-0 m-0">
                        <button type="button" class="btn btn_close waves-effect m-0" (click)="resetSearch()" >Reset</button>
                    </div>
                </div>
           </div>
       </div>
    </form>
</div>