<!-- header -->
<div class="header navbar">
    <div class="header-container">
      <ul class="nav-right">
        <!-- <li style="padding-top: 15px;">
          <div>
            {{ (loggedinUserData?.LoginUserDetailsinfo)[0]?.OfficeName }} ({{
              (loggedinUserData?.LoginUserDetailsinfo)[0]?.PropertyCode
            }})
          </div>
        </li> -->
        <li class="dropdown">
          <a
            href=""
            class="dropdown-toggle no-after peers fxw-nw ai-c lh-1"
            data-toggle="dropdown"
          >
            <div class="peer mR-10">
              <!-- <img
                *ngIf="
                  (loggedinUserData?.ImageContents)[0]?.FilePath;
                  else defaultImage
                "
                class="w-2r bdrs-50p"
                src="loggedinUserData?.ImageContents[0]?.FilePath"
                alt="loggedinUserData?.ImageContents[0]?.Name"
              /> -->
              <!-- <ng-template> -->
                <img
                  class="w-2r bdrs-50p"
                  src="https://randomuser.me/api/portraits/men/10.jpg"
                />
              <!-- </ng-template> -->
            </div>
            <!-- <div class="peer">
              <span class="fsz-sm c-grey-900">{{
                (loggedinUserData?.LoginUserDetailsinfo)[0]?.Name
              }}</span>
            </div> -->
          </a>
          <ul class="dropdown-menu fsz-sm">
            <li>
              <a href="email.html" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700"
                ><i class="fas fa-envelope mR-10 cH-blue"></i
                ><span>Messages</span></a
              >
            </li>
            <li role="separator" class="divider"></li>
            <li>
                <a class="d-b td-n pY-5 bgcH-grey-100 c-grey-700" 
                 [routerLink]="[ '/organizations' ]" routerLinkActive="active">
                 <i class="fas fa-random mR-10 cH-blue"></i>
                 Switch Organization</a></li>
            <li role="separator" class="divider"></li>
            <li>
              <a class="d-b td-n pY-5 bgcH-grey-100 c-grey-700"
                (click)="_loginService.logOut()"
                ><i class="fas fa-power-off mR-10 cH-blue"></i
                ><span>Logout</span></a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- header -->



<main class="main-content bgc-grey">
  <div id="mainContent">
    <div class="container-fluid">
      <h4 class="c-grey-900">WelCome</h4>
      <div class="row justify-content-md-center align-self-center h-100">
        <div class="col-md-3" *ngFor="let module of modulesList; let i = index">
          <a (click)="navigateTo('dashboard', module, i)">
            <div class="highlight_box">
              <img [src]="module?.src" class="mx-auto d-block" />
              <h3>{{ module?.AlternateName }}</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
