<div class="header navbar">
  <div class="header-container">
      <div class="nav-left align-self-center">
          <div class="left_side_head ml-2">
              <p class="heading_lead text-grey-100"><i class="fas fa-tasks"></i>Modules</p>
          </div>
    </div>
    <ul class="nav-right">
      <li style="padding-top: 10px;" class="text-right">
        <div>
          <b>{{ loggedinUserData?.Name }}</b>
        </div>
        <div>
          <span class="fsz-xsm c-grey-900">
            <b
              >{{ _loginService?.loginUserDetails?.Name }}({{
                _loginService?.loginUserDetails?.Code
              }})</b
            >
          </span>
        </div>
      </li>
      <li class="dropdown">
        <a
          href=""
          class="dropdown-toggle no-after peers fxw-nw ai-c lh-1"
          data-toggle="dropdown"
        >
          <div class="peer mR-10">
            <img class="w-2r bdrs-50p" src="../../../assets/img/man.png" />
          </div>
        </a>
        <ul class="dropdown-menu fsz-sm">
          <li>
            <a
              class="d-b td-n pY-5 bgcH-grey-100 c-grey-700"
              [routerLink]="['/org-financial-years']"
              routerLinkActive="active"
            >
              <i class="fas fa-random mR-10 cH-blue"></i>
              Switch Financial Year</a
            >
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a
              class="d-b td-n pY-5 bgcH-grey-100 c-grey-700"
              [routerLink]="['/org-branches']"
              routerLinkActive="active"
            >
              <i class="fas fa-random mR-10 cH-blue"></i>
              Switch Branches</a
            >
          </li>
          <li role="separator" class="divider"></li>
          <li role="separator" class="divider"></li>
          <li>
            <a
              class="d-b td-n pY-5 bgcH-grey-100 c-grey-700"
              [routerLink]="['/organizations']"
              routerLinkActive="active"
            >
              <i class="fas fa-random mR-10 cH-blue"></i>
              Switch Organization</a
            >
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a
              class="d-b td-n pY-5 bgcH-grey-100 c-grey-700"
              (click)="_loginService.logOut()"
              ><i class="fas fa-power-off mR-10 cH-blue"></i
              ><span>Logout</span></a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<main class="main-content2 bgc-grey">
  <div class="container">
    <div class="row flex-column justify-content-center pt-3">
      <div>
          <h3 class="c-grey-900 heading_welcome text-center mb-0 pb-0">
              Welcome to The World of <strong>Saniiro</strong>
            </h3>
      </div>
      <div> <p class="text-center font_size_sub">Simplify Your Business</p></div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="row head_sub">

          <div class="col-md-12">
          </div>
        </div>
        <div class="row justify-content-md-center align-self-center">
          <img
            src="../../../assets/img/saniiro-erp.png"
            class="img-fluid m-auto text-center"
          />
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="highlight_box2"
          *ngFor="let module of _loginService?.userData?.Modules; let i = index;"
        >
          <a (click)="navigateTo('dashboard', module, i)">
            <div class="row">
              <div class="col-md-3 grid_left border-right">
                <img [src]="module?.src" class="mx-auto d-block" />
              </div>
              <div class="col-md-9 align-self-center">
                <h3 class="text-center">{{ module?.AlternateName }}</h3>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
