<main class="main-content bgc-grey">
    <div id="mainContent">
        <div class="page-header p-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 left_side_head">
                        <p class="heading_lead c-grey-900 mb-0"><i class="fas fa-tags"></i>Category</p>
                    </div>
                     <div class="col-md-8 p-0" >
                        <div class="right_saerch_side">
                            <div class="mr-2">
                                <form [formGroup]="searchForm">
                                    <div id="custom-search-input" class="btn_header1">
                                        <div class="input-group col-md-12">
                                            <input type="text" 
                                            class="form-control input-lg"
                                            placeholder="Search Category"
                                            formControlName="searckKey"
                                            #searchData
                                            />
                                            <span class="input-group-btn">
                                                <a>
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="btn_header">
                                <a><img src="assets/img/printer.png"> </a>
                                <a><img src="assets/img/pdf.png"></a>
                                <a><img src="assets/img/excel.png"></a>
                                <button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal"
                                    (click)="addCatagory()">Add New</button>
                            </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="bgc-white bdrs-3 pb-3 mB-20">
                    <div class="table-responsive table_height">
                        <table class="table cat-table table-hover">
                            <thead>
                                <tr>
                                    <th width="10%">Sr No.</th>
                                    <th>Category Name</th>
                                    <th>Under Category</th>
                                    <th width="10%">Action</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="isSearching" style="height:100px;" >
                                <img src="assets/img/spinner-blue-circle.gif" alt="loading screen" style="width: 20px;height: 20px;position: absolute;left: 46%;top:46%;" />
                            </tbody>
                            <tbody *ngIf="!isSearching" >
                                <tr *ngFor="let item of categoryDetail | paginate: { itemsPerPage: itemsPerPage, currentPage: p, totalItems: total } ; let i = index"
                                    [attr.data-categoryDetail]="i">
                                    <td>{{lastItemIndex + i + 1}}</td>
                                    <td>{{item.Name}}</td>
                                    <td>{{item.UnderCategory}}</td>
                                    <td>
                                        <a data-toggle="tooltip" data-placement="top" title="Edit" class="actionBtn" >
                                        <i class="fa fa-edit fa-1x" aria-hidden="true"
                                        (click)="editCatagory(item.Id)">
                                        </i></a>
                                        <a data-toggle="tooltip" class="actionBtn" data-placement="bottom" title="Delete" (click)="deleteCatagory(item.Id)"><i
                                        class="fa fa-trash fa-1x" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <app-pagination #paging_comp (lastValueEmitter)="lastItemIndex = $event;"
                (pageNoEmitter)="p = $event;getCategoryDetails();"
                (pageSizeEmitter)="itemsPerPage = $event;getCategoryDetails();" ></app-pagination>
            </div>
        </div>
    </div>
</main>