
<body  class="modal" id="sale_Direct_print_id">
 
    <header class="clearfix">
        <div id="logo">
              <img src="{{orgImage}}" style="width: 58%;max-height: 120px;">
        </div>
        <div id="company">
            <h2 class="name"> {{ClientInfos && ClientInfos[0]?.OfficeName }}</h2>
            <div>
             {{orgAddress && orgAddress[0]?.AddressValue}}
              {{orgAddress && orgAddress[0]?.AreaName}}
              {{orgAddress && orgAddress[0]?.CityName}}
              {{orgAddress && orgAddress[0]?.StateName}}
              {{orgAddress && orgAddress[0]?.CountryName }}</div>
            <div>{{ContactOrgInfo && ContactOrgInfo[0]?.ContactNo }} </div>
            <div><a > {{website && website[0]?.Name}}</a></div>
        </div>

    </header>
    <div class=" header1">
        <h4 style="text-align:center; margin:0;padding:0;">Invoice</h4>
    </div>
    <main>
        <div id="details" class="clearfix">
            <div id="client">
                <table>
                    <tr>
                        <td>Bill NO:</td> 
                        <td><strong>{{InventoryTransactionSales && InventoryTransactionSales[0]?.BillNo }}</strong></td>
                    </tr>
                    <tr>
                        <td>Bill Date : </td>
                        <td><strong>{{InventoryTransactionSales && InventoryTransactionSales[0]?.BillDate | date :'longDate'}}</strong></td>
                    </tr>
                    <!-- <tr>
                        <td>Referance : </td>
                        <td><strong></strong></td>
                    </tr>
                    <tr>
                        <td>Delivery Date : </td>
                        <td><strong>21/12-2019</strong></td>
                    </tr -->
                </table>
            </div>
            <div id="invoice">
                <table>
                    <tr>
                        <td>Driver Name : </td>
                        <td><strong> {{InventoryTransactionSales && InventoryTransactionSales[0]?.Drivername }}</strong></td>
                    </tr>
                     <tr>
                        <td>Transportation : </td>
                        <td><strong> {{InventoryTransactionSales && InventoryTransactionSales[0]?.Transportation }}</strong></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class=" header1">
            <h4 style="text-align:center; margin:0;padding:0;">Detail of Customer</h4>
        </div>
        <div id="details" class="clearfix">
            <div id="client">
                <table>
                     <tr>
                        <td>Name :</td>
                        <td><strong>{{InventoryTransactionSales && InventoryTransactionSales[0]?.LedgerName}}</strong></td>
                    </tr>
                    <tr>
                        <td>Address : </td>
                        <td><strong>{{customerAddress && customerAddress[0]?.AddressValue}} {{customerAddress && customerAddress[0]?.AreaName}}
                            {{customerAddress && customerAddress[0]?.CityName}} {{customerAddress && customerAddress[0]?.StateName}} {{customerAddress && customerAddress[0]?.CountryName }}
                          </strong></td>
                    </tr>
                    <tr>
                        <td>GST No : </td>
                        <td><strong>{{ClientInfos && ClientInfos[0]?.GstinNo }}</strong></td>
                    </tr>


                </table>
            </div>
            <div id="invoice">

            </div>
        </div>
        <div class="table_summery">
        <table border="0" class="table1" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>S.N.</th>
                    <th class="desc" style="width:15%;">Category</th>
                    <th class="desc" style="width:15%;">Item Name</th>
                    <th *ngIf="industryId === '2' " class="desc">Item Description</th>
                    <th class="desc" style="width:15%;">HSN Code</th>
                    <th  *ngIf="industryId === '3' "  class="desc">Length x Height x Width</th>  
                   
                     <ng-container *ngIf="industryId === '5' " >
                      <th>Batch No</th>
                      <th>Expiry Date</th>
                    </ng-container>  
                    <ng-container *ngIf="industryId === '6' " >
                      <th>Batch No</th>
                      <th>Expiry Date</th>
                    </ng-container>  
                    <th class="qty">Qty</th>
                    <th class="desc">Unit</th>
                    <th class="desc">Rate</th>
                   <!--  <th class="desc">Discount</th>
                    <th class="desc">Tax</th>   -->
                    <th class="total">Amount</th> 
                 

                  


                </tr>
            </thead>
            <tbody>
               <tr *ngFor="let item of ItemTransactionactions; let i=index">
                  <td>{{1+i}}</td>
                  <td>{{ item.CategoryName}}</td>
                  <td>{{ item.ItemName}}<br> {{item.Remark}}</td>
                  <td *ngIf="industryId === '2' "  >{{itemAttbute && itemAttbute[i*3]?.attr}} ,{{itemAttbute && itemAttbute[i*3 + 1]?.attr}},
                    ,{{itemAttbute && itemAttbute[i*3 + 2]?.attr}}
                  </td>
                  <td>{{ item.HsnNo}}</td>
                  <td  *ngIf="industryId === '3' " >{{ item.Length}}x{{ item.Height}}x{{ item.Width}}</td>
                  <ng-container *ngIf="industryId === '5' " >
                    <td>{{item.BatchNo}}</td>
                    <td>{{item.ExpiryDate}}</td> 
                   </ng-container>
                    <ng-container *ngIf="industryId === '6' " >
                    <td>{{item.BatchNo}}</td>
                    <td>{{item.ExpiryDate}}</td> 
                    </ng-container>
                  <td >{{ item.Quantity}}</td>
                  <td>{{ item.UnitName}}</td>
                  <td>{{ item.SaleRate}}</td>
                 <!--  <td>{{ item.DiscountAmt}}</td>
                  <td>{{ item.TaxAmount}}</td> -->
                  <td>{{ item.SubTotalAmount}}</td>

                   
                </tr>
               </tbody>
            <tfoot>


                <tr>
                   <td colspan="1" *ngIf="industryId === '2' " ></td>  
                   <td colspan="1" *ngIf="industryId === '3' " ></td>
                    <td colspan="2" *ngIf="industryId === '5' " ></td>
                    <td colspan="2" *ngIf="industryId === '6' " ></td>
                    <td colspan="6">Sub Total Amount</td>
                    <td colspan="2">{{subTotalAmount}} </td>
                </tr>
                <tr>
                   <td colspan="1" *ngIf="industryId === '2' " ></td>  
                   <td colspan="1" *ngIf="industryId === '3' " ></td>
                    <td colspan="2" *ngIf="industryId === '5' " ></td>
                    <td colspan="2" *ngIf="industryId === '6' " ></td>                
                   <td colspan="6">Discount</td>
                    <td colspan="2">{{totalDiscountAmt}} </td>
                </tr>
                <tr *ngFor ="let tax of ItemTaxTrans; let i= index" >  
                    <td colspan="1" *ngIf="industryId === '2' " ></td>  
                   <td colspan="1" *ngIf="industryId === '3' " ></td>
                    <td colspan="2" *ngIf="industryId === '5' " ></td>
                    <td colspan="2" *ngIf="industryId === '6' " ></td>   
                   <td colspan="6">{{tax.Name}}</td>
                    <td colspan="2">{{(tax.Amount).toFixed(2)}} </td>
                </tr>
                  <tr>
                     <td colspan="1" *ngIf="industryId === '2' " ></td>  
                    <td colspan="1" *ngIf="industryId === '3' " ></td>
                    <td colspan="2" *ngIf="industryId === '5' " ></td>
                    <td colspan="2" *ngIf="industryId === '6' " ></td>   
                    <td colspan="6">Freight</td> 
                    <td colspan="2">{{InventoryTransactionSales && (InventoryTransactionSales[0]?.Freight).toFixed(2) }} </td>
                </tr>
                  <tr>
                     <td colspan="1" *ngIf="industryId === '2' " ></td>  
                    <td colspan="1" *ngIf="industryId === '3' " ></td>
                    <td colspan="2" *ngIf="industryId === '5' " ></td>
                    <td colspan="2" *ngIf="industryId === '6' " ></td>   
                    <td colspan="6">Other Charge </td>   
                    <td colspan="2">{{InventoryTransactionSales && (InventoryTransactionSales[0]?.OtherCharge).toFixed(2) }} </td>
                </tr>
                <tr>
                     <td colspan="1" *ngIf="industryId === '2' " ></td>  
                    <td colspan="1" *ngIf="industryId === '3' " ></td>
                    <td colspan="2" *ngIf="industryId === '5' " ></td>
                    <td colspan="2" *ngIf="industryId === '6' " ></td>   
                    <td colspan="6">Bill Amount</td>
                    <td colspan="2">{{billAmount}}  {{InventoryTransactionSales && InventoryTransactionSales[0]?.Currency }}</td>
                </tr>
                <tr>
                    <td colspan="1" *ngIf="industryId === '2' " ></td>  
                    <td colspan="1" *ngIf="industryId === '3' " ></td>
                    <td colspan="2" *ngIf="industryId === '5' " ></td>
                    <td colspan="2" *ngIf="industryId === '6' " ></td>   
                    <td colspan="2">Total Amount In Words : </td>
                    <td colspan="7"><strong>{{word}} {{InventoryTransactionSales && InventoryTransactionSales[0]?.Currency }}</strong></td>
                </tr>
            </tfoot>
        </table>
        </div>
        <div class="table_summery">
                <table border="0" class="table1" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th colspan="6">
                                <h4 style="text-align:center; margin:0;padding:0;">Last Payment Received</h4>
                            </th>
                        </tr>
                        <tr> 
                            <th>S.no</th> 
                            <th>Paymode</th>
                            <th>Ledger  </th>
                            <th>Amount</th>
                            <th>Cheque/DD No.</th>
                            <th>Date</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of paymentModeData; let i =index" >
                            <td>{{i+1}}</td>
                            <td>{{item.Paymode}}</td>
                            <td>{{item.BankLedgerName}}</td>
                            <td>{{(item.Amount).toFixed(2)}}</td>
                            <td>{{item.ChequeNo}}</td>
                            <td>{{item.PayDate | date:'longDate'}}</td>
                        </tr>

                    </tbody>

                </table>


            </div>
            <div>  
                    <h3  style="text-align: right;"   class="name-footer">For : {{ClientInfos && ClientInfos[0]?.OfficeName }}</h3>
                </div>
        <div class="row">
                <p><strong>Terms & Condition</strong></p>
            </div>
            <ul  *ngFor="let term of TermsConditions; let i= index" style="margin:0;">
                <li>{{term.Terms}}</li>
            </ul>
          
    </main>
    <footer>
       
        <div class="row1">
            <div class="col1">
                <div class="row">
                  
                </div>
               
            </div>
            <div  style="text-align: right;" class="col1">Authorised Signatory</div>
            
        </div>
    </footer>

</body>

