<main class="main-content bgc-grey">
  <div id="mainContent">
    <div id="mainContent">
      <div class="modal-header page-header p-0">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-5 left_side_head">
              <p class="heading_lead c-grey-900"><i class="fas fa-chart-line" aria-hidden="true"></i>Purchase Order</p>
            </div>
            <div class="col-md-7">
              <div class="btn_header">
                <!-- <a>
                  <img src="../assets/img/printer.png">
                </a>
                <a>
                  <img src="../assets/img/pdf.png"></a>
                <a>
                  <img src="../assets/img/excel.png"></a> -->
                <button type="button" class="btn btn-primary waves-effect waves-light" (click)="openPO()">Add
                  New</button>
                <button type="button" (click)="toggleSearch()" class="btn btn-primary waves-effect waves-light">
                  Search
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <purchase-order-search [toShow]="toShowSearch"></purchase-order-search>
      <div class="row ">
        <div class="col-md-12">
          <div class="bgc-white bdrs-3 mB-20">
            <div class="table-responsive" id="parent" style="overflow: auto;">
              <table class="table" id="fixTable">
                <thead>
                  <tr>
                    <th>Sr.No.</th>
                    <th>Ledger Name</th>
                    <th>PO No.</th>
                    <th>PoDate</th>
                    <th colspan="2">Expected Delivery Date</th>
                    <th>Remark</th>
                    <th class="text-right" >Amount</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of poData | paginate : {
                    itemsPerPage: itemsPerPage,
                    currentPage: p,
                    totalItems: total
                  }; let i = index;">
                    <td>{{lastItemIndex + i + 1}}</td>
                    <td>{{item.LedgerName}}</td>
                    <td>{{item.PoNo}}</td>
                    <td>{{item.PoDate | dateFormat: clientDateFormat}}</td>
                    <td colspan="2">
                      {{item.ExDeliveryFromDate | dateFormat: clientDateFormat}}&nbsp;&nbsp;{{item.ExDeliveryToDate | dateFormat: clientDateFormat}}
                    </td>
                    <td>{{item.Remark}}</td>
                    <td class="text-right" >{{item.TotalAmount}}</td>
                    <td>
                      <a title="Edit" class="actionBtn" data-toggle="tooltip" data-placement="top" >
                        <i class="fa fa-edit fa-1x" aria-hidden="true" (click)="openPO(item.Id)" ></i>
                      </a>
                      <a title="delete" class="actionBtn" data-toggle="tooltip" data-placement="top" >
                        <i class="fa fa-trash fa-1x" aria-hidden="true" (click)="delete(item.Id)" ></i>
                      </a>
                      <!-- <a  title="print" data-toggle="tooltip" data-placement="top" class="actionBtn" >
                        <i class="fa fa-print fa-1x" aria-hidden="true" (click)="printInvoice(item.Id)" ></i>
                      </a> -->
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th colspan="7"></th>
                    <th class="text-right font-weight-bold">
                      {{(summary?.TotalAmount).toFixed(2) }}
                    </th>
                    <th></th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-pagination (lastValueEmitter)="lastItemIndex = $event" (pageNoEmitter)="p = $event; getPOList()"
  (pageSizeEmitter)="itemsPerPage = $event; getPOList()"></app-pagination>