<main class="main-content bgc-grey">
    <div id="mainContent">
        <div class="page-header p-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 left_side_head">
                    <p class="heading_lead c-grey-900 mb-0"><i class="fas fa-balance-scale" ></i>Unit</p>
                    </div>
                    <div class="col-md-8 p-0" >
                        <div class="right_saerch_side">
                            <div class="mr-2">
                            <form [formGroup]="searchForm">
                                <div id="custom-search-input" class="btn_header1">
                                    <div class="input-group col-md-12">
                                        <input type="text" 
                                        class="form-control input-lg"
                                        placeholder="Search"
                                        formControlName="searckKey"
                                        #searchData
                                        />
                                        <span class="input-group-btn">
                                            <a>
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="btn_header"> 
                            <a><img src="assets/img/printer.png"> </a>
                            <a><img src="assets/img/pdf.png"></a>
                            <a><img src="assets/img/excel.png"></a>
                            <button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal"
                                (click)="addunit()">Add Unit
                            </button>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-md-12">
                <div class="bgc-white bdrs-3 pb-3 mB-20">
                    <div class="table-responsive table_height">
                            <table class="table cat-table table-hover">
                            <thead>
                                <tr>
                                    <th width="7%">Sr No.</th>
                                    <th width="40%">Unit Name</th>
                                    <th width="45%">Unit Type</th>
                                    <th width="8%">Action</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="isSearching" style="height:100px;" >
                                <img src="assets/img/spinner-blue-circle.gif" alt="loading screen" style="width: 20px;height: 20px;position: absolute;left: 46%;top:46%;" />
                            </tbody>
                            <tbody>
                                <tr *ngFor="let item of unitDetail | paginate: { itemsPerPage: itemsPerPage, currentPage: p, totalItems: total };let i = index"  >
                                    <td>{{lastItemIndex + i + 1}}</td>
                                    <td>{{item.Name}}</td>
                                    <td *ngIf="item.IsBaseUnit == true">BaseUnit</td>
                                    <td *ngIf="item.IsBaseUnit != true"></td>
                                    <td>
                                        <a class="actionBtn" data-toggle="tooltip" data-placement="top" title="Edit" (click)="editunit(item.Id)">
                                            <i class="fa fa-edit fa-1x">
                                            </i></a>
                                        <a class="actionBtn" data-toggle="tooltip" data-placement="bottom" title="Delete" (click)="deleteUnit(item.Id)">
                                            <i class="fa fa-trash fa-1x"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</main>
<app-pagination #paging_comp (lastValueEmitter)="lastItemIndex = $event;"
(pageNoEmitter)="p = $event;getUnitDetail();"
(pageSizeEmitter)="itemsPerPage = $event;getUnitDetail();" ></app-pagination>