.height_50 {
   max-height: 66vh;
}
.attribute_header {
   position: relative;
}
.table_challan {
   width: 2200px;
}
.name_size {
   font-size: 19px;
}
.vl {
   border-left: 2px solid #e0e0e054;
   height: 500px;
 }
 .text-right {
text-align: right
 }
 .font-italic{
   font-style: italic;
 }
 .normal {
   font-weight: 500.3;
font-style: normal
 }
 .bold {
   font-weight: bold
 }

 .normal {
 font-weight: 500.3;
font-style: normal
 }
 

 /* font-size: 13px; */