<main class="main-content2 bgc-grey">
    <div id="mainContent">
        <div class="page-header p-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 left_side_head">
                        <p class="heading_lead c-grey-900 mb-0"><i class="fa fa-chart-line"></i>Balance Sheet</p>
                </div>
                <div class="col-md-8 right_saerch_side p-0">
                        <div class="mr-2">
                            <form>
                                    <div id="custom-search-input" class="btn_header1">
                                        <div class="input-group col-md-12">
                                            <input type="text" class="form-control input-lg" placeholder="Search"
                                               />
                                            <span class="input-group-btn">
                                                <a>
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                      <div class="btn_header">
                        <a>
                          <img (click)="openPrint('open_balancePrint')" src="assets/img/printer.png">
                        </a>
                        <a>
                          <img src="assets/img/pdf.png"></a>
                        <a>
                          <img   src="assets/img/excel.png"></a>
                          <a
                          class="btn btn-info"
                          data-toggle="collapse"
                          data-target="#balance_search_form"
                          ><i class="fas fa-search"></i>Search</a
                        >
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <div id="balance_search_form" class="card collapse">
            <div class="card-body ">
              <form
                #ledgerSearchForm="ngForm"
              >
                <div class="form row">
                  <div class="form-group col-md-3">
                    <label class="fw-500">As On Date</label>
                    <div class="timepicker-input input-icon form-group">
                      <datepicker-popup [toSetDate]="toDateShow" 
                      (dateInFormat)="toDateShow = $event;"></datepicker-popup>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="bill_no"> Filter By</label>
                    <ng-select
                     name="formTypeNmae" 
                     [items]="ListTypeFilter" 
                     bindLabel="name" 
                     bindValue="id"
                      placeholder="Select Filter" 
                      (change)="onChangeType($event)" 
                      [(ngModel)]="selectedid">
                    </ng-select>
                  </div>
                  <div class="form-group col-md-2 pt-3">
                    <button (click)="searchButton()"
                      type="submit"
                      class="btn btn-primary waves-effect waves-light"
                    >
                      Search
                    </button>
                  </div>
                  <div class="form-group col-md-1 pt-3">
                    <button type="button" (click)="searchResetButton()" class="btn btn_close waves-effect">Reset</button>
        
                </div>
                </div>
              </form>
            </div>
          </div>
              <div class=" mt-2 main-balance">
                    <div class="row justify-content-center">
            <div class="balancesheet bgc-white col-md-11">  
                   <div class="row text-center bs_head p-2">
                        <div  class="name text-center col-md-12 name_size font-weight-bold"> {{ loggedinUserData.Name }}</div>
                        <div class="name text-center col-md-12 font-weight-bold">Balance Sheet</div>
                        <div class="text-center col-md-12 font-weight-bold">As on 
                            {{toDateShow }}</div>
                    </div>
                 
                    <div class="row thead">
                        <div class="col-3 font-weight-bold "> Liabilities</div>
                        <div class="col amount_bs bdr_gray font-weight-bold">Amount  </div>
                        <div class="col amount_bs bdr_gray font-weight-bold">Amount  </div>
                        <div class="col-3 font-weight-bold">Assets</div>
                        <div class="col amount_bs font-weight-bold">Amount </div>
                        <div class="col amount_bs font-weight-bold">Amount </div>
                    </div>
          
                    <div class="row tbody">
                        <div class="col-md-6 p-0 bdr_gray border-right">
                            <div class="col-md-12">
                                <div class="row" *ngFor = "let item of headI2dData; let i =index" >
                                    <div class="col-md-6">
                                        <div   
                                        (click)="ele.class = ele.class == 'showChildren' ? '' :  'showChildren'"
                                         *ngIf='item.HeadId === 2 ' id='accordionExample' 
                                         [ngClass]="{hideChildren : ele.class !== 'showChildren' ,'bold' : (item.HeadId === 2 && item.LevelNo ===1),'normal' : (item.HeadId === 2 && item.LevelNo ===2),'font-italic' : (item.HeadId === 2 && item.LevelNo ===3) }"  [ngStyle]="{'padding-left':item.HeadId === 2 && item.LevelNo ===2 ? '20px' : item.HeadId === 2 && item.LevelNo ===3 ? '40px' : '0px' }" class="panel-title"
                                         #ele> 
                                           <a    (click)="openLedgerSummary(item);toggleLevel($event,item,i)" data-toggle="collapse">{{item.GlName}}</a>

                                        </div>
                                       
                                    </div>
                                    <div class="col">
                                        <ng-container>
                                            <div  [ngClass]="{'bold' : (item.HeadId === 2 && item.LevelNo ===1),'normal' : (item.HeadId === 2 && item.LevelNo ===2),'font-italic' : (item.HeadId === 2 && item.LevelNo ===3) }"    *ngIf='item.HeadId === 2 && item.LevelNo !== 1'  class="amount_bs">
                                             
                                                    {{(item.Amount).toFixed(decimalDigit)}}
                                                 </div>
                                    </ng-container>
                                    </div>
                                    <div class="col">
                                            <ng-container>
                                                    <div   [ngClass]="{'bold' : (item.HeadId === 2 && item.LevelNo ===1),'normal' : (item.HeadId === 2 && item.LevelNo ===2),'font-italic' : (item.HeadId === 2 && item.LevelNo ===3) }"  *ngIf='item.HeadId === 2 && item.LevelNo === 1'  class="amount_bs">
                                                            {{(item.Amount1).toFixed(decimalDigit)}}
                                                         </div>
                                            </ng-container>
                                           
                                          
                                        </div>
                           
                                </div>
                            </div>
                          
                        </div>
                       
                        <div class="col-md-6 p-0">
                            <div class="col-md-12">
                                <div class="row" *ngFor = "let item of headI1dData; let a =index" >
                                    <div class="col-md-6">
                                        <div   *ngIf= 'item.HeadId === 1'  [ngClass]="{'bold' : (item.HeadId === 1 && item.LevelNo ===1),'normal' : (item.HeadId === 1 && item.LevelNo ===2),'font-italic' : (item.HeadId === 1 && item.LevelNo ===3) }"     [ngStyle]="{'padding-left':item.HeadId === 1 && item.LevelNo ===2 ? '20px' : item.HeadId === 1 && item.LevelNo ===3 ? '40px' : '0px' }" class="panel-title">
                                            <a  (click)="openLedgerSummary(item)"  data-toggle="collapse">{{item.GlName}}</a></div>
                                
                                    </div>
                                    <div class="col">
                                        <ng-container>
                                            <div   [ngClass]="{'bold' : (item.HeadId === 1 && item.LevelNo ===1),'normal' : (item.HeadId === 1 && item.LevelNo ===2),'font-italic' : (item.HeadId === 1 && item.LevelNo ===3) }"   *ngIf='item.HeadId === 1 && item.LevelNo !== 1'  class="amount_bs">
                                                    {{(item.Amount).toFixed(decimalDigit)}}
                                                 </div>
                                    </ng-container>
                                    </div>
                                    <div class="col">
                                            <ng-container>
                                                    <div  [ngClass]="{'bold' : (item.HeadId === 1 && item.LevelNo ===1),'normal' : (item.HeadId === 1 && item.LevelNo ===2),'font-italic' : (item.HeadId === 1 && item.LevelNo ===3) }"   *ngIf='item.HeadId === 1 && item.LevelNo === 1'  class="amount_bs">
                                                            {{(item.Amount1).toFixed(decimalDigit)}}
                                                         </div>
                                            </ng-container>
                                    </div>
                          
                                </div>
                                
                            </div>
                         
                        </div>
                     </div>
                 <div class="row tfoot">
                        <div class="col-3 text-right font-weight-bold">Total</div>
                        <div  class="col amount_bs bdr_gray font-weight-bold">{{(headervalue2).toFixed(decimalDigit)}}</div>
                        <div class="col-3 text-right font-weight-bold">Total</div>
                        <div class="col amount_bs font-weight-bold">{{(headervalue1).toFixed(decimalDigit)}}</div>
                    </div>
                </div>
                    </div>
                </div>
    </div>
</main>
<body id='open_balancePrint'>
        <div class="modal" id="mainContent">
            <div class=" mt-2 main-balance">
                <div class="row justify-content-center p-0">
                    <div class="balancesheet bgc-white col-md-11 p-0">
                        <div class="row text-center bs_head p-2">
                                <div id="logo " class="col-md-3" style="text-align: left;">
                                        <img height="75px" src="{{orgDetails.ImageContents && orgDetails.ImageContents[0]?.FilePath}}">
                                    </div>
                                <div class="col-md-6">
                                    <div class="name text-center col-md-12 name_size font-weight-bold">
                                        {{orgDetails.OrganizationDetails && orgDetails.OrganizationDetails[0]?.OrgName}}</div>
                                      <div class="text-center col-md-12">{{orgDetails.AddressDetails && orgDetails.AddressDetails[0]?.CityName}}
                                        {{orgDetails.AddressDetails && orgDetails.AddressDetails[0]?.StateName}}
                                        {{orgDetails.AddressDetails && orgDetails.AddressDetails[0]?.CountryName}}
                                      </div>
                                      <div class="name text-center col-md-12 font-weight-bold" style="font-size:18px; letter-spacing:3px;">
                                            Balance Sheet</div>
                                      <div class="text-center col-md-12" style="font-weight:600;"> As on {{toDateShow | dateFormat:clientDateFormat }}
                                        </div>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <div class="row thead">
                                    <div class="col-3 font-weight-bold text-center"> Liabilities</div>
                                    <div class="col amount_bs bdr_gray font-weight-bold">Amount  </div>
                                    <div class="col amount_bs bdr_gray font-weight-bold" style="padding-right: 13px;">Amount </div>
                                    <div class="col-3 font-weight-bold text-center">Assets</div>
                                    <div class="col amount_bs font-weight-bold">Amount </div>
                                    <div class="col amount_bs font-weight-bold" style="padding-right: 5px;">Amount </div>
                                </div>
                    
                    <div class="row tbody p-0">
                        <div class="col-md-6 bdr_gray bdr_right">
                            <div class="col-md-12">
                                <div class="row" *ngFor = "let item of headI2dData; let i =index"  >
                                    <div class="col-md-6" >
                                        <div *ngIf='item.HeadId === 2 '  [ngClass]="{'bold' : (item.HeadId === 2 && item.LevelNo ===1),'normal' : (item.HeadId === 2 && item.LevelNo ===2),'font-italic' : (item.HeadId === 2 && item.LevelNo ===3) }"  [ngStyle]="{'padding-left':item.HeadId === 2 && item.LevelNo ===2 ? '20px' : item.HeadId === 2 && item.LevelNo ===3 ? '40px' : '0px' }" class="panel-title" > 
                                           <a  data-toggle="collapse">{{item.GlName}}</a>

                                        </div>
                                       
                                    </div>
                                    <div class="col">
                                        <ng-container>
                                            <div  [ngClass]="{'bold' : (item.HeadId === 2 && item.LevelNo ===1),'normal' : (item.HeadId === 2 && item.LevelNo ===2),'font-italic' : (item.HeadId === 2 && item.LevelNo ===3) }"   *ngIf='item.HeadId === 2 && item.LevelNo !== 1'  class="amount_bs">
                                             
                                                    {{(item.Amount).toFixed(decimalDigit)}}
                                                 </div>
                                    </ng-container>
                                    </div>
                                    <div class="col">
                                            <ng-container>
                                                    <div   [ngClass]="{'bold' : (item.HeadId === 2 && item.LevelNo ===1),'normal' : (item.HeadId === 2 && item.LevelNo ===2),'font-italic' : (item.HeadId === 2 && item.LevelNo ===3) }"  *ngIf='item.HeadId === 2 && item.LevelNo === 1'  class="amount_bs">
                                                            {{(item.Amount1).toFixed(decimalDigit)}}
                                                         </div>
                                            </ng-container>
                                           
                                          
                                        </div>
                           
                                </div>
                            </div>
                          
                        </div>
                       
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <div class="row" *ngFor = "let item of headI1dData; let a =index" >
                                    <div class="col-md-6">
                                        <div   *ngIf= 'item.HeadId === 1' [ngClass]="{'bold' : (item.HeadId === 1 && item.LevelNo ===1),'normal' : (item.HeadId === 1 && item.LevelNo ===2),'font-italic' : (item.HeadId === 1 && item.LevelNo ===3) }"     [ngStyle]="{'padding-left':item.HeadId === 1 && item.LevelNo ===2 ? '20px' : item.HeadId === 1 && item.LevelNo ===3 ? '40px' : '0px' }" class="panel-title"><a  data-toggle="collapse">{{item.GlName}}</a></div>
                                
                                    </div>
                                    <div class="col">
                                        <ng-container>
                                            <div  [ngClass]="{'bold' : (item.HeadId === 1 && item.LevelNo ===1),'normal' : (item.HeadId === 1 && item.LevelNo ===2),'font-italic' : (item.HeadId === 1 && item.LevelNo ===3) }"   *ngIf='item.HeadId === 1 && item.LevelNo !== 1'  class="amount_bs">
                                                    {{(item.Amount).toFixed(decimalDigit)}}
                                                 </div>
                                    </ng-container>
                                    </div>
                                    <div class="col">
                                            <ng-container>
                                                    <div  [ngClass]="{'bold' : (item.HeadId === 1 && item.LevelNo ===1),'normal' : (item.HeadId === 1 && item.LevelNo ===2),'font-italic' : (item.HeadId === 1 && item.LevelNo ===3) }"    *ngIf='item.HeadId === 1 && item.LevelNo === 1'  class="amount_bs">
                                                            {{(item.Amount1).toFixed(decimalDigit)}}
                                                         </div>
                                            </ng-container>
                                    </div>
                          
                                </div>
                                
                            </div>
                         
                        </div>
                     </div>
                 <div class="row tfoot">
                        <div class="col-3 text-right font-weight-bold text-center">Total</div>
                        <div  class="col amount_bs bdr_gray font-weight-bold" style="padding-right: 13px;">{{(headervalue2).toFixed(decimalDigit)}}</div>
                        <div class="col-3 text-right font-weight-bold"></div>
                        <div class="col amount_bs font-weight-bold" style="padding-right: 5px;">{{(headervalue1).toFixed(decimalDigit)}}</div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </body>