<div class="modal right fade" id="bankPopup"  role="dialog" data-backdrop="static" data-keyboard="false">
  <form  [formGroup]="bankForm">
   <div class="modal-dialog modal-full-height modal-right" role="document">
       <div class="modal-content bgcH-grey-100">
           <!--Header-->
           <div class="modal-header primary-bg">
               <div class="container-fluid">
                   <div class="row">
                       <div class="col-md-9 left_side_head">
                           <p class="heading_lead">Bank</p>
                       </div>
                       <div class="col-md-3">
                          <button type="button" class="close" (click)='clearbank()' data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true" class="white-text">×</span>
                          </button>
                       </div>
                   </div>
               </div>
           </div>
           <!--Body-->
           <div class="modal-body">
               <div class="form row">
                   <div class="form-group col-md-12">
                       <label class="active">Bank Name</label>
                       <input #bankname type="text" class="form-control" placeholder=" Bank Name" [ngClass]="{ 'errorTextBoxBorder is-invalid': submitClick && f.banName.errors }"  formControlName="banName">
                   </div>
                   <div class="form-group col-md-12">
                       <label class="active">Account Number</label>
                       <input type="text" class="form-control" [ngClass]="{ 'errorTextBoxBorder is-invalid': submitClick && f.accountNo.errors }" placeholder=" Account Number" formControlName="accountNo">
                   </div>
                   <div class="form-group col-md-6">
                       <label class="active">IFSC Code</label>
                       <input type="text" class="form-control" [ngClass]="{ 'errorTextBoxBorder is-invalid': submitClick && f.ifscCode.errors }" placeholder=" IFSC Code " formControlName="ifscCode">
                   </div>
                   <div class="form-group col-md-6">
                    <label>Opening Balance</label>
                    <div class="discount">
                            <input type="number " class="form-control " placeholder="Opening Balance" name="CrDrRate" appIncludeDecimal formControlName="openingbalance">
                                <div class="input-group">
                                  <select2 #crdr_selecto2 [data]="selectCrDr" class="dropdown_width_100" (valueChanged)="selectCRDRId($event)" autocomplete="true" [options]="select2CrDrPlaceHolder" [value]="valueCRDR"></select2>
                                </div>
                      </div>
                   </div>
                   <div class="form-group col-md-6">
                       <label>Branch</label>
                       <input type="text " class="form-control " [ngClass]="{ 'errorTextBoxBorder is-invalid': submitClick && f.branch.errors }" placeholder=" Branch " formControlName="branch">
                   </div>
                   <div class="form-group col-md-6">
                    <label>MICR No</label>
                   <input type="text " class="form-control "  placeholder=" MICR Number " formControlName="micr">
                   </div>
                          <div class="form-group col-md-6">
                                  <label for="bill_no">Registration Type</label>
                                  <div class="input-group adw_select">
                                      <div class="input-group adw_select">
                                        <select2 #select_regiType [data]="selectyCoustmoreRegistration" class="control_select"  (valueChanged)="selectCoustmoreId($event)" autocomplete="true" [options]="selectCoustomerplaceHolder" [value]="coustomerValue" ></select2>
                                      </div>
                                    </div>
                              </div>
                   <div class="form-group col-md-6">
                      <label class="active">GSTIN Number</label>
                      <input style="text-transform:uppercase" 
                      type="text" class="form-control"
                       id="org_code" placeholder=" GSTIN No"
                        formControlName="gstin" (input)="checkGSTNumber($event)" [ngClass]="{ 'errorTextBoxBorder is-invalid': (submitClick && validGSTNumber) || (submitClick && requiredGST ) }"
                        >
                  </div>
                         <div class="form-group col-md-6">
                      <label for="bill_no">Country</label>
                      <div class="input-group adw_select">
                          <select2  #country_selecto [data]="countryList" class="control_select" (valueChanged)="selectCountryListId($event)" autocomplete="true" [options]="countryListPlaceHolder" [value]="countryValue" [ngClass]="{ 'errorSelecto is-invalid': addressClick && countryError  }"></select2>
                      </div>
                  </div>
                    <div class="form-group col-md-6">
                      <label for="bill_no">State</label>
                      <div class="input-group adw_select">
                          <select2 #state_select2 [data]="stateList" class="control_select" (valueChanged)="selectStatelist($event)" autocomplete="true" [options]="stateListplaceHolder" [value]="stateValue" [ngClass]="{ 'errorSelecto is-invalid': addressClick &&  stateError  }"></select2>
                      </div>
                  </div>
                         <div class="form-group col-md-6">
                      <label for="bill_no">City</label>
                      <div class="input-group adw_select">
                          <select2 #city_select2 [data]="cityList" class="control_select" autocomplete="true" (valueChanged)="selectedCityId($event)" [value]="cityValue" [ngClass]="{ 'errorSelecto is-invalid':  addressClick && cityError  }"></select2>
                      </div>
                  </div>
                <div class="col-md-6">
                   <label class="">Address</label>
                       <textarea class="form-control" formControlName="address" ></textarea>
                        </div>
                </div>
           </div>
           <div class="modal-footer">
               <button class="btn btn-primary waves-effect" (click)="addbank('new')" type="button">Save and New Add</button>
               <button class="btn btn-primary waves-effect" type="button" (click)="addbank('save')">Save changes</button>
           </div>
       </div>
   </div>
</form>
</div>
