<div class="modal right fade" id="bankPopup" role="dialog" data-backdrop="static" data-keyboard="false">
    <form #bankFormRef="ngForm">
        <div class="modal-dialog modal-full-height modal-right half-right-2" role="document">
            <div class="modal-content bgcH-grey-100">
                <div class="modal-header close_popup">
                    <h4 class="modal-title w-100 c-grey-900">Bank</h4>
                    <button type="button" class="close" (click)='clearbank()' data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form row">
                        <div class="form-group col-md-12">
                            <label class="active">Bank Name</label>
                            <input #bankname1 type="text" (input)="checkForValidation()" class="form-control"
                                placeholder=" Bank Name" [ngClass]="{ 'errorSelecto ': submitClick && invalidObj?.bankName }"
                                name='bankname' [(ngModel)]="bankName">
                        </div>
                        <div class="form-group col-md-12">
                            <label class="active">AccountHolder Name</label>
                            <input #accoundHolderNameRef type="text" (input)="checkForValidation()" class="form-control"
                                placeholder="AccountHolder Name"
                                [ngClass]="{ 'errorSelecto ': submitClick && invalidObj?.AccountHolderName }"
                                name='AccountHolderName' [(ngModel)]="AccountHolderName">
                        </div>

                        <div class="form-group col-md-12">
                            <label class="active">Account Number</label>
                            <input #accountNoRef type="text" class="form-control" (input)='checkForValidation()'
                                [ngClass]="{ 'errorSelecto': submitClick && invalidObj?.accountNo}" placeholder=" Account Number"
                                name='accuntNo' [(ngModel)]="accountNo">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="active">IFSC Code</label>
                            <input #ifscCodeRef type="text" class="form-control" (input)='checkForValidation()'
                                [ngClass]="{ 'errorSelecto': submitClick && invalidObj?.ifscCode  }" placeholder=" IFSC Code "
                                name='ifscCode' [(ngModel)]="ifscCode">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Opening Balance</label>
                            <div class="discount">
                                <input type="number " class="form-control " placeholder="Opening Balance"
                                    name="CrDrRate" appIncludeDecimal name='openingbalance'
                                    [(ngModel)]="openingbalance">
                                <div class="">
                                    <select2 #crdr_selecto2 [data]="selectCrDr" class=""
                                        (valueChanged)="selectCRDRId($event)" autocomplete="true"
                                        [options]="{placeholder:'Select CR DR'}" [value]="valueCRDR"></select2>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Branch</label>
                            <input #branchRef type="text " class="form-control "
                                [ngClass]="{ 'errorSelecto ': submitClick && invalidObj?.branch  }"
                                (input)="checkForValidation()" placeholder=" Branch " name='branch' [(ngModel)]="branch">
                        </div>
                        <div class="form-group col-md-6">
                            <label>MICR No</label>
                            <input type="text " class="form-control " placeholder=" MICR Number " name='micr'
                                [(ngModel)]="micr">
                        </div>
                     
                        <div class="form-group col-md-4">
                            <label for="bill_no">Country</label>
                            <ng-select name="CountryName" [items]="countryList" bindLabel="text" bindValue="id"
                                placeholder="Select Country" (change)="selectCountryListId($event)"
                                [(ngModel)]="countryValue">
                            </ng-select>


                        </div>
                        <div class="form-group col-md-4">
                            <label for="bill_no">State</label>
                            <ng-select name="StateName" [items]="stateList" bindLabel="text" bindValue="id"
                                placeholder="Select State" (change)="selectStatelist($event)" [(ngModel)]="stateValue">
                            </ng-select>

                        </div>
                        <div class="form-groupgst col-md-4">
                            <label for="bill_no">City</label>
                            <ng-select name="CityName" [items]="cityList" bindLabel="text" bindValue="id"
                                placeholder="Select City" (change)="selectedCityId($event)" [(ngModel)]="cityValue">
                            </ng-select>
                        </div>
                        <div class="col-md-12">
                            <label class="">Address</label>
                            <textarea class="form-control" name='address' [(ngModel)]="address"></textarea>
                        </div>
                        <div class="form-group col-md-6">
                                <label for="bill_no">Registration Type</label>
                                <ng-select name="taxtype" [items]="selectyCoustmoreRegistration" bindLabel="text"
                                    bindValue="id" placeholder="Select Regular" (change)="selectCoustmoreId($event)"
                                    [(ngModel)]="coustomerValue">
                                </ng-select>
    
    
                            </div>
                            <div class="form-group col-md-6">
                                <label class="active">{{GstinNoValue}}</label>
                                <input #GStRequireRef [attr.disabled]="disabledGSTfor_UnRegi?'':null" style="text-transform:uppercase"
                                    type="text" class="form-control" id="org_code" placeholder="Number" name='gstin'
                                    [(ngModel)]="gstin" (input)="checkGSTNumber($event)"
                                    [ngClass]="{ 'errorSelecto': (submitClick && validGSTNumber) || invalidObj?.requiredGST }">
                            </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary waves-effect" type="button" (click)="addbank('save')">Save </button>
                    <button class="btn btn-primary waves-effect" (click)="addbank('new')" type="button">Save and New
                        Add</button>

                </div>
            </div>
        </div>
    </form>
</div>
<app-add-new-city #addNewCityRef (addCityClosed)="addCityClosed($event)"></app-add-new-city>