<div class="modal fade right" id="composite_unit" role="dialog" aria-labelledby="composite_unit"
    aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-right" role="document">
        <div class="modal-content">
            <div class="modal-header close_popup">
                <h4 class="modal-title w-100 c-grey-900">Composite Unit (Unit Converter)</h4>
                <button type="button" class="close" (click)="crossButton()"
                aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body" >
                    <form [formGroup]="compositeForm" *ngIf="compositeForm" >
                        <div class="form-row">
                           
                            <div class="form-group col-md-12">
                                <label>New Packaging  unit (to be created)</label>
                                <div class="input-group adw_select">
                                    <select2 #mainUnit_select2 [data]="selectMainUnit" 
                                    class="control_select select2"
                                     (valueChanged)="selectedMainUnit($event);"
                                    autocomplete="true" [options]="mainUnitPlaceHolder" 
                                    [value]="select2Primary"
                                     [ngClass]="{ 'errorSelecto is-invalid': submitClick && validObj?.secondaryUnitId  }"></select2>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Name of new Packaging  alias Name</label>
                                <input #unitnameRef type="text" class="form-control" 
                                placeholder="Name of new Packaging  alias Name"
                                (input)='checkForValidation();getResultValue()'
                                formControlName="UnitName" 
                                [ngClass]="{ 'errorSelecto ': submitClick && validObj?.UnitName }" >
                            </div>
                            <div class="form-group col-md-12">
                                <label> New Packaging  Quantity</label>
                                <input   [attr.disabled]='true' 
                                (input)="getResultValue()"  type="text" class="form-control" 
                                placeholder="New Packaging  Quantity"
                                [ngClass]="{'errorSelecto is-invalid': submitClick && validObj?.PrimaryUnitQty  }"
                                formControlName="PrimaryUnitQty" 
                                >
                            </div>
                            <div class="form-group col-md-12">
                                <label>Unit to be Merged</label>
                                <div class="input-group adw_select">
                                    <select2 #packedIn_select2 [data]="selectPackedIn"  class="control_select select2"
                                     (valueChanged)="selectdPackedIn($event);"
                                    
                                    autocomplete="true" [options]="packedInPlaceHolder"
                                     [value]="select2Secondary" 
                                     [ngClass]="{'errorSelecto is-invalid': submitClick && validObj?.primaryUnitId  }" ></select2>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Quantity to be Merged</label>
                                <input  #UnitQtyRef type="text" #first class="form-control" appIncludeDecimal 
                                placeholder="Quantity to be Merged" formControlName="UnitQty" 
                                (input)='checkForValidation()'
                                (input)="getResultValue()"
                                [ngClass]="{ 'errorSelecto': submitClick &&  validObj?.UnitQty}" >
                            </div>
                            <div class="form-group col-md-12">
                                <label>Result</label>
                                <input [attr.disabled]='true'  type="text" class="form-control" 
                                placeholder="Result"
                                formControlName="result" 

                              >
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary waves-effect" (click)="keepOpen=false;onSaveComposite()">Save</button>
                <button type="button" class="btn btn-primary waves-effect" (click)="keepOpen=true;onSaveComposite()">Save With Add New</button>
            </div>
        </div>
    </div>
</div>