<div id="sidebar" class="sidebar-wrapper sidebar">
  <div class="sidebar-inner">
    <div class="sidebar-logo">
      <div class="peers ai-c fxw-nw">
        <div class="peer peer-greed">
          <a class="sidebar-link td-n" href="javascript:void(0);">
            <div class="peers ai-c fxw-nw">
              <div class="peer">
                <div (click)="Homepage()" class="logo">
                  <img [src]="commonService.domainLogo" alt="" style="max-height: 50px !important;"/>
                </div>
              </div>

              <div class="peer peer-greed">
                <h5 class="lh-1 mB-0 logo-text"></h5>
              </div>
            </div>
          </a>
        </div>
        <div class="peer">
          <div class="mobile-toggle sidebar-toggle">
            <a id="sidebar-toggle" class="sidebar-toggle" href="javascript:void(0);" (click)="siderbarMenu()">
              <i class="far fa-window-close"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class=" sidebar-content">
      <ul class="sidebar-menu pos-r side_background">
        <li class="nav-item ">
          <div class="profile clearfix">
            <div class="dropdown dropright profile_pic">
              <a
                class="dropdown-toggle "
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                id="imageMenuLink"
              >
              <img
              *ngIf="_loginService?.userData?.ImageContents && _loginService?.userData?.ImageContents[0]?.FilePath;else defaultImage"
              class="img-circle profile_img"
             [src]="_loginService?.userData?.ImageContents[0] &&_loginService?.userData?.ImageContents[0]?.FilePath"

            />

            <ng-template #defaultImage>
                <img  class="img-circle profile_img"
                src="../../../assets/img/man.png"
                />
            </ng-template>
              </a>
                <ul class="dropdown-menu  bgc-white img_drop" aria-labelledby="imageMenuLink">
                    <li>
                        <a  class="d-b td-n pY-5"
                        (click)="openImageModal()"
                        >Change Image</a>
                    </li>
                </ul>
            </div>
            <div class="profile_info">
              <span>Welcome,</span>
              <h2>{{ (loggedinUserData?.LoginUserDetailsinfo)[0].Name }}</h2>
            </div>
          </div>
        </li>
        <li class="nav-item sidebar-dropdown" *ngFor="let menu of sideMenu">
          <a *ngIf="menu?.subMenu?.length > 0">
            <span class="icon-holder">
              <i class="{{ menu.icon }}"></i>
            </span>
            <span class="title">{{ menu.Name }}</span>
          </a>
          <ul class="sidebar-submenu scrollable">
            <li *ngFor="let subMenu of menu?.subMenu">
              <a class="sidebar-link" (click)="navigateTo(subMenu)"
                >{{ subMenu?.Name }}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="over-bar"></div>
</div>
