<div
  class="modal fade"
  id="add_user"
  tabindex="-1"
  role="dialog"
  aria-labelledby="add_user"
  aria-hidden="true"
>
  <div
    class="modal-dialog large_form modal-full-height modal-top"
    role="document"
  >
    <div class="modal-content bgcH-grey-100 bgc-grey">
      <form
        #userFormModel="ngForm"
        (ngSubmit)="userFormModel.form.valid && validateForm() && saveUser()"
        novalidate
      >
        <!--Header-->
        <div class="modal-header primary-bg">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3 left_side_head">
                <p class="heading_lead">
                  <i class="fa fa-user" aria-hidden="true"></i>New User
                </p>
              </div>
              <div class="col-md-9">
                <div class="btn_header">
                  <!-- <button
                    type="button"
                    class="btn btn_close waves-effect"
                  >
                    Reset
                  </button> -->
                  <button type="submit" class="btn btn-default waves-effect">
                    Save
                  </button>
                  <!-- <button
                    type="submit"
                    class="btn btn-default waves-effect"
                  >
                    Save With Add New
                  </button> -->
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                    (click)="closePopUp()"
                  >
                    <span aria-hidden="true" class="white-text">×</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Body-->
        <div class="modal-body">
          <div class="classic-tabs">
            <div class="card">
              <div class="card-body">
                <div>
                  <div class="form-row">
                    <ng-container *ngIf="disabledFlagOrgBranch">
                      <div *ngIf="Multiorgnization" class="form-group col-md-4">
                        <label>Orgnization</label>
                        <ng-select
                          name="organizationName"
                          [items]="orgnizationData"
                          bindLabel="text"
                          bindValue="id"
                          placeholder="Select Organization"
                          [(ngModel)]="model.orgId"
                          required
                          [ngClass]="{
                            'ng-select-invalid':
                              userFormModel?.submitted && !model?.orgId
                          }"
                        >
                        </ng-select>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="disabledFlagOrgBranch">
                      <div *ngIf="MultiBranch" class="form-group col-md-4">
                        <label>Branch</label>
                        <ng-select
                          name="branchName"
                          [items]="branchData"
                          bindLabel="text"
                          bindValue="id"
                          placeholder="Select Branch"
                          [(ngModel)]="model.branchId"
                          required
                          [ngClass]="{
                            'ng-select-invalid':
                              userFormModel?.submitted &&
                              user?.selectedBranch?.id === '0'
                          }"
                        >
                        </ng-select>
                      </div>
                    </ng-container>
                    <div class="form-group col-md-4">
                      <label>User Type</label>
                      <ng-select
                        name="userTypeName"
                        [items]="userTypeData"
                        bindLabel="text"
                        bindValue="id"
                        placeholder="Select User Type"
                        [(ngModel)]="model.userTypeId"
                        required
                        (change)="onUserTypeChange($event)"
                        [ngClass]="{
                          'ng-select-invalid':
                            userFormModel?.submitted && !model.userTypeId
                        }"
                      >
                      </ng-select>
                    </div>
                    <div class="form-group col-md-4">
                      <label>Under Type</label>
                      <ng-select
                        name="underTypeName"
                        [items]="underTypeData"
                        bindLabel="text"
                        bindValue="id"
                        placeholder="Select Under Type"
                        [(ngModel)]="model.underTypeId"
                        (change)="onUnderTypeChange($event)"
                        [required]="model.userTypeId && model.userTypeId !== 1"
                        [ngClass]="{
                          'ng-select-invalid':
                            userFormModel?.submitted &&
                            model.userTypeId &&
                              model.userTypeId !== 1 &&
                              !model.underTypeId
                        }"
                      >
                      </ng-select>
                    </div>
                    <div class="form-group col-md-4">
                      <label>Under User</label>
                      <ng-select
                        name="underUserName"
                        [items]="underUserData"
                        bindLabel="text"
                        bindValue="id"
                        placeholder="Select Under User"
                        [(ngModel)]="model.underUserId"
                        [required]="model.underTypeId"
                        [ngClass]="{
                          'ng-select-invalid':
                            userFormModel?.submitted &&
                            model.underTypeId && !model.underUserId
                        }"
                      >
                      </ng-select>
                    </div>
                    <div class="form-group col-md-4">
                      <label>Name</label>
                      <input
                        #nameModel="ngModel"
                        name="nameInput"
                        [(ngModel)]="user.name"
                        type="text"
                        class="form-control"
                        placeholder="Enter Name"
                        [ngClass]="{
                          errorSelecto:
                            userFormModel.submitted && nameModel.invalid
                        }"
                        required
                      />
                    </div>
                    <div class="form-group col-md-4">
                      <label>User Name</label>
                      <input
                        autocomplete="off"
                        #userNameModel="ngModel"
                        name="userName"
                        [(ngModel)]="user.userName"
                        type="text"
                        class="form-control"
                        placeholder="Enter User Name"
                        [ngClass]="{
                          errorSelecto:
                            userFormModel.submitted && userNameModel.invalid
                        }"
                        required
                      />
                    </div>
                    <div class="form-group col-md-4">
                      <label>Password</label>
                      <input
                        autocomplete="off"
                        #passwordModel="ngModel"
                        name="password"
                        [(ngModel)]="user.password"
                        type="password"
                        class="form-control"
                        placeholder="Enter Password"
                        [ngClass]="{
                          errorSelecto:
                            userFormModel.submitted && passwordModel.invalid
                        }"
                        required
                      />
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label class="fw-500">InTime</label>
                      <input
                        class="form-control"
                        [owlDateTimeTrigger]="dt4"
                        name="inTimeInput"
                        [(ngModel)]="user.inTime"
                        [owlDateTime]="dt4"
                      />
                      <owl-date-time
                        [pickerType]="'timer'"
                        #dt4
                      ></owl-date-time>
                    </div>
                    <div class="form-group col-md-4">
                      <label class="fw-500">Out Time</label>
                      <input
                        class="form-control"
                        [owlDateTimeTrigger]="dt3"
                        name="outTimeInput"
                        [(ngModel)]="user.outTime"
                        [owlDateTime]="dt3"
                      />
                      <owl-date-time
                        [pickerType]="'timer'"
                        #dt3
                      ></owl-date-time>
                    </div>
                    <div
                      class="form-group col-md-3 custom-control custom-checkbox mt-4 pt-1 mr-4"
                    >
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="isuset"
                        #isUseTimeModel="ngModel"
                        name="isUseTimeCheckBox"
                        [(ngModel)]="user.isUseTime"
                      />
                      <label class="custom-control-label  ml-4" for="isuset"
                        >Is Use Time for User</label
                      >
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label>Email Id (Send Mail)</label>
                      <input
                        #emailModel="ngModel"
                        name="emailInput"
                        [(ngModel)]="user.email"
                        type="text"
                        class="form-control"
                        placeholder="Enter Email Id"
                      />
                    </div>
                    <div class="form-group col-md-4">
                      <label>Password (Send Mail)</label>
                      <input
                        #emailPasswordModel="ngModel"
                        name="emailPasswordInput"
                        [(ngModel)]="user.emailPassword"
                        type="password"
                        class="form-control"
                        placeholder="Enter Password"
                      />
                    </div>
                    <div
                      class="form-group col-md-3 custom-control custom-checkbox mt-4 pt-1 mr-4"
                    >
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="isuse"
                        #isUseEmailModel="ngModel"
                        name="isUseEmailCheckBox"
                        [(ngModel)]="user.isUseEmail"
                      />
                      <label class="custom-control-label ml-4" for="isuse"
                        >Is Use Email for User</label
                      >
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-lg-6">
                      <div class="card">
                        <form
                          #mobileDetailModel="ngForm"
                          (ngSubmit)="
                            mobileDetailModel.form.valid &&
                              validateMobileDetail() &&
                              addNewMobileDetail()
                          "
                          novalidate
                        >
                          <table class="table editable_tbl" style="width: 100%">
                            <thead>
                              <tr>
                                <th class="cust_width_80">#</th>
                                <th>Contact Type</th>
                                <th>Contact Number</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr
                                class="default_row"
                                *ngFor="
                                  let item of user?.mobileArray;
                                  let i = index
                                "
                                class="default_row"
                              >
                                <td class="profile-pic1">
                                  <div class="edit1">
                                    <a>
                                      <i
                                        class="fas fa-pen fa-1x"
                                        (click)="editMobileDetail(i)"
                                      ></i>
                                    </a>
                                    <a>
                                      <i
                                        aria-hidden="true"
                                        class="fa fa-trash fa-1x"
                                        (click)="removeMobileDetail(i)"
                                      ></i>
                                    </a>
                                  </div>
                                </td>
                                <td>
                                  {{ mobileTypeList[item?.selectedMobileType -1] }}
                                </td>
                                <td>
                                  +{{ item?.selectedMobileCountryCode }}-{{
                                    item?.mobileNo
                                  }}
                                </td>
                              </tr>
                              <tr class="selected_row">
                                <td>
                                  <button
                                    type="submit"
                                    id="btn_add1"
                                    class="btn btn-primary btn_add_more"
                                  >
                                    +
                                  </button>
                                </td>
                                <td>
                                  <select
                                    class="form-control"
                                    name="mobileType"
                                    [(ngModel)]="mobileDetail.selectedMobileType"
                                    [ngClass]="{
                                      errorSelecto:
                                        mobileDetailModel?.submitted &&
                                        !mobileDetail?.selectedMobileType
                                    }"
                                    required
                                  >
                                    <option
                                      *ngFor="
                                        let item of mobileTypeList;
                                        let i = index
                                      "
                                      [value]="i + 1"
                                    >
                                      {{ item }}</option
                                    >
                                  </select>
                                </td>
                                <td>
                                  <div class="mobile_code">
                                    <ng-select
                                      style="width:120px !important;"
                                      name="countryCodeName"
                                      [items]="mobileCountryCodeList"
                                      bindLabel="text"
                                      bindValue="id"
                                      placeholder="Select Country Code"
                                      [(ngModel)]="selectedContactCode"
                                      (change)="onCountryCodeSelectionChange()"
                                      [ngClass]="{
                                        errorSelecto:
                                          (mobileDetailModel?.submitted &&
                                            !selectedContactCode) ||
                                          (userFormModel?.submitted &&
                                            user?.mobileArray?.length === 0)
                                      }"
                                    >
                                    </ng-select>
                                    <input
                                      [disabled]="!selectedContactCode"
                                      type="text"
                                      class="form-control code_text"
                                      (keypress)="
                                        _commonService.isNumber($event)
                                      "
                                      (paste)="onPaste($event)"
                                      name="mobileInput"
                                      [(ngModel)]="mobileDetail.mobileNo"
                                      #mobileNoModel="ngModel"
                                      [minlength]="currentContactLength"
                                      [maxlength]="currentContactLength"
                                      [ngClass]="{
                                        errorSelecto:
                                          (mobileNoModel?.dirty &&
                                            mobileNoModel?.errors?.maxlength) ||
                                          (mobileNoModel?.dirty &&
                                            mobileNoModel?.errors?.minlength) ||
                                          (userFormModel?.submitted &&
                                            user?.mobileArray?.length === 0)
                                      }"
                                      required
                                    />
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </form>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="card">
                        <form
                          #emailDetailModel="ngForm"
                          (ngSubmit)="
                            emailDetailModel.form.valid && addNewEmailDetail()
                          "
                          novalidate
                        >
                          <table class="table editable_tbl" style="width: 100%">
                            <thead>
                              <tr>
                                <th class="cust_width_80">#</th>
                                <th>Email Type</th>
                                <th>Email Address</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr
                                class="default_row"
                                *ngFor="
                                  let item of user?.emailArray;
                                  let i = index
                                "
                                class="default_row"
                              >
                                <td class="profile-pic1">
                                  <div class="edit1">
                                    <a>
                                      <i
                                        class="fas fa-pen fa-1x"
                                        (click)="editEmailDetail(i)"
                                      ></i>
                                    </a>
                                    <a>
                                      <i
                                        aria-hidden="true"
                                        class="fa fa-trash fa-1x"
                                        (click)="removeEmailDetail(i)"
                                      ></i>
                                    </a>
                                  </div>
                                </td>
                                <td>
                                  {{ emailTypeList[item.selectedEmailType] }}
                                </td>
                                <td>{{ item.selectedEmail }}</td>
                              </tr>
                              <tr class="selected_row ">
                                <td>
                                  <button
                                    type="submit"
                                    id="btn_add"
                                    class="btn btn-primary btn_add_more"
                                  >
                                    +
                                  </button>
                                </td>
                                <td>
                                  <select
                                    class="form-control"
                                    name="emailType"
                                    [(ngModel)]="emailDetail.selectedEmailType"
                                    [ngClass]="{
                                      errorSelecto:
                                        emailDetailModel?.submitted &&
                                        !emailDetail?.selectedEmailType
                                    }"
                                    required
                                  >
                                    <option
                                      *ngFor="
                                        let item of emailTypeList;
                                        let i = index
                                      "
                                      [value]="i"
                                    >
                                      {{ item }}</option
                                    >
                                  </select>
                                </td>
                                <td>
                                  <input
                                    type="text"
                                    class="form-control"
                                    name="emailInput"
                                    #emailModel="ngModel"
                                    [(ngModel)]="emailDetail.selectedEmail"
                                    (keypress)="_commonService.notAllowSpace($event)"
                                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                    [ngClass]="{
                                      errorSelecto:
                                        (emailDetailModel?.submitted &&
                                          (!emailDetail.selectedEmail ||
                                            emailModel?.errors?.pattern)) ||
                                        (userFormModel?.submitted &&
                                          user?.emailArray?.length === 0)
                                    }"
                                    required
                                  />
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer footer-fixed footer_modal_form">
          <button type="submit" class="btn waves-effect btn-succ-ess">
            Save
          </button>
          <button
            type="button"
            class="btn waves-effect btn-default def-ault-btn"
            data-dismiss="modal"
          >
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
