<div class="modal animated" id="item_form" role="dialog" aria-labelledby="item_form" aria-hidden="true"
  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog large_form modal-full-height modal-top" role="document">
    <div class="modal-content bgcH-grey-100">
      <!--Header-->
      <div class="modal-header primary-bg">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3 left_side_head">
              <p class="heading_lead"><i class="far fa-building"></i>Item Master</p>
            </div>
            <div class="col-md-9">
              <div class="btn_header">
                <button type="button" *ngIf="toShowOpeningStock" class="btn btn_close waves-effect" (click)="openItemStockAttributeModel()">open
                  item attribute opening stock</button>
                <button type="button" class="btn btn_close waves-effect"
                  (click)="modeOfForm='reset';addNewItemMaster('reset')">Reset</button>
                <button class="btn btn-default waves-effect" (click)="addNewItemMaster('save')">Save</button>
                <button class="btn btn-info waves-effect" (click)="modeOfForm='reset';addNewItemMaster('repeat')">Save
                  With add New</button>
                <button type="button" class="close" aria-label="Close" (click)="closeItemMaster()"><span
                    aria-hidden="true" class="white-text">×</span> </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="loading" class="modal-content">
        <div class="modal-body" style="height:inherit;">
          <img src="assets/img/spinner-blue-circle.gif" alt="loading screen"
            style="width: 50px;height: 50px;position: absolute;left: 46%;top:46%;" />
        </div>
      </div>
      <div class="modal-body" *ngIf="!loading">
        <div>
          <form>
            <div class="form-row">
              <div class="col-md-10">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="bill_no">Category</label>
                    <div class="input-group adw_select">
                      <div class="input-group adw_select">
                        <select2 [data]="categoryType" #cat_select2 class="control_select"
                          (valueChanged)="selectedCategory($event)" [disabled]="toDisableCat" autocomplete="true"
                          [options]="categoryPlaceHolder" [value]="cateGoryValue"
                          [ngClass]="{'errorSelecto': submitClick && invalidObj.CategoryId }"></select2>
                      </div>
                    </div>
                  </div>
                  <!--(keyup)="searchForItemName($event.target.value)"-->
                  <div class="form-group col-md-6">
                    <label>Item Name </label>
                    <div class="input-group">
                      <input type="text" #itemname class="form-control" placeholder="Enter Item Name" name="name"
                        [(ngModel)]="Name"
                        [ngClass]="{'errorSelecto': ( submitClick && invalidObj.Name ) || existsCodes.name, 'loading': pendingCheck1 }"
                        (input)="checkForValidation();" (ngModelChange)="getItemNameStatus()">
                      <span [ngClass]="{'spinner_tick': !pendingCheck1}" *ngIf="Name.length > 0 && !pendingCheck1">
                        <i class="fas fa-check hideMe" *ngIf="!existsCodes.name"></i>
                        <i *ngIf="existsCodes.name" class="fas fa-times hideMe"></i>
                      </span>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="p_code">HSN/SAC Code</label>
                    <input type="text" class="form-control" id="p_code" placeholder="Enter HSN/SAC Code" name="HsnNo"
                      [(ngModel)]="HsnNo" [ngClass]="{'errorSelecto': submitClick && invalidObj.HsnNo }"
                      (input)="checkForValidation()">
                  </div>
                  <!--(keyup)="searchForBarCode($event.target.value)" [disabled]="isBarCode" -->
                  <div class="form-group col-md-3">
                    <label for="barcode">Bar Code</label>
                    <div class="input-group">
                      <input type="text" class="form-control" #barcode id="barcode" placeholder="Enter Bar Code"
                        name="BarCode" [(ngModel)]="BarCode"
                        [ngClass]="{'errorSelecto': (submitClick && invalidObj.BarCode) || existsCodes.barcode, 'loading': pendingCheck}"
                        (ngModelChange)="getBarStatus()" (input)="checkForValidation()">
                      <span [ngClass]="{'spinner_tick': !pendingCheck}" *ngIf="BarCode.length > 0 && !pendingCheck">
                        <i class="fas fa-check hideMe" id="check-code" *ngIf="!existsCodes.barcode"></i>
                        <i *ngIf="existsCodes.barcode" id="check-cross" class="fas fa-times hideMe"></i>
                      </span>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="p_code">Item Code</label>
                    <input type="text" [disabled]="isItemCode" class="form-control" id="p_code"
                      placeholder="Enter Item Code" name="ItemCode" [(ngModel)]="ItemCode"
                      [ngClass]="{'errorSelecto': submitClick && invalidObj.ItemCode }" (input)="checkForValidation()">
                  </div>
                  <div class="col-md-3"></div>
                  <div class="form-group col-md-3">
                    <label for="bill_no">Inventory Maintain</label>
                    <div class="input-group adw_select">
                      <select2 [data]="selectItemTpye" #itemtype_select2 class="control_select"
                        (valueChanged)="selectedItemType($event)" autocomplete="true" [options]="itemTpyePlaceHolder"
                        [value]="itemDetailValue"></select2>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="bill_no">Packing Type</label>
                    <div class="input-group adw_select">
                      <select2 [data]="selectPackingType" #packingtype_select2 class="control_select"
                        (valueChanged)="selectedPackingType($event)" autocomplete="true"
                        [options]="packingTypePlaceHolder" [value]="packingTypeValue"></select2>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="bill_no">Unit</label>
                    <div class="input-group adw_select">
                      <div class="input-group adw_select">
                        <select2 [data]="selectUnitType" #unit_select2 class="control_select"
                          (valueChanged)="selectedUnitTpye($event)" autocomplete="true"
                          [options]="{placeholder:'Select Unit'}" [value]="unitTypeValue"
                          [ngClass]="{'errorSelecto': submitClick && invalidObj.UnitId }"></select2>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label>Tax Rate</label>
                    <div class="input-group adw_select">
                      <select2 [data]="selectTax" #tax_select2 class="control_select"
                        (valueChanged)="selectedTax($event)" autocomplete="true" [options]="{placeholder:'Select Tax'}"
                        [value]="taxValue" [ngClass]="{'errorSelecto': submitClick && invalidObj.TaxId }"></select2>
                    </div>
                  </div>
                  <!--[disabled]="OpeningStock && isStkValue"-->
                  <div class="form-group col-md-3">
                    <label>Opening Stock</label>
                    <input type="text" appIncludeDecimal class="form-control" placeholder="Enter Opening Stock"
                      name="OpeningStock" (input)="onOpeningStockChange()" [(ngModel)]="OpeningStock">
                  </div>
                  <div class="form-group col-md-3">
                    <label>Opening Stock Value</label>
                    <input type="text" appIncludeDecimal class="form-control" placeholder="Enter Opening Stock Value"
                      name="OpeningStockvalue" (input)="onOpeningStockValueChange()" [disabled]="OpeningStock <= 0"
                      [(ngModel)]="OpeningStockValue">
                  </div>
                  <div class="form-group col-md-3">
                    <label>Average Rate</label>
                    <input type="text" appIncludeDecimal class="form-control" placeholder="Enter Purchase"
                      name="PurchaseRate" (input)="onPurchaseRateChange()" [(ngModel)]="PurchaseRate">
                  </div>
                  <div class="col-md-3"></div>
                  <div class="form-group col-md-3">
                    <label>MRP Rate</label>
                    <input type="text" appIncludeDecimal class="form-control" placeholder="Enter MRP" name="MrpRate"
                      [(ngModel)]="MrpRate">
                  </div>
                  <div class="form-group col-md-3">
                    <label>Sale Rate</label>
                    <input type="text" appIncludeDecimal class="form-control" placeholder="Enter Sale Rate"
                      name="SaleRate" [(ngModel)]="SaleRate">
                  </div>
                  <div class="form-group col-md-3">
                    <label>Our Price</label>
                    <input type="text" appIncludeDecimal class="form-control" placeholder="Enter Our Price"
                      name="OurPrice" [(ngModel)]="OurPrice">
                  </div>
                  <!-- <div class="form-group col-md-4">
                                        <label>Net Realizable Value(NRV)</label>
                                        <input type="text" appIncludeDecimal
                                        class="form-control" placeholder="Enter Net Refer Value"
                                            autocomplete="true" [(ngModel)]="Nrv" name="Nrv" >
                                    </div> -->
                  <div class="form-group col-md-3">
                    <label for="bill_no">Min. Stock Level</label>
                    <input type="text" appIncludeDecimal class="form-control" id="name" name="MinStock"
                      placeholder="Enter Minimum Stock" autocomplete="true" [(ngModel)]="MinStock" step="0.01">
                  </div>
                  <div class="form-group col-md-3">
                    <label>Max. Stock Level</label>
                    <input type="text" appIncludeDecimal class="form-control" name="MaxStock"
                      placeholder="Enter Maximum Stock" [(ngModel)]="MaxStock">
                  </div>
                  <div class="form-group col-md-3">
                    <label>Re Order Qty Level</label>
                    <input type="text" appIncludeDecimal class="form-control" name="ReOrderQty"
                      placeholder="Enter Re Order Qty" [(ngModel)]="ReOrderQty">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="bill_no">Brand Master</label>
                    <select2 [data]="selectBrand" #brand_select2 [options]="options" [width]="300"
                      [value]="selectedBrands" (valueChanged)="onBrandSelect($event)"></select2>
                  </div>
                  <div class="form-group col-md-9 pt-4">
                    <div class="custom-control custom-checkbox my-1 mr-sm-2">
                      <input type="checkbox" name="IsNotDiscountable" (keydown.enter)="onPressEnter(1)"
                        class="custom-control-input" id="customControlInline1" [(ngModel)]="IsNotDiscountable">
                      <label class="custom-control-label pt-1" for="customControlInline1">Is Not
                        Discountable</label>
                    </div>
                    <div class="custom-control custom-checkbox my-1 mr-sm-2">
                      <input type="checkbox" class="custom-control-input" id="tradediscount2"
                        (keydown.enter)="onPressEnter(2)" [(ngModel)]="IsTradeDiscountApply"
                        name="IsTradeDiscountApply">
                      <label class="custom-control-label pt-1" for="tradediscount2">Trade Discount</label>
                    </div>
                    <div class="custom-control custom-checkbox my-1 mr-sm-2">
                      <input type="checkbox" class="custom-control-input" id="volumediscount3"
                        (keydown.enter)="onPressEnter(3)" [(ngModel)]="IsVolumeDiscountApply"
                        name="IsVolumeDiscountApply">
                      <label class="custom-control-label pt-1" for="volumediscount3">Volume Discount</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="left_item">
                  <div class="custom-file-upload mB-20">
                    <a (click)="openImageModal()" #imagebutton class="custom-file-upload"><i class="fas fa-upload"></i>
                      Image Upload </a>
                  </div>
                  <div *ngIf="ImageFiles && ImageFiles.length > 0">
                    <img id="center-img" [src]="ImageFiles[0].BaseString" (click)="openImageModal()" />
                    <div class="toast mB-5" *ngFor="let image of ImageFiles;let i = index;">
                      <div class="toast-header">
                        <strong class="mr-auto">{{image.Name}}</strong>
                        <button type="button" class="image-cross-icon ml-2 mb-1 close"
                          (click)="removeImage(i)">&times;</button>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="combo && combo.length > 0">
                    <div class="toast-header toast mB-5 table-responsive" (click)="comboComp.openModal();">
                      <label>Combo</label>
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Quantity</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of combo;let i = index;">
                            <td>
                              <strong class="mr-auto">{{item.itemName}}</strong>
                            </td>
                            <td>
                              <strong class="mr-auto">{{item.Quantity}}</strong>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer footer-fixed footer_modal_form">
        <button
          type="submit"
          class="btn waves-effect btn-succ-ess"
          (click)="addNewItemMaster('save')"
          >
          Save
        </button>
        <button
          type="button"
          class="btn waves-effect btn-default def-ault-btn"
          (click)="closeItemMaster()"
          
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<app-combo #combo_comp (emitCombo)="comboAdded($event)" [editMode]="editMode" [previousCombo]="combo"></app-combo>

<app-item-attribute-opening-stock (closeModel)="itemAttributeOpeningStockOpenClosed($event)"
  [toggleValue]="itemAttributeOpeningStockOpen">
</app-item-attribute-opening-stock>
