<div  class="app is-collapsed">
  <app-side-menu></app-side-menu>
  <div class="page-container">
    <div>
        <app-header></app-header>
    </div>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</div>
<app-bank-add></app-bank-add>
<app-vendor-add></app-vendor-add>
<app-customer-add></app-customer-add>
<app-routing-add></app-routing-add>
<app-item-add></app-item-add>
<app-service-item-add></app-service-item-add>
<app-ledger-creation></app-ledger-creation>
<app-ledger-group></app-ledger-group>
<app-tax-process-add></app-tax-process-add>
<app-tax-add></app-tax-add>
<app-delete-modal></app-delete-modal>
<app-confirmation-modal></app-confirmation-modal>
<app-image-modal></app-image-modal>
<app-category-add></app-category-add>
<app-composite-unit-add></app-composite-unit-add>
<app-unit-add></app-unit-add>
<app-delete-modal></app-delete-modal>
<app-attribute-add></app-attribute-add>
<app-address-add></app-address-add>
<app-print></app-print>
<app-termAndCondition-add></app-termAndCondition-add>
<app-discountMaster-add></app-discountMaster-add>
<category-import></category-import>
<app-active-inventoryTerm-add></app-active-inventoryTerm-add>
<app-add-common-menu></app-add-common-menu>
