<main class="main-content bgc-grey">
    <div id="mainContent">
        <div class="modal-header page-header p-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 left_side_head">
                        <p class="heading_lead c-grey-900"><i class="fa fa-tag"></i>Sale-Summary</p>
                    </div>
                    <div class="col-md-6">
                      <div class="btn_header">
                        <a>
                          <img src="assets/img/printer.png">
                        </a>
                        <a>
                          <img src="assets/img/pdf.png"></a>
                        <a>
                          <img (click)="exportAsXLSX()" src="assets/img/excel.png"></a>
                        <button type="button" class="btn btn-primary waves-effect waves-light" (click)="onOpenInvoice('')" >New
                        Invoice</button>
                        <a (click)="toggleSearch()" class="btn btn-info" data-toggle="collapse"><i class="fas fa-search"></i>Search</a>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <app-sales-search [toShow]="toShowSearch" ></app-sales-search>
        <div class="row">
            <div class="col-md-12">
                <div class="bgc-white bdrs-3 p-20 mB-20">
                    <div class="table-responsive" id="parent">
                        <table class="table" id="fixTable">
                            <thead>
                              <tr>
                                <th>Sr.No.</th>
                                <th>Sender</th>
                                <th>Bill No.</th>
                                <th>Bill Date</th>
                                <th>Reciever</th>
                                <th class="text-right" >Bill Amount</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of saleTravelDetails; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{item.CustomerName}} </td>
                                <td>{{item.BillNo}}</td>
                                <td>{{item.BillDate  | dateFormat: clientDateFormat }}</td>
                                <td>{{item.SupplierName}}</td>
                                <td  class="text-right" >{{item.BillAmount}}</td>
                                <td>
                                  <div class="dropdown enquiry-tag">
                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                                      class="fa fa-cog mR-3 cH-blue fa-1x"></i><b class="caret"></b></a>
                                    <ul class="dropdown-menu fsz-sm">
                                      <li><a (click)="onPrintButtonCourierParcel(item.Id,'printCourierParcel_id')" class="d-b td-n p-1 bgcH-grey-100 c-grey-700"><i class="fas fa-print mR-10 cH-blue"></i><span>Print</span></a></li>
                                      <li><a (click)="onOpenInvoice(item.Id)" class="d-b td-n p-1 bgcH-grey-100 c-grey-700"><i class="fa fa-edit mR-10 cH-blue"></i><span>Edit</span></a></li>
                                      <li><a class="d-b td-n p-1 bgcH-grey-100 c-grey-700"><i class="fa fa-trash mR-10 cH-blue"></i><span>Cancel</span></a></li>
                                      <li><a class="d-b td-n p-1 bgcH-grey-100 c-grey-700"><i class="fa fa-arrow-left mR-10 cH-blue"></i><span>Return</span></a></li>

                                      <li><a class="d-b td-n p-1 bgcH-grey-100 c-grey-700"><i class="fa fa-envelope mR-10 cH-blue"></i><span>Send
                                        Mail</span></a></li>
                                      <li><a class="d-b td-n p-1 bgcH-grey-100 c-grey-700"><i class="fa fa-envelope mR-10 cH-blue"></i><span>Sale
                                      Bill Return</span></a></li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                            <tfoot>
                              <tr>
                                <th colspan="5"></th>
                                <th class="text-right font-weight-bold">{{this.totalBillAmount}}</th>
                                <th></th>
                              </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
          </div>
    </div>
</main>
<app-sales></app-sales>

<div class="modal " id="printCourierParcel_id" >
  <div id="page-wrap" >
         <div style="width:100%; border: 1px solid #000; overflow: auto; display:flex; flex-direction:row;">
            
             <div style="width:60%; padding:10px; border:1px solid #333;">
                 <h2 style="font-size:30px;margin:0px;">{{ledgerinfos && ledgerinfos[0]?.OfficeName}}</h2>
                 <p align="center" style="font-size:14px; margin:0px;text-align:left;">
                   
                     {{orgAddress && orgAddress[0]?.AddressValue}}    {{orgAddress && orgAddress[0]?.CityName}}<br>
                     {{orgAddress && orgAddress[0]?.Statename}}    {{orgAddress && orgAddress[0]?.CountryName}}<br>
 
                     Mobile: {{orgMobileData && orgMobileData[0]?.org_mobile}} </p>
             </div>
             <div style="width:40%; text-align:center; padding:10px; border:1px solid #333">
                 <div fxLayout="column">
                     <ngx-barcode *ngFor="let bcValue of values" [bc-element-type]="elementType" [bc-value]="bcValue" [bc-format]="format" [bc-line-color]="lineColor"
                      [bc-width]="width" [bc-height]="height" [bc-display-value]="displayValue" [bc-font-options]="fontOptions" [bc-font]="font"
                      [bc-text-align]="textAlign" [bc-text-position]="textPosition" [bc-text-margin]="textMargin" [bc-font-size]="fontSize" [bc-background]="background"
                      [bc-margin]="margin" [bc-margin-top]="marginTop" [bc-margin-bottom]="marginBottom" [bc-margin-left]="marginLeft" [bc-margin-right]="marginRight"></ngx-barcode>
                 </div>
             </div>
         </div>
         <div class="mainT" style="width:100%; border: 1px solid #000; overflow: auto;">
 
             <table class="" width="100%" cellspacing="0" cellpadding="3" style="border-bottom: 1px solid #000;">
                 <tbody>
                     <tr>
                         <th> Airways Bill No :</th>
 
                         <td>
                            {{SaleTransactionDetails && SaleTransactionDetails[0]?.EwayBillNo}}
                         </td>
                         <th>Bill No :</th>
 
                         <td>
                            {{SaleTransactionDetails && SaleTransactionDetails[0]?.BillNo}}
                             
                         </td>
                         <th>Date :</th>
 
                         <td>
                            {{SaleTransactionDetails && SaleTransactionDetails[0]?.BillDate | dateFormat: clientDateFormat}}
                             
                         </td>
                         <th>No of Pacages :</th>
 
                         <td>
                            {{SaleTransactionDetails && SaleTransactionDetails[0]?.TotalBox}}
                           
                         </td>
                     </tr>
 
                     
                 </tbody>
 
 
             </table>
         </div>
         <div style="clear:both"></div>
         <div class="invoice" style="margin:0px;">
 
 
 
             <table class="" width="100%">
 
                 <tbody>
 
                     <tr>
                         <td>
                             <table class="invoice_table" width="100%">
 
                                 <tr>
                                     <th>
                                         Sendar
                                     </th>
                                 </tr>
 
                                 <tbody>
                                     <tr>
                                         <td><strong>From</strong></td>
                                         <td colspan="2">
                                           {{SaleTransactionDetails && SaleTransactionDetails[0]?.CustomerName}}
                                            
                                         </td>
                                     </tr>
                                     <tr>
                                         <td><strong>Address</strong></td>
                                         <td colspan="2">{{customerAddress && customerAddress[0]?.AddressValue}} {{customerAddress && customerAddress[0]?.CityName}} {{customerAddress && customerAddress[0]?.Statename}} </td>
                                     </tr>
                                     <tr>
                                         <td><strong>Country</strong></td>
                                          <td colspan="2">{{customerAddress && customerAddress[0]?.CountryName}}  </td>
                                     </tr>
                                     <tr>
                                         <td><strong>Tele No</strong></td>
                                         <td colspan="2">
                                              {{customerMobileData && customerMobileData[0]?.cust_mobile}} 
                                         </td>
                                     </tr>
 
                                 </tbody>
                             </table>
                         </td>
                         <td>
                             <table class="invoice_table" width="100%">
                                 <thead>
                                     <tr>
                                         <th>
                                             Receiver
                                         </th>
                                     </tr>
                                 </thead>
                                 <tbody>
                                     <tr>
                                         <td><strong>To</strong></td>
                                         <td colspan="2">
 
                                           {{SaleTransactionDetails && SaleTransactionDetails[0]?.ReceiverName}}
 
                                         </td>
                                     </tr>
                                     <tr>
                                         <td><strong>Address</strong></td>
                                         <td colspan="2">{{reciverAddress && reciverAddress[0]?.AddressValue}} {{reciverAddress && reciverAddress[0]?.CityName}} {{reciverAddress && reciverAddress[0]?.Statename}} </td>
                                     </tr>
                                     <tr>
                                         <td><strong>Country</strong></td>
                                         <td colspan="2">{{reciverAddress && reciverAddress[0]?.CountryName}}  </td>
                                     </tr>
                                     <tr>
                                         <td><strong>Tele No</strong></td>
                                         <td colspan="2">
                                             {{reciverContData && reciverContData[0]?.rec_mob}} 
                                         </td>
                                     </tr>
 
                                 </tbody>
                             </table>
                         </td>
                     </tr>
                 </tbody>
             </table>     
         </div>
         <div style="clear:both"></div>
         <div class="invoice" style="margin:0px;">
 
             <div class="mainT" style="max-height:350px;min-height: 350px">
 
                 <table class="record" width="100%" cellspacing="0" cellpadding="3" style="border-bottom: 1px solid #000;">
                     <tbody>
                         <tr>
                             <th>SR NO</th>
                             <th>Description</th>
                             <th>QTY</th>
                             <th>Unit Price</th>
                             <th style="text-align:right">Amount</th>
 
                         </tr>
 
                         <tr *ngFor ="let item of salesCourierDatails; let i=index">
                           <td>{{i+1}}</td>
                             <td>
                                {{item.Description}}
                             </td>
                             <td>
                                {{item.Quantity}}
                             </td>
                             <td>
                                 {{item.UnitPrice}}
                             </td>
 
                             <td style="text-align:right; border-right:none;"> {{item.TotalAmount}} </td>
 
                         </tr>
                       
                     </tbody>
           
 
                 </table>
             </div>
 
         </div>
         <div style="clear:both"></div>
             <div style="border:1px solid #000; height:125px; width:100%;">
             <div class="invoiveN">
                 <table width="100%" class="amountB">
                     <tbody>
                         <tr>
                             <td>
                                 <table>
                                     <tbody>
                                         <tr>
                                             <th colspan="2">Bank Details</th>
                                         </tr>
                                         <tr>
                                             <td style="width:60%">Bank Name</td>
                                             <td>
                                                 {{ledgerinfos && ledgerinfos[0]?.BankName}}
                                             </td>
                                         </tr>
                                         <tr>
                                             <td style="width:60%">Account No.</td>
                                             <td>
                                                 {{ledgerinfos && ledgerinfos[0]?.AcNo}}
                                                 
                                             </td>
                                         </tr>
                                         <tr>
                                             <td style="width:60%">Branch IFSC</td>
                                             <td> 
                                                 {{ledgerinfos && ledgerinfos[0]?.IfscCode}}
 
                                             </td>
                                         </tr>
                                     </tbody>
                                 </table>
                             </td>
                             <td></td>
                         </tr>
                     </tbody>
                 </table>
             </div>
             <div class="logo">
                 <table class="payment" style="width: 100%;">
                     <tbody>
                         <tr>
                             <th>Total Weight :</th>
                             <td style="text-align:right">
                                 {{SaleTransactionDetails && SaleTransactionDetails[0]?.TotalWeightAmount}}
                             </td>
                         </tr>
                         <tr>
                             <th>Box Charges :</th>
                             <td style="text-align:right">
                                  {{SaleTransactionDetails && SaleTransactionDetails[0]?.TotalBoxCharge}} 
                             </td>
                         </tr>
         
                         <tr>
                             <th>Duty :</th>
                             <td style="text-align:right">
                                  {{SaleTransactionDetails && SaleTransactionDetails[0]?.CustomDuty}}
                             </td>
                         </tr>
                         <tr>
                             <th>Grand Total :</th>
                             <td style="text-align:right">
                                  {{SaleTransactionDetails && SaleTransactionDetails[0]?.BillAmount}}
                             </td>
                         </tr>
                     </tbody>
                 </table>
             </div>
         </div>
         <div class="invoice" style="margin:0px;">
             <table>
                 <tr>
                     <td  colspan="2" style="font-weight:600; font-size:20px; text-align:center;">
                        Term & condition
                     </td>
                 </tr>
                 <tr>
                     <td colspan="2">
                        <ul style="list-style-type:upper-alpha">
                            <li>COMPANY DOES NOT COVER ANY TYPE OF INSURANCE ALTHOUGH YOU NEED TO COVER BY OWN IF YOU REQUIRE.</li>
                            <li>NEW PARCELS MAXIMUM REFUND WILL BE $50.00</li>
                            <li>THE PARCEL MAY BE DISCARDED IF UNNECESSARY ITEMS ARE PUT IN THE PARCEL WITHOUT OUR PERMISSION</li>
                            <li>THE PARCEL MAY BE DELAYED DUE TO CUSTOM CLEARANCE OR ADVERSE WEATHER CONDITIONS.</li>
                            <li>THERE IS NO WARRANTY FOR ANY WAR CONDITIONS OR ANY FORCE DISASTER</li>
                            <li>ANY EXTRA CHARGES INCURRED, SUCH AS CUSTOM DUTY OR DEMURRAGE, IS THE RESPONSIBILITY OF THE SENDER</li>
                            <li>ALL COURIER SERVICE RENDERED VIA THIRD PARTY SERVICE PROVIDER</li>
                        </ul>
                        <p>
                            I (the shipper) confirm that the goods being shipped on this consignment and non-hazardous and
                            the description entered above are accurate. I also declare that the values are of the good listed is correct.
                        </p>
                     </td>
                 </tr>
                 <tr>
                     <td>
                         <p style="text-align:center; padding-top:10px;">
                             ............................................(Sendar Sign)
                         </p>
                     </td>
                     <td>
                         <p style="text-align:center; padding-top:10px;">
                             ............................................(Agent Sign)
                         </p>
                     </td>
                 </tr>
             </table>
         </div>
         <div style="float:left;text-align:right;overflow:auto;min-height:20px; margin-top:5px;">
             <span>Pageno 1 of 1</span>
         </div>
     </div>
     </div>