<main class="main-content bgc-grey">
  <div id="mainContent">
    <div class="page-header p-0">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 left_side_head">
            <p class="heading_lead c-grey-900 mb-0">
              <i class="fas fa-balance-scale"></i>Follow Up
            </p>
          </div>
          <div class="col-md-8 p-0">
            <div class="right_saerch_side">
              <div class="mr-2">
                <div id="custom-search-input" class="btn_header1">
                  <div class="input-group col-md-12">
                    <input
                      type="text"
                      class="form-control input-lg"
                      placeholder="Search"
                      (input)="getFollowUpList()"
                      name="searchText"
                      [(ngModel)]="searchText"
                    />
                    <span class="input-group-btn">
                      <a>
                        <i class="fas fa-search"></i>
                      </a>
                    </span>
                  </div>
                </div>
              </div>
              <div class="btn_header">
                <a
                  href="#followup_search_form"
                  class="btn btn-info waves-effect waves-light"
                  data-toggle="collapse"
                  ><i class="fas fa-search"></i>Search</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="followup_search_form" class="card collapse mb-2">
      <div class="px-3 pt-2">
        <form
          #followUpSearchFormControl="ngForm"
          (ngSubmit)="followUpSearchFormControl.form.valid && getFollowUpList()"
          novalidate
        >
          <div class="form row">
            <div class="form-group col-md-3 ">
              <label>Lead Status</label>
              <ng-select
                name="statusName"
                [items]="crmService.leadUtilityData.EnquiryStatus"
                bindLabel="commondesc"
                bindValue="id"
                placeholder="Select Status"
                [(ngModel)]="leadStatusId"
              >
              </ng-select>
            </div>
            <div class="form-group col-md-3">
              <label>Business Type</label>
              <ng-select
                id="businessTypeId"
                name="businessTypeName"
                [items]="crmService.leadUtilityData.BusinessType"
                bindLabel="commondesc"
                bindValue="id"
                placeholder="Select Business Type"
                [(ngModel)]="businessTypeId"
              >
              </ng-select>
            </div>
            <div class="form-group col-md-3">
              <label>Source</label>
              <ng-select
                id="sourceId"
                name="sourceName"
                [items]="crmService.leadUtilityData.EnquirySource"
                bindLabel="commondesc"
                bindValue="id"
                placeholder="Select Source"
                [(ngModel)]="sourceId"
              >
              </ng-select>
            </div>
            <div class="form-group col-md-3">
              <label>Follow Up Action</label>
              <ng-select
                id="followUpActionId"
                name="followUpActionName"
                [items]="crmService.leadUtilityData.FollowUpAction"
                bindLabel="commondesc"
                bindValue="id"
                placeholder="Select Follow Up Action"
                [(ngModel)]="followUpActionId"
              >
              </ng-select>
            </div>
            <div class="form-group col-md-3">
              <label>Follow Up Duration</label>
              <ng-select
                id="followUpPeriodId"
                name="followUpPeriodName"
                [items]="crmService.leadUtilityData.TimeDurationFilters"
                bindLabel="commondesc"
                bindValue="id"
                placeholder="Select Duration"
                [(ngModel)]="followUpDurationId"
              >
              </ng-select>
            </div>
            <div class="form-group col-md-3 ">
              <label class="fw-500">From</label>
              <div class="timepicker-input input-icon form-group">
                <datepicker-popup
                  [toSetDate]="fromDateValue"
                  (dateInFormat)="fromDateValue = $event"
                >
                </datepicker-popup>
              </div>
            </div>
            <div class="form-group col-md-3">
              <label class="fw-500">To</label>
              <div class="timepicker-input input-icon form-group">
                <datepicker-popup
                  [toSetDate]="toDateValue"
                  (dateInFormat)="toDateValue = $event"
                ></datepicker-popup>
              </div>
            </div>
            <div class="form-group col-md-3 pt-3">
              <button
                type="submit"
                class="btn btn-primary waves-effect waves-light"
              >
                Search
              </button>
              <button
                type="button"
                (click)="followUpSearchFormControl.resetForm()"
                class="btn btn_close waves-effect"
              >
                Reset
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="bgc-white bdrs-3 p-20">
          <div class="sidebar-offcanvas top_action_saniiro">
            <ul class="filter-cat">
              <li>
                <div class="divyellow"></div>
                <a
                  href="javascript:void(0)"
                  (click)="
                    leadStatusId = null;
                    followUpDurationId = 1;
                    getFollowUpList()
                  "
                  ><span class="colorspan">Overdue</span></a
                >
              </li>
              <li>
                <div class="divblue"></div>
                <a
                  href="javascript:void(0)"
                  (click)="
                    leadStatusId = null;
                    followUpDurationId = 2;
                    getFollowUpList()
                  "
                  ><span class="colorspan">Todays</span></a
                >
              </li>
              <li>
                <div class="divgray"></div>
                <a href="javascript:void(0)" (click)="getFollowUpList('Assigned')"
                  ><span class="colorspan">Assigned</span></a
                >
              </li>
              <li>
                <div class="divgreen"></div>
                <a
                  href="javascript:void(0)"
                  (click)="
                    followUpDurationId = null;
                    leadStatusId = 6;
                    getFollowUpList()
                  "
                  ><span class="colorspan">Converted</span></a
                >
              </li>
              <li>
                <div class="divedd"></div>
                <a href="javascript:void(0)"
                  ><span class="colorspan">Quotation</span></a
                >
              </li>
              <li>

                <div class="divetentative"></div>
                <a
                  href="javascript:void(0)"
                  (click)="
                    followUpDurationId = null;
                    leadStatusId = 5;
                    getFollowUpList()
                  "
                  ><span class="colorspan">Tentative</span></a
                >
              </li>
              <li style="background:#4285f4;">
                <a href="javascript:void(0)"
                 class="font-weight-bold text-decoration-none text-white"
                  (click)="transferFollowUp()">
                  Transfer Follow-Up
                </a>
              </li>
            </ul>
          </div>

          <div class="table-responsive ">
            <table class="table table-hover table_challan">
              <thead class="saniiro_tbl_header">
                <tr class="default_row">
                  <th> <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="allSelectedFollowUps"
                     name="allFollowUpSelectedName"
                    [checked]="isAllFollowUpSelected"
                     (change)="isAllFollowUpSelected = $event.target.checked; checkAllFollowUp();">
                    <label class="custom-control-label" for="allSelectedFollowUps"></label>
                  </div></th>
                  <th></th>
                  <th>
                    Org/Customer Detail
                    <span class="pl-2">
                      <a
                        href="javascript:void(0)"
                        (click)="
                          isAsc[0] = !isAsc[0]; sortByKey(isAsc[0], 'Customer')
                        "
                      >
                        <i
                          class="fas"
                          style="color:#4285f4;"
                          [ngClass]="{
                            'fa-chevron-down': isAsc[0],
                            'fa-chevron-up': !isAsc[0]
                          }"
                        ></i>
                      </a>
                    </span>
                  </th>
                  <th>
                    Lead Score/Status
                    <span class="pl-2">
                      <a
                        href="javascript:void(0)"
                        (click)="
                          isAsc[1] = !isAsc[1]; sortByKey(isAsc[1], 'Status')
                        "
                      >
                        <i
                          class="fas"
                          style="color:#4285f4;"
                          [ngClass]="{
                            'fa-chevron-down': isAsc[1],
                            'fa-chevron-up': !isAsc[1]
                          }"
                        ></i>
                      </a>
                    </span>
                  </th>
                  <th>Lead Source</th>
                  <th>Follow Up Action</th>
                  <th>
                    Follow Up Date
                    <span class="pl-2">
                      <a
                        href="javascript:void(0)"
                        (click)="
                          isAsc[3] = !isAsc[3];
                          sortByKey(isAsc[3], 'NextFollowUpDate')
                        "
                      >
                        <i
                          class="fas"
                          style="color:#4285f4;"
                          [ngClass]="{
                            'fa-chevron-down': isAsc[3],
                            'fa-chevron-up': !isAsc[3]
                          }"
                        ></i>
                      </a>
                    </span>
                  </th>
                  <th width="200">
                    Remark
                  </th>
                  <th>Follow Up</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let item of followUpList | paginate: {itemsPerPage: itemsPerPage,
                      currentPage: p,
                      totalItems: total
                    };let i = index;"
                  [ngClass]="{
                    today: item.DueStatus === 'Todays',
                    overdue: item.DueStatus === 'Overdue',
                    complete: item.DueStatus === 'Converted',
                    tentative: item.DueStatus === 'Hot'
                  }"
                >
                <td>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input"
                    id="customCheck{{i}}" name="example1"
                    [checked]="item.selected"
                     (change)="item.selected = $event.target.checked" >
                    <label class="custom-control-label" for="customCheck{{i}}"></label>
                  </div>
                </td>
                  <td class="align-middle">
                    <a
                      href="javascript:void(0)"
                      (click)="item.FollowUpCount && showFollowUpDetails(item)"
                      >{{ item?.FollowUpCount }}</a
                    >
                  </td>
                  <td class="align-middle">
                    <div
                      class="dropdown arrow_down d-inline-block mr-1 profile_pict"
                    >
                      <a class="dropdown-toggle" data-toggle="dropdown">
                        <img
                          src="../assets/static/images/img.jpg"
                          alt="..."
                          class="img-circle profile_image"
                        />
                      </a>
                    </div>
                    <div class="section-edit detail_width_dropdown">
                      <a
                        (click)="openLeadReport(item)"
                        class="strong text-ellipsis ember-view"
                        >{{ item?.Customer }}
                      </a>
                      <address>{{ item.AddressValue }}</address>
                    </div>
                  </td>
                  <td class="align-middle text-center">
                    <span>NIL</span>
                    <div class="assign">
                      {{ item?.Status }}
                    </div>
                  </td>
                  <td class="align-middle">
                    <div class="section-edit">
                      <div>
                        <strong>{{ item.Source }}</strong>
                      </div>
                      <div>
                        {{ item?.BusinessType }}
                      </div>
                    </div>
                  </td>
                  <td class="align-middle">{{ item?.FollowActionName }}</td>
                  <td class="align-middle">
                    <div>
                      {{ item.NextFollowUpDate | date: "short" }}
                    </div>
                  </td>
                  <td class="align-middle" style=" word-wrap: break-word;">
                    {{ item?.Remark }}
                  </td>
                  <td class="text-center">
                    <a
                      href="javascript:void(0)"
                      (click)="addLead(item, 'follow-up-from-follow-up')"
                    >
                      <i class="fas fa-clipboard-check follow_icon"></i
                    ></a>
                  </td>
                  <td class="align-middle">
                    <div class="dropdown enquiry-tag">
                      <a class="dropdown-toggle" data-toggle="dropdown"
                        ><i class="fa fa-cog mR-3 cH-blue fa-1x"></i
                        ><b class="caret"></b
                      ></a>
                      <ul class="dropdown-menu fsz-sm">
                        <li>
                          <a
                            (click)="addLead(item, 'follow-up-edit')"
                            class="d-b td-n p-1"
                            ><i class="far fa-edit mR-10 cH-blue"></i
                            ><span>Edit</span></a
                          >
                        </li>
                        <li>
                          <a (click)="assignTo(item)" class="d-b td-n p-1"
                            ><i class="fas fa-location-arrow mR-10 cH-blue"></i
                            ><span>Assign To</span></a
                          >
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-pagination
  #paging_comp
  (lastValueEmitter)="lastItemIndex = $event"
  (pageNoEmitter)="p = $event; getFollowUpList()"
  (pageSizeEmitter)="itemsPerPage = $event; getFollowUpList()"
></app-pagination>

<ng-container #addLeadContainerRef></ng-container>
<ng-container #leadInfoContainerRef></ng-container>
<ng-container #followUpCountInfoContainerRef></ng-container>
<ng-container #assignToContainerRef></ng-container>

