<div
  class="modal fade right"
  id="add_new_city"
  data-backdrop="static"
  data-keyboard="false"
  role="dialog"
  aria-labelledby="category_master"
  aria-hidden="true"
>
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header close_popup">
        <h4 class="modal-title w-100 c-grey-900">Add New City</h4>
        <button
          type="button"
          class="close"
          (click)="closeForm()"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     
      <form #addCityForm="ngForm" novalidate>
        <div class="modal-body">
          <div class="card-body">
            <div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="commonMenuName">Country</label>
                  <div class="input-group adw_select">
                    <div class="input-group adw_select">
                      <select2
                        #addCityCountrySelect
                        [data]="countryList"
                        class="control_select"
                        (valueChanged)="onCountrySelectionChange($event)"
                        autocomplete="true"
                        [value]="model.countryValue"
                      >
                      </select2>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-12">
                  <label>State</label>
                  <div class="input-group adw_select">
                    <div class="input-group adw_select">
                      <select2
                        #addCityStateSelect
                        [data]="stateList"
                        class="control_select"
                        (valueChanged)="onStateSelectionChange($event)"
                        autocomplete="true"
                        [value]="model.stateValue"
                      >
                      </select2>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-12">
                  <label>City</label>
                  <input
                    name="cityShortName"
                    type="text"
                    [(ngModel)]="model.cityName"
                    class="form-control"
                    placeholder="Enter City"
                    [disabled]="!model?.selectedStateId || !model?.selectedCountryId"
                    required
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary waves-effect"
            (click)="addCityForm?.form?.valid && saveCity()"
            [disabled]="addCityForm?.form?.invalid"
            (keydown.enter)="addCityForm?.form?.valid && saveCity()"
          >
            Save
          </button>
          <button
            type="button"
            class="btn btn-primary waves-effect"
            (click)="addCityForm?.form?.valid && saveCity('AddNew')"
            (keydown.enter)="
            addCityForm?.form?.valid && saveCity('AddNew')
            "
            [disabled]="addCityForm?.form?.invalid"
          >
            Save and Add New
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
