.additionalCharge{
    font-size: 17px;
    color: black;
    font-family: sans-serif;
    font-weight: 500;
}
.item_name{
    padding-left: 12px;
    margin-top: 5px;
}  
.taxable_cls{
    font-size: 13px;
    color: black;
    font-weight: 530;

}