<div class="modal fade" id="sale_direct_form" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog large_form modal-full-height modal-top" role="document">
      <div class="modal-content bgcH-grey-100">
        <div class="modal-header primary-bg">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3 left_side_head">
                <p class="heading_lead"><i class="fas fa-chart-line" aria-hidden="true"></i> Sale Invoice</p>
                 <!-- <p class="heading_lead">{{allChallanNos}}</p>  -->
              </div>
              <div class="col-md-9">
                <div class="btn_header">
                  <button  (keydown.enter)="pressF10ForSave($event)"  class="btn btn-default waves-effect" (click)="keepOpen=false;saveSaleChallan()">Save </button>
                  <button   class="btn btn-info waves-effect" (click)="keepOpen=true;saveSaleChallan()">Save and New</button>
                  <button type="button" (click)="clearExtras()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="white-text">×</span> </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-row">
              <div class="form-group col-md-4 col-lg-2 col-xl-2">
                <label><span>Party</span><a  (click)="openCustomerDetails()" class="info_tooltip" data-toggle="modal"  ><i class="fas fa-plus"></i></a> </label>
                <div class="input-group adw_select">
                  <div class="input-group adw_select">
                    <select2  [disabled]="Id !== 0 || localItemas.length > 0"  #client_select2 id="client"  [data]="clientNameSelect2" class="control_select" (valueChanged)="onSelected2clientId($event)" autocomplete="true" [options]="clientnamePlaceHolder" [value]="clientNameId" [ngClass]="{'errorSelecto': submitSave && invalidObj2?.clientNameId }"></select2>
                  </div>
                </div>
              </div>
             <div class="form-group col-md-4 col-lg-2 col-xl-2">
                <label>Organization Name</label>
                <div class="input-group adw_select">
                  <div class="input-group adw_select">
                    <select2 [disabled]="Id !== 0 || localItemas.length > 0" #orgnization_select2  id="organization" [data]="organizationData" class="control_select" (valueChanged)="onChangeOrganizationId($event)" autocomplete="true" [options]="orgnazationPlaceHolder"  [value]="orgNameId"  [ngClass]="{'errorSelecto': submitSave && invalidObj2?.orgNameId }"></select2>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-4 col-lg-2 col-xl-2">
                <label class="fw-500">Invoice Date</label>
                <datepicker-popup [disableInput]="editMode"
                [toSetDate]="InvoiceDate" [isBackDate]="backDateEntrySale"
                (dateInFormat)="InvoiceDate = $event;"
                >
                </datepicker-popup>
              </div>
               <div class="form-group col-md-4 col-lg-2 col-xl-2">

                <label>Invoice NO.</label>
                <!-- <label *ngIf="true" id="previous-bill-container" ></label> -->
                <label *ngIf="redirectToTranspageFlag"><span></span><a  (click)="openTranctionBillNo()" class="info_tooltip" data-toggle="modal"  ><i class="fas fa-cog"></i></a> </label>

                <label *ngIf="isManualBillNoEntry && lastBillNo" id="previous-bill-container" > ( Last BillNo. is -{{lastBillNo}} )</label>
                <input   type="text" placeholder="Bill Number" (input)="checkValidation()" [disabled]="!isManualBillNoEntry" [ngClass]="{'errorSelecto': submitSave && invalidObj2?.BillNo }" class="form-control" name="BillNo" [(ngModel)]="BillNo">
              </div>
              <div class="form-group col-md-4 col-lg-2 col-xl-2">
                <label class="fw-500">Current Date</label>
            
                <datepicker-popup [disableInput]="editMode"
                [toSetDate]="CurrentDate" 
                (dateInFormat)="CurrentDate = $event;"
                >
                </datepicker-popup>
              </div>
              <div class="form-group col-md-4 col-lg-2 col-xl-2">
                <label for="E-way">E-way Bill Number</label>
                <input  type="text" class="form-control" id="e-way" placeholder="E-way No." (input)="checkValidation()" [ngClass]="{'errorSelecto': submitSave && invalidObj?.EwayBillNo }" class="form-control" name="EwayBillNo" [(ngModel)]="EwayBillNo">
              </div>

                <div class="form-group col-md-4 col-xl-2">
                          <label> Currency</label>
                          <div  class="input-group adw_select ">
                            <div class="input-group adw_select">
                              <select2  [disabled]="Id !== 0"  id="currency" #currency_select2 [data]="currencies" class="control_select" (valueChanged)="onSelectCurrency($event)"
                              autocomplete="true" [options]="CurrencyPlaceHolder" [value]="currency" [ngClass]="{'errorSelecto': submitSave && invalidObj?.CurrencyId }" ></select2>
                            </div>
                          </div>
                        </div>
            <div class="form-group col-md-4 col-lg-2 col-xl-2">
                <label class="fw-500">Due Date</label>
                    <datepicker-popup [disableInput]="editMode"
                    [toSetDate]="DueDate" 
                    (dateInFormat)="DueDate = $event;" >
                    </datepicker-popup>
               
              </div>

                       <div class="form-group col-md-4 col-xl-2">
                          <label> Interest Rate</label>
                                 <div class="discount">
                                  <input type="number" class="form-control Input_width" appIncludeDecimal name="InterestRate"  placeholder="Interest Rate" [(ngModel)]="InterestRate">
                                  <select (ngModelChange)="changeIntrate($event)" class="form-control discount_type" id="InterestRate" [(ngModel)]="InterestRateType"  name="InterestRateType" >
                                    <option *ngFor="let value of currencyValues;" [value]="value.id" >{{value.symbol}}</option>
                                  </select>
                                </div>
                        </div>
                             <div class="form-group col-md-4 col-lg-2 col-xl-2">
                <label for="E-way">Godown/Location</label>
              <div class="input-group adw_select">
                  <div class="input-group adw_select">
                    <select2 [disabled]="Id !== 0" #godown_select2  id="godown" [data]="godownDataType" class="control_select" (valueChanged)="onChangeGodown($event)"  autocomplete="true"  [options]="{placeholder:'Select Godown'}"  [value]="godownId" ></select2>
                  </div>
                </div>
              </div>
                      <div  *ngIf="isCaseSaleFlag" class="form-group col-md-3">
                    <label> Billing Address </label>
                      <div  class="input-group adw_select">
                       <select2 [disabled]="Id !== 0 || localItemas.length > 0"  #state_Billing_Select2Id [data]="stateList" class="control_select"
                          (valueChanged)="selectStatelist($event)" autocomplete="true"
                         [options]="stateListplaceHolder" [value]="stateValue"  >
                         </select2>
                  </div>
                  </div>
                   <div *ngIf="isCaseSaleFlag" class="form-group col-md-3">
                    <label> Shipping Address </label>
                      <div class="input-group adw_select">
                       <select2 [disabled]="Id !== 0"  #state_shiping_Select2Id [data]="stateListShip" class="control_select"
                          (valueChanged)="selectShippingStatelist($event)" autocomplete="true"
                         [options]="stateListplaceHolder" [value]="stateShippingValue"  >
                         </select2>
                  </div>
                  </div>
            </div>
            <div class="card p-2 mb-2">
                <h5 class="summery_text">Item Detail :</h5>
                <div class="form-row">
              <div class="table-responsive parent">
                
                <table  class="table editable_tbl item-table table-hover fixTable4" id="table">
                  <thead>
                    <tr class="default_row">
                        <th class="cust_width_80">#</th>
                      <th [colSpan]="catLevel" >Category</th>
                      <th>Item</th>
                      <ng-container *ngIf="industryId === '2' " >
                       <th *ngFor="let column of attributesLabels ; ">
                          {{column.label}}
                      </th>
                      </ng-container>
                      <th>Quantity</th>
                      <th>Unit</th>
                      <ng-container *ngIf="industryId === '3' " >
                       <th>Length</th>
                       <th>Height</th>
                       <th>Width</th>
                      </ng-container>
                    
                       <ng-container *ngIf="industryId === '5' " >
                        <th>Mfd Date</th>
                        <th>Expiry Date</th>
                        <th>Batch No</th>
                      </ng-container>
                       <ng-container *ngIf="industryId === '6' " >
                        <th>Batch No</th>
                        <th>Expiry Date</th>
                      </ng-container>
                     
                      <th>Rate</th>
                      <th>Total</th>

                      <th>Discount</th>
                      <th>Discount Amt</th>

                      <th>Tax Slab</th>
                      <th>Tax Type</th>
                      <th>Tax Amount</th>
                      <th class="cust_width_200">Remark</th>
                      <th>Total Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr  class="default_row" *ngFor="let item of localItemas; let i = index;">
                      
                        <!-- <td></td> -->
             <td class="profile-pic1" >
                                <div class="edit1">
                                    <a *ngIf="localItemas.length > 0" (click)="deleteItem('items' ,i,item.Sno,item.Id,item,localItemas[i].LableAttributeVale)" ><i class="fa fa-trash fa-1x" aria-hidden="true"></i></a>
                                   <!--  <a *ngIf="localItemas.length > 0"  ><i class="fas fa-pen fa-1x"></i></a> -->
                                    <a *ngIf="localItemas.length > 0" (click)="editRowItem('items',i,item.Sno , item.Id ,item, localItemas[i].LableAttributeVale)" ><i class="fas fa-pen fa-1x"></i></a>
                                </div>
                              </td>


                      <td  [colSpan]="categories.length">{{item.CategoryName}}</td>

                      <td>{{item.ItemName}}</td>
                      <ng-container *ngIf="industryId === '2' " >
                       <td *ngFor="let value of  localItemas[i].LableAttributeVale; let a = index ">
                            {{localItemas[i].LableAttributeVale && localItemas[i].LableAttributeVale[a]?.AttributeValue[0]?.AttributeName}}
                      </td>
                       </ng-container>
                       <td>{{item.Quantity}}</td>
                      <td>{{item.UnitName}}</td>
                     <ng-container *ngIf="industryId === '3' " >
                      <td>{{item.Length}}</td>
                      <td>{{item.Height}}</td>
                      <td>{{item.Width}}</td>
                     </ng-container>
                     
                      <ng-container *ngIf="industryId === '5' " >
                      <td>{{item.MfdDate}}</td>
                      <td>{{item.ExpiryDate}}</td>
                      <td>{{item.BatchNo}}</td>
                     </ng-container>
                     <ng-container *ngIf="industryId === '6' " >
                      <td>{{item.BatchNo}}</td>
                      <td>{{item.ExpiryDate}}</td>
                      </ng-container>
                    
                      <td class="text-right">{{item.Rate}}</td>
                      <td class="text-right">{{(item.ReversetotalAmount).toFixed(decimalDigit)}}</td>
                       <td class="text-right">{{item.Discount}}&nbsp;{{item.DiscountType === '0'  ? '%' : defaultCurrency}}
                      <td class="text-right">{{(item.DiscountAmt).toFixed(decimalDigit)}} </td>
                      <td>{{item.TaxSlabName}}</td>
                      <td>{{item.TaxTypeName}} </td>
                      <td class="text-right">{{item.TaxAmount}} </td>
                      <td>{{item.Remark}}</td>
                      <td class="text-right">{{(item.TotalAmount).toFixed(decimalDigit)}}</td>
                     </tr>

                  </tbody>
                 <tfoot>
                  <tr  class="selected_row active">
                    <!-- <td></td> -->
                <td>
                  <div class="action_btn">
                    <button type="submit" class="btn btn-primary  btn_add_more" (click)="addItems()">+</button>
                  </div>
                </td>

                  <ng-container *ngIf="!loading" >
                 <td *ngFor="let category of categories">
                   <div class="input-group adw_select" >
                     <select2 [disabled]='itemTableDisabledFlag' [data]="category.data" #cat_select2 class="control_select"
                       (valueChanged)="onSelectCategory($event, category.level)"
                       autocomplete="true" [options]="{ placeholder: 'Select Category' }" [value]="category.value"
                     ></select2>
                   </div>
                 </td>
               </ng-container>


                <td>
              <div class="input-group adw_select ">
                <select2 (input)="validationForItemData()" [disabled]='disabledItem || itemTableDisabledFlag' #item_select2 [data]="itemCategoryType" class="control_select " (valueChanged)="onSelectItemCategory($event)" autocomplete="true"
                [options]="itemcategoryPlaceHolder" [value]="itemCategoryId" [ngClass]="{ 'errorSelecto is-invalid ': itemSubmit && invalidObj?.itemCategoryId }" ></select2>
              </div>
                </td>
              <ng-container *ngIf="industryId === '2' " >
         
                <td *ngFor="let attribute of allAttributeData; let i= index">
                  <div class="input-group adw_select">
                    <select2 #attr_select2  id="attr{{i}}" [data]="attribute.data" class="control_select attr"
                    (valueChanged)="onChangeAttribute($event,i, attribute)"
                    autocomplete="true" [options]="{ placeholder: 'Select' }" 
                    [value]="attributeValue" ></select2>
                  </div>
                </td>
              </ng-container>
              <td>
                <input type="number"   class="form-control " (input)="validationForItemData();calculate();"  placeholder="Quantity" appIncludeDecimal name="Quantity" [ngClass]="{'errorSelecto': itemSubmit && invalidObj?.Quantity }"  [(ngModel)]="Quantity">
              </td>
                 <td>
                   <div class="input-group adw_select ">
                            <select2 [data]="unitDataType" #unit_select2 class="control_select" (valueChanged)="onSelectUnitId($event)"
                            autocomplete="true" [options]="unitPlaceHolder" [value]="unitId"   ></select2>
                          </div>
                </td>
               <ng-container  *ngIf="industryId === '3' ">
                   <td>
                  <input  type="number" (input)="calculate();"  class="form-control" appIncludeDecimal   placeholder="Length"  name="Length" [(ngModel)]="Length">
                </td>

                 <td>
                  <input  type="number" (input)="calculate();"   class="form-control"  appIncludeDecimal  placeholder="Height"  name="Height" [(ngModel)]="Height">
                </td>
                 <td>
                  <input  type="number" (input)="calculate();"   class="form-control" appIncludeDecimal  placeholder="Width"  name="Width" [(ngModel)]="Width">
                </td>
               </ng-container>

                
                  <ng-container *ngIf="industryId === '5' " >
                  <td>
                      <datepicker-popup 
                      [toSetDate]="MfdDate" 
                      (dateInFormat)="MfdDate = $event;" >
                      </datepicker-popup>
                  <!-- <input  type="text" class="form-control start-date flatpickr" id="MF-date" placeholder="MF Date"  data-provide="datepicker" [(ngModel)]="MfdDate" name="MFDate"> -->
                </td>
                  <td>
                      <datepicker-popup 
                      [toSetDate]="ExpiryDate" 
                      (dateInFormat)="ExpiryDate = $event;" >
                      </datepicker-popup>
                     <!-- <input type="text" class="form-control start-date flatpickr" id="Expiry-date" placeholder="Expiry Date"  data-provide="datepicker" [(ngModel)]="ExpiryDate" name="ExpiryDate"> -->
                </td>
                   <td>
                  <input  (input)="validationForItemData()" type="text"   class="form-control"  [ngClass]="{'errorSelecto': itemSubmit && invalidObj?.BatchNo }"  placeholder="BatchNo"  name="BatchNo" [(ngModel)]="BatchNo">
                </td>
                  </ng-container>
                   <ng-container *ngIf="industryId === '6' " >
                  <td>
                  <input  (input)="validationForItemData()" type="text"   class="form-control"  [ngClass]="{'errorSelecto': itemSubmit && invalidObj?.BatchNo }"  placeholder="BatchNo"  name="BatchNo" [(ngModel)]="BatchNo">
                </td>
                <td>
                    <datepicker-popup 
                    [toSetDate]="ExpiryDate" 
                    (dateInFormat)="ExpiryDate = $event;" >
                    </datepicker-popup>
                     <!-- <input (input)="validationForItemData()" type="text" class="form-control start-date flatpickr" id="Expiry-date" placeholder="Expiry Date"  data-provide="datepicker" [(ngModel)]="ExpiryDate" name="ExpiryDate"> -->
                </td>
                  </ng-container>
                  
                <td >
                  <input type="number"  appIncludeDecimal class="form-control "  (input)="validationForItemData();calculate();" placeholder="Rate" appIncludeDecimal name="Rate" [ngClass]="{'errorSelecto': itemSubmit && invalidObj?.Rate }" [(ngModel)]="Rate">
                </td>
                <td >
                  <input    type="number" (input)="getReverseSaleRate();"  class="form-control text-right" placeholder="Total Amount" appIncludeDecimal name="ReversetotalAmount" [ngClass]="{'errorSelecto': itemSubmit && invalidObj?.ReversetotalAmount }" [(ngModel)]="ReversetotalAmount">
                </td>
                 <td>
                  <div class="discount">
                            <input type="number" class="form-control Input_width" appIncludeDecimal name="Discount"  [ngClass]="{'errorSelecto': itemSubmit && invalidObj?.Discount }"  (input)="validationForItemData();calculate()" placeholder="Discount" [(ngModel)]="Discount">
                            <select  class="form-control discount_type" id="DiscountType" [(ngModel)]="DiscountType" (ngModelChange)="validationForItemData();calculate()" name="discountType" >
                              <option *ngFor="let value of currencyValues;" [value]="value.id" >{{value.symbol}}</option>
                            </select>
                          </div>
                        </td>
                           <td>
                          <input type="text" disabled="true" class="form-control text-right" appIncludeDecimal name="DiscountAmt" placeholder="Discount Amt"  [(ngModel)]="DiscountAmt" >
                        </td>
                         <td>
                        <div class="input-group adw_select ">
                            <select2  [disabled]='taxDisabledFlag'  [data]="taxSlabSelectoData" #tax_select2 class="control_select"
                            (valueChanged)="onChangeTaxSlabType($event)"
                            autocomplete="true" [options]="{placeholder:'Select Tax'}" [value]="taxSlabId"  >
                          </select2>
                          </div>
                            </td>
                           <td>
                          <div class="input-group adw_select">
                             <select2 [data]="taxTypeSelectData" #taxtype_select2 class="control_select"
                             (valueChanged)="onChangeTaxTypeExclusiveInclusive($event)"
                            autocomplete="true" [options]="taxTypePlaceHolder"
                             [value]="TaxTypeId"  >
                            </select2>
                          </div>
                            </td>
                             <td>
                          <input type="text" disabled="true" class="form-control text-right" appIncludeDecimal name="taxAmount" placeholder="Tax Amount"  [(ngModel)]="TaxAmount" >
                        </td>
                        <td>
                          <input  type="text"   class="form-control"   placeholder="Remark"  name="Remark" [(ngModel)]="Remark">
                        </td>
                <td >
                  <input  (input)="validationForItemData()"  (keydown.enter)="enterPressItem($event)" type="number" readonly="true" class="form-control text-right" placeholder="Total Amount" appIncludeDecimal name="TotalAmount" [ngClass]="{'errorSelecto': itemSubmit && invalidObj?.TotalAmount }" [(ngModel)]="TotalAmount">
                </td>
              </tr>
                    <tr>
                      <td></td>
                     <td *ngFor="let item of categories" ></td>
                     <td></td>
                     <ng-container *ngIf="industryId === '2' " >
                        <td  *ngFor="let column of attributesLabels"  ></td>

                     </ng-container>
                       <td colspan="3" *ngIf="industryId === '3' " ></td>
                      <td colspan="3" *ngIf="industryId === '5' " ></td>
                      <td colspan="2" *ngIf="industryId === '6' " ></td>
                      <td  colspan="5"></td>
                      <td>
                          <input type="number"  disabled="true" class="form-control text-right"
                          placeholder="Total Discount" name="TotalDiscount"
                          [(ngModel)]="totalDiscount">
                      </td>
                      <td colspan="2"></td>
                      <td> 
                        <input type="number" disabled="true" class="form-control text-right"
                        placeholder="Total Tax Amount" name="totalTaxAmount"
                        [(ngModel)]="totalTaxAmount"></td>
                        <td colspan="1"></td>
                      <td>
                         <input type="number"  disabled="true" class="form-control text-right" placeholder="Total Gross Amount" appIncludeDecimal name="subTotalBillAmount"  [(ngModel)]="subTotalBillAmount">
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
              </div>
            </div>
             <div class="card p-2 mb-2" >
                <h5  class="summery_text"> Additional Details :  </h5>
                <div class="form-row">
                  <div class="table-responsive parent" id="parent">
                    <table class="table editable_tbl charge_table" id="fixTable">
                      <thead>
                        <tr>
                          <th class="cust_width_80">#</th>
                          <th >Charge</th>
                          <th >Amount</th>
                          <th >Tax</th>
                          <th>Tax Type</th>
                          <th >Tax Amount</th>
                          <th >Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="default_row" *ngFor="let charge of AdditionalChargeData; let i =index;" >
                          <td  class="profile-pic1" >
                            <div class="edit1">
                              <a (click)="deleteItem('charge',i, charge.Sno,charge.Id,charge)" *ngIf="AdditionalChargeData.length > 0" >
                                <i class="fa fa-trash fa-1x" aria-hidden="true"></i>
                              </a>
                              <a (click)="editRowItem('charge',i,charge.Sno,charge.Id ,charge,'' )"
                                *ngIf="AdditionalChargeData.length > 0" ><i class="fas fa-pen fa-1x"></i>
                              </a>
                            </div>
                          </td>
                          <td>
                            {{charge.LedgerName}}
                          </td>
                          <td>
                            {{charge.AmountCharge}}
                          </td>
                          <td>
                            {{charge.taxslabName}}
                          </td>
                          <td>
                            {{charge.TaxTypeChargeName}}
                          </td>
                          <td class="text-right">
                            {{charge.TaxAmountCharge}}
                          </td>
                          <td class="text-right">
                            {{charge.TotalAmountCharge}}
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr class="selected_row active" >
                          <td>
                            <div class="action_btn">
                              <button (click)="addAdditionCharge()" type="submit"
                                class="btn btn-primary btn_add_more">+</button>
                            </div>
                          </td>
                          <td>
                            <div class="input-group adw_select">
                              <select2 name="chargeselect" #charge_select2 [data]="additionChargeLedger"
                                class="control_select"
                                (valueChanged)="onChangeCharge($event)"
                                autocomplete="true" [options]="{placeholder: 'Select Charge'}"
                                [ngClass]="{'errorSelecto': invalidObj4?.additionChargeId && (submitSave || !clickSaleAdditionCharge)  }"
                                [value]="ledgerChargeValue" ></select2>
                            </div>
                          </td>
                          <td><input type="numer" appIncludeDecimal name="AmountCharge" class="form-control"
                            [ngClass]="{'errorSelecto': invalidObj4?.AmountCharge && (submitSave || !clickSaleAdditionCharge)}"
                            (input)="validationCharge();calculate();"
                            id="AmountCharge" [(ngModel)]="AmountCharge" placeholder="Enter Amount">
                          </td>
                          <td>
                              <div class="input-group adw_select ">
                                  <select2 [disabled]='taxDisabledFlag'  [data]="taxSlabSelectoData" #taxCharge_select2 class="control_select"
                                  (valueChanged)="onChangeTaxCharge($event)"
                                  autocomplete="true" [options]="taxslabPlaceHolder" [value]="taxChargeId"  >
                                </select2>
                                </div>
                                  </td>
                                 <td>
                                <div class="input-group adw_select">
                                   <select2 [data]="taxTypeSelectData" #taxTypeCharge_select2 class="control_select"
                                   (valueChanged)="onChangeTaxTypeCharge($event)"
                                  autocomplete="true" [options]="taxTypePlaceHolder"
                                   [value]="taxTypeChargeId"  >
                                  </select2>
                                </div>
                                  </td>
                          <td ><input type="text" appIncludeDecimal readonly="true" name="TaxAmountCharge" class="form-control"
                           

                            id="TaxAmountCharge" [(ngModel)]="TaxAmountCharge" placeholder="Tax Amount">
                          </td>
                          <td ><input type="text" appIncludeDecimal readonly="true" name="TotalAmountCharge" class="form-control"

                            (keyup.enter)="enterDownCharge($event)"
                            id="TotalAmountCharge" [(ngModel)]="TotalAmountCharge" placeholder="Total Amount">
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>

                </div>
                <div class="form-row p-0 m-0">
                    <div class="col-md-6 card p-3">
                        <div class="form-row">
    
                  <div class="form-group col-md-6">
                        <label class="">Location To</label>
                       <input type="text" class="form-control" id="Location" placeholder="Location" (input)="checkValidation()" [ngClass]="{'errorSelecto': submitSave && invalidObj?.EwayBillNo }" class="form-control" name="Location" [(ngModel)]="LocationTo">
                      </div>
                      <div class="form-group col-md-6">
                        <label>Vehicle Number</label>
                        <input type="text" class="form-control" id="VehicleNo" placeholder="Vehicle No" (input)="checkValidation()" [ngClass]="{'errorSelecto': submitSave && invalidObj?.VehicleNo }" class="form-control" name="VehicleNo" [(ngModel)]="VehicleNo">
                      </div>
                        <div class="form-group col-md-4">
                        <label>Driver Name</label>
                         <input type="text" class="form-control" id="Drivername" placeholder="Driver name" (input)="checkValidation()" [ngClass]="{'errorSelecto': submitSave && invalidObj?.Drivername }" class="form-control" name="Drivername" [(ngModel)]="Drivername">
                      </div>
                      <div class="form-group col-md-4">
                        <label>Transportation</label>
                        <input type="text" class="form-control" id="Transportation" placeholder="Transportation" (input)="checkValidation()" [ngClass]="{'errorSelecto': submitSave && invalidObj?.Transportation }" class="form-control" name="Transportation" [(ngModel)]="Transportation">
                      </div>
                      <div class="form-group col-md-4">
                        <label> Round Off</label>
                        <input type="number" (input)="calculate()"   class="form-control"  tabindex="-1" placeholder="Round Off"
                        appIncludeDecimal name="RoundOff"  [(ngModel)]="RoundOffManual" >
                      </div>
    
                    </div>
                  </div>
                  <div class="col-md-6">
                      <div class=" card pt-2 pr-2 pl-2 ">
                        <h5 class="summery_text">Bill Summary</h5>
                          <div class="form-row">
                            <div class="col-md-6 text-left">
                              <div class="form-row">
                                <ng-container *ngIf="TaxableValue > 0" >
                                  <div class="col-md-6 labal_text taxable_cls">Taxable Value</div>
                                  <div class="col-md-6 value_text taxable_cls">{{TaxableValue}}</div>
                                </ng-container>
                                <ng-container *ngFor="let charge of AdditionalChargeData" >
                                  <div class="col-md-6 labal_text">{{charge.LedgerName}}</div>
                                  <div class="col-md-6 value_text">{{charge.AmountCharge}}</div>
                                </ng-container>
                              </div>
                            </div>
                            <div class="col-md-6 text-right" *ngIf="showtaxSlab && showtaxSlab.length > 0" >
                              <div class="form-row" *ngFor="let tax of showtaxSlab" >
                                <div class="col-md-6 labal_text">{{tax.name}}</div>
                                <div class="col-md-6 value_text">{{(tax.total).toFixed(decimalDigit)}}</div>
    
                              </div>
                            </div>
    
                          </div>
                          <div class="form-row  ">
                              <div class="col-md-6"></div>
                              <div class="col-md-3 labal_text font-weight-bold">RoundOff</div>
                              <div class="col-md-3 text-right font-weight-bold value_text">{{RoundOff}}</div>
                            </div>
                          <div class="form-row border-top pt-2">
                            <div class="col-md-6"></div>
                            <div class="col-md-3 labal_text font-weight-bold">Total Bill Amount</div>
                            <div class="col-md-3 text-right font-weight-bold value_text">{{(netBillAmount).toFixed(decimalDigit)}}</div>
                          </div>
                        </div>
                      </div>
    
                </div>
            
      <div class="col-md-12 mt-2 card p-2">
          <h5  class="summery_text"> Payment Details : </h5>
          <div class="form-row">
             <!-- <h5 class="additionalCharge">Payment Detail :</h5> -->
           <div class="table-responsive" id="parent">
            <table class="table editable_tbl table-hover pay_table" id="fixTable">
              <thead>
                <tr class="default_row">
                  <th class="cust_width_80">#</th>
                  <th>Payment Mode</th>
                  <th>Bank</th>
                  <th>Amount</th>
                  <th>PayDate</th>
                  <th>Reference No.</th>
                </tr>
              </thead>
              <tbody>
                <tr class="default_row" *ngFor="let transaction of transactions; index as i;" >

                   <td class="profile-pic1" >
                          <div class="edit1">
                              <a *ngIf="transactions.length > 0" (click)="deleteItem('trans',i,transaction.Sno,transaction.Id,transaction)" ><i class="fa fa-trash fa-1x" aria-hidden="true"></i></a>

                              <a *ngIf="transactions.length > 0" (click)="editRowItem('trans',i, transaction.Sno, transaction.Id,transaction,'')" ><i class="fas fa-pen fa-1x"></i></a>
                          </div>
                        </td>
                  <td style="min-width:180px;">
                    <div class="input-group adw_select">
                      {{transaction.Paymode}}
                    </div>
                  </td>
                  <td>
                    <div class="input-group adw_select">
                      {{transaction.ledgerName}}
                    </div>
                  </td>
                  <td>
                    <div class="input-group adw_select">
                      {{transaction.Amount}}
                    </div>
                  </td>
                  <td>
                    <div class="input-group adw_select">
                      {{transaction.PayShowDate}}
                    </div>
                  </td>
                  <td>
                    <div class="input-group adw_select">
                      {{transaction.ChequeNo}}
                    </div>
                  </td>
                </tr>
                <tr class="selected_row active" >
                  <td>
                    <div class="action_btn">
                      <button (click)="addTransactions()" type="submit" class="btn btn-primary btn_add_more">+</button>
                    </div>
                  </td>
                  <td style="min-width:180px;">
                    <div class="input-group adw_select">
                      <div class="input-group adw_select">
                        <div class="input-group adw_select">
                          <select2 name="Paymode" #paymode_select2 [data]="paymentModeSelect2" id="PayModeId" class="control_select" (valueChanged)="select2PaymentModeId($event)"
                          autocomplete="true" [options]="paymentPlaceHolder" [value]="paymode" [ngClass]="{'errorSelecto': invalidObj3?.PayModeId && (!clickTrans)  }" ></select2>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="input-group adw_select">
                      <div class="input-group adw_select">
                        <div class="input-group adw_select">
                          <select2 name="LedgerId" #ledger_select2 [data]="paymentLedgerselect2" id="LedgerId" class="control_select" (valueChanged)="paymentLedgerId($event)"
                          autocomplete="true" [options]="ledgerPlaceHolder" [value]="ledgerBank" [ngClass]="{'errorSelecto': invalidObj3?.LedgerId && (!clickTrans) }" ></select2>
                        </div>
                      </div>
                    </div>
                  </td>

                  <td><input (input)="validateTransaction()" type="text" appIncludeDecimal name="Amount" class="form-control" id="Amount" [(ngModel)]="Amount"  [ngClass]="{'errorSelecto': invalidObj3?.Amount && (submitSave || !clickTrans) }" placeholder="Enter Amount"></td>

                  <td>
                      <datepicker-popup 
                      [toSetDate]="PayDate" 
                      [isBackDate]="backDateEntrySale"
                      (dateInFormat)="PayDate = $event;" >
                      </datepicker-popup>
                    <!-- <input (input)="validateTransaction()" type="text" name="PayDate" id="pay-date" class="form-control flatpickr" [(ngModel)]="PayDate" [ngClass]="{'errorSelecto': invalidObj3?.PayDate && (submitSave || !clickTrans) }" placeholder="Select Date"> -->
                  </td>
                  <td><input (input)="validateTransaction()"  (keyup.enter)="enterPaymentSave($event)" type="text" id="ChequeNo" class="form-control" name="ChequeNo" [(ngModel)]="ChequeNo"   ></td>
                </tr>
              </tbody>
            </table>

        </div>
        </div>

            </div>
        
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade right " *ngIf="!isCaseSaleFlag" id="cust_detail_m" role="dialog" aria-labelledby="unit_master" data-backdrop="static">

    <!-- Change class .modal-sm to change the size of the modal -->
    <div class="modal-dialog modal-full-height modal-right" role="document">
        <div class="modal-content">
            <div class="modal-header close_popup">
                <h4 class="modal-title w-100 c-grey-900">Customer Detail</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div>
                        <form [formGroup]="customerForm" novalidate >
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label class="active">Customer Name</label>
                                    <input #custName type="text" class="form-control" formControlName="caseCustomerName" [ngClass]="{ 'errorTextBoxBorder is-invalid': customerClick && add.caseCustomerName.errors }" placeholder="Enter Value">
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="active">Mobile Number</label>
                                    <div class="mobile_code   ">
                                        <select2 #countryCode_select2
                                          [data]="countryListWithCode"
                                          class="control_select width_20"
                                          (valueChanged)="
                                          onCountryCodeSelectionChange($event)"
                                          [value]='countryCodeFlag'
                                          autocomplete="true"  [ngClass]="{ 'errorTextBoxBorder is-invalid': customerClick && !checkIsValidMobileNo }"
                                        >
                                        </select2>



                                            <input id='mobileId' (input)="checkOnInputMobile($event)"  [attr.disabled]="disbledInputMobileFlag?'':null"  type="number" class="form-control width_70"  formControlName="customerMobileNo" [ngClass]="{ 'errorTextBoxBorder is-invalid': customerClick && add.customerMobileNo.errors }" placeholder="Number">
                                </div>
                              </div>
                                 <div class="form-group col-md-12">
                                    <label class="active">Email</label>
                                    <input type="text" class="form-control" formControlName="CustomerEmail"  [ngClass]="{ 'errorTextBoxBorder is-invalid': customerClick && checkvalidEmail }"  placeholder="Enter mail">
                                </div><div class="form-group col-md-6">
                                  <label class="active">Country</label>
                                   <div class="input-group adw_select">
                                                               <div class="input-group adw_select">
                                                                   <select2 #country_select2 [data]="countryList" class="control_select"
                                                                       (valueChanged)="selectCountryListId($event)" autocomplete="true"
                                                                       [options]="countryListPlaceHolder" [value]="countryValue" ></select2>
                                                               </div>
                                                           </div>
                              </div>
                              <div class="form-group col-md-6">
                                  <label class="active">State</label>
                                   <div class="input-group adw_select">
                                                               <div class="input-group adw_select">
                                                                   <select2 #state_select2 [data]="stateListCustomer" class="control_select"
                                                                       (valueChanged)="selectState($event)" autocomplete="true"
                                                                       [options]="stateListplaceHolder" [value]="stateValuedata" ></select2>
                                                               </div>
                                                           </div>
                              </div>
                              <div class="form-group col-md-6">
                                  <label class="active">City</label>
                                 <div class="input-group adw_select">
                                                               <select2 #city_select2 [data]="cityList" class="control_select" autocomplete="true"
                                                                   (valueChanged)="selectedCityId($event)" [value]="cityValue" ></select2>

                                                           </div>
                              </div>
                              <div class="form-group col-md-6">
                                  <label>Area</label>
                                 <div class="input-group adw_select">
                                                               <select2 #areaSelecto2 [data]="areaList" class="control_select" autocomplete="true"
                                                                   (valueChanged)="selectedArea($event)" [value]="areNameId" [options]="areaListPlaceHolder" ></select2>
                                                           </div>
                              </div>
                                 <div class="form-group col-md-12">
                                    <label class="active">Address</label>
                                    <textarea class="form-control" formControlName="CustomerAddress" placeholder="Enter Value"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn_close waves-effect" data-dismiss="modal">Close</button>
                <button type="button" (click)="addCaseCustomer()" class="btn btn-primary waves-effect">Save changes</button>
            </div>
        </div>
    </div>
</div>
