<!--  Created by bharat  -->

<main class="main-content2 bgc-grey">
    <div id="mainContent">
        <div class="page-header p-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 left_side_head">
                        <p class="heading_lead c-grey-900 mb-0"><i class="fas fa-users"></i>User</p>
                    </div>
                    <div class="col-md-8 right_saerch_side p-0">
                            <div class="mr-2">
                        <form >
                            <div id="custom-search-input" class="btn_header1 search-align">
                                <div class="input-group col-md-12">
                                    <input name="searchFilter" [(ngModel)]="searchString"
                                    type="text" class="form-control input-lg"
                                    placeholder="Search"/>
                                    <span class="input-group-btn">
                                      <a>
                                        <i class="fas fa-search" (click)="searchUser()"></i>
                                      </a>
                                    </span>
                                </div>
                            </div>
                        </form>
                            </div>
                        <div class="btn_header">
                            <a><img src="assets/img/printer.png"> </a>
                            <a><img src="assets/img/pdf.png"></a>
                            <a><img src="assets/img/excel.png"></a>
                            <button
                            *ngIf="menuData?.write || menuData?.delete"
                            type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal"
                                (click)="addNewUser()">Add New</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-12">
                        <div class="bgc-white bdrs-3 mB-20">
                            <div class="table-responsive table_height">
                                <table class="table cat-table table-hover">
                            <thead>
                                <tr>
                                    <th width="10%">S. No.</th>
                                    <th>Name</th>
                                    <th>Code</th>
                                    <th>Type</th>
                                    <th>Email</th>
                                    <th>Contact No</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of userList|async ; let i = index"
                                    [attr.data-attributeData]="i">
                                    <td>{{i+1}}</td>
                                    <td>{{item.Name}}</td>
                                    <td>{{item.Code}}</td>
                                    <td>{{item.UserType}}</td>
                                    <td>{{item.email}}</td>
                                    <td>
                                      <span *ngIf="item.countryCode">+</span>
                                        {{item.countryCode}}
                                        <span *ngIf="item.contactNo">-</span>
                                        {{item.contactNo}}</td>
                                    <td>{{item.Status}}</td>
                                  <td>
                                      <div class="dropdown enquiry-tag">
                                          <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                                                  class="fa fa-cog mR-3 cH-blue fa-1x"></i><b class="caret"></b></a>
                                          <ul class="dropdown-menu fsz-sm">
                                              <li *ngIf="menuData?.write || menuData?.delete">
                                                  <a class="d-b td-n p-1 bgcH-grey-100 c-grey-700"
                                                  (click)="addNewUser(item)">
                                                      <i class="fa fa-edit fa-1x" style="color: rgb(90, 171, 247)" aria-hidden="true">
                                                      </i><span>&nbsp;Edit</span></a>
                                              </li>
                                              <li *ngIf="menuData?.delete">
                                                  <a class="d-b td-n p-1 bgcH-grey-100 c-grey-700" ><i
                                                          class="fa fa-trash fa-1x" style="color: rgb(90, 171, 247)" aria-hidden="true">
                                                      </i><span>&nbsp;Delete</span></a>
                                              </li>
                                          </ul>
                                      </div>
                                  </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </main>

  <!-- <app-user-form [showUserForm]="showUser"
  (closeUserForm)="closeUserForm($event)"></app-user-form> -->
<ng-container #addUserContainerRef></ng-container>
