
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active {
	color: #0862ce
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
	color: #0862ce
}
.navbar-light .loginbtn {
	border: solid 1px #176cd1;
	color: #0862ce;
}
.navbar-light .navbar-nav .nav-link {
	color: #898888;
	font-size: 17px;
	font-weight: 300
}
.navbar-expand-lg .navbar-nav .nav-link {
	padding: 6px 17px
}
.nav-item.loginbtn {
	margin-right: 10px
}
.navbar-light .navbar-nav .nav-item.loginbtn a {
	min-width: 100px;
	text-align: center;
	color: #0862ce;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 14px;
	padding: 7px 25px
}
.navbar-light .navbar-nav .nav-item.loginbtn a:hover {
	background: #0862ce;
	color: #fff
}
.navbar-light .navbar-nav .nav-item.requestquotebtn a {
	min-width: 100px;
	text-align: center;
	color: #fff;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 14px;
	background: #ff833b;
	padding: 8px 25px
}
.navbar-light .navbar-nav .nav-item.requestquotebtn a:hover {
	background: #f77123;
	color: #fff
}
.feautepoint_slide {
	background: #f8f8f8;
	padding: 15px 0;
	text-align: center;
	font-size: 14px;
	color: #384d67;
	border-bottom: solid 1px #e5e5e5
}
.feautepoint_slide p {
	margin-bottom: 0;
}

.fastconsultant {
	background: #f2f2f2;
	font-size: 18px;
	font-weight: 300;
	color: #4a4a4b;
	border: solid 1px #dcdcdc;
	padding: 15px 160px;
	text-align: center;
	line-height: 30px;
	margin: 30px 0 20px
}
.orange-txt {
	color: #f4752c
}
.text-bold {
	font-weight: 700
}
.get-recommendation-btn {
	background: #0862ce;
	color: #fff;
	font-size: 18px;
	border-radius: 0;
	font-weight: 300;
}
.get-recommendation-btn:hover {
	background: #1a74e1;
	color: #fff;
}
.callnow-btn {
	background: #fff;
	color: #ff833b;
	font-size: 18px;
	border-radius: 0;
	font-weight: 300;
	border: solid 1px #ff833b
}



/*--login page--*/
.loginpage {
	position: absolute;
	height: 100%;
	width: 100%;
	background: linear-gradient(135deg, #136acd 0%, #5E3791 100%);

	background-size: 100% 100%;

}
.loginbox {

     background:#fff;
	width: 756px;
	display: flex;
	box-shadow: 0 0 6px rgba(0,0,0,.2)
}
.loginbox h5 {
	margin: 10px 0 10px;
	color: #2a58ad;
	font-weight: 700;
}

.md-form label {
	top: 1.5rem;
	color: #333;
	font-weight: 500;
}
.loginbox .form-control {
	border: solid 1px #999595
}

.loginbox > div.logincontent-area {
	flex: 1;
	padding: 30px 60px;
	color: #151515;
}
.loginbox .form-control {
	border-radius: 0;
	font-size: 14px;
}
.loginlogo {
	text-align: center;
}
/*.loginbox > div.login-rght-image{ flex-basis:290px;}*/
div.login-rght-image {
	background: url("../img/loginrightbg.png") 0 0 no-repeat;
	background-size: cover;
	flex-basis: 300px;
	padding: 30px;
	color: #fff;
	min-height: 540px;
}
.loginor {
	margin: 30px 0
}
.loginor .or-line {
	border-bottom: solid 1px #e4e4e4;
	text-align: center;
	line-height: 0
}
.loginor .or-line span {
	background: #fff;
	padding: 0 10px;
}
.login-facebookbtn {
	display: inline-block;
	border: solid 1px #4867aa;
	color: #4867aa;
	padding: 6px 10px;
	margin-right: 20px;
}
.login-facebookbtn:hover {
	background: #4867aa;
	color: #fff;
	text-decoration: none
}
.login-google-btn {
	display: inline-block;
	border: solid 1px #dc4a3d;
	color: #dc4a3d;
	padding: 6px 10px;
}
.login-google-btn:hover {
	background: #dc4a3d;
	color: #fff;
	text-decoration: none
}
.login-adv-msg {
	color: #fff;
	font-size: 18px;
	line-height: 28px;
	font-weight: 300
}
.login-quoteicon {
	color: #3b576c;
	font-size: 40px;
}
.loginlocation {
	line-height: normal
}
.loginlocation .fa {
	font-size: 36px;
}
.login-google-autentication {
	border: solid 1px #999595;
	line-height: 1.5;
	padding: 0.375rem 0.75rem;
	color: #495057
}
.login-google-autentication .form-check-input {
	position: relative;
	margin-left: 0;
	margin-right: 5px;
}
/*--login page--*/
/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}
@media only screen and (min-width: 768px) {
.topnavbar_section .navbar {
	margin-left: -15px;
	margin-right: -15px;
}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
}

  .sidebar-wrapper a {
	text-decoration: none;
  }

  /*----------------sidebar-content----------------*/

  .sidebar-content {
	max-height: calc(100% - 30px);
	height: calc(100% - 30px);
	overflow-y: auto;
	position: relative;
  }

  .sidebar-content.desktop {
	overflow-y: hidden;
  }


  /*----------------------sidebar-menu-------------------------*/

  .sidebar-wrapper .sidebar-menu {
	padding-bottom: 10px;
  }

  .sidebar-wrapper .sidebar-menu .header-menu span {
	font-weight: bold;
	font-size: 14px;
	padding: 15px 20px 5px 20px;
	display: inline-block;
  }

  .sidebar-wrapper .sidebar-menu ul li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    position: relative;
    padding: 8px 9px 8px 2px;
}

  .sidebar-wrapper .sidebar-menu ul li a i {
	margin-right: 10px;
	font-size: 14px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 4px;
  }

  .sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
	display: inline-block;
	animation: swing ease-in-out 0.5s 1 alternate;
  }

  .sidebar-wrapper .sidebar-menu .sidebar-dropdown > a.isSubMenu:after {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f105";
	font-style: normal;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	background: 0 0;
	position: absolute;
	right: 15px;
	top: 14px;
  }

  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
	padding: 5px 0;
  }

  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
	padding-left: 5px;
	font-size: 13px;
  }

  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
	content: "\f111";
	font-family: "Font Awesome 5 Free";
	font-weight: 400;
	font-style: normal;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 10px;
	font-size: 8px;
  }

  .sidebar-wrapper .sidebar-menu ul li a span.label,
  .sidebar-wrapper .sidebar-menu ul li a span.badge {
	float: right;
	margin-top: 8px;
	margin-left: 5px;
  }

  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
	float: right;
	margin-top: 0px;
  }

  .sidebar-wrapper .sidebar-menu .sidebar-submenu {
    display: none;
    background: #103880;
}

  .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
	transform: rotate(90deg);
	right: 17px;
  }


