<div class="modal fade" id="item-import-modal" tabindex="-1" role="dialog" aria-labelledby="import_item_form" aria-hidden="true">
    <div class="modal-dialog large_form modal-full-height modal-top" role="document">
        <div class="modal-content bgcH-grey-100">
            <!--Header-->
            <div class="modal-header primary-bg">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 left_side_head">
                            <p class="heading_lead"><i class="fas fa-chart-line" aria-hidden="true"></i>New Item Import</p>
                        </div>
                        <div class="col-md-9">
                            <div class="btn_header">
                                <a class="btn btn-default waves-effect" href="../../../../assets/static/excels/Item_master.xlsx" download>Download Sample</a>
                                <a class="btn btn-default waves-effect" *ngIf="itemImport && itemImport.length > 0" (click)="saveItemImport('new')" >Save </a>
                                <a class="btn btn-info waves-effect" *ngIf="itemImport && itemImport.length > 0" (click)="saveItemImport('reset')" >Save and New</a>
                                <button type="button" class="close" (click)="closeImportModal()" aria-label="Close"><span aria-hidden="true" class="white-text">×</span> </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Body-->
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="tab-content">
                        <!--Panel 1-->
                        <div class="tab-pane fade in show active" id="import11" role="tabpanel">
                            <div class="form-row">
                                <div class="form-group col-md-2" *ngIf="!isPending" >
                                    <label>Import Sheet</label>
                                    <input type="file" #myInput class="form-control" accept=".xlsx" #file (change)="uploadData($event)" >
                                </div>
                                <div class="form-group col-md-3" *ngIf="masterData && masterData.length > 0"  >
                                    <label for="bill_no">Brands</label>
                                    <select2 [data]="brandTypes"
                                        [options]="options"
                                        [width]="200"
                                        (valueChanged)="onBrandSelect($event)"
                                ></select2>
                                </div>
                                <div class="form-group col-md-2" *ngIf="masterData && masterData.length > 0"  >
                                    <label for="bill_no">Category <a (click)="opeCatImport()" class="info_tooltip"><i class="fas fa-plus"></i></a></label>
                                    <div class="input-group adw_select">
                                        <div class="input-group adw_select">
                                            <select2 [data]="categoryType" #cat_select2 class="control_select"
                                            (valueChanged)="selectCategory($event)"
                                            autocomplete="true" [options]="categoryPlaceholder" 
                                            [value]="catValue"></select2>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-2" *ngIf="masterData && masterData.length > 0"  >
                                    <label for="bill_no">Tax</label>
                                    <div class="input-group adw_select">
                                        <div class="input-group adw_select">
                                            <select2 [data]="taxType" #tax_select2 class="control_select" (valueChanged)="selectedTax($event)"
                                            autocomplete="true" [options]="taxPlaceholder" [value]="taxValue"></select2>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-2" *ngIf="masterData && masterData.length > 0"  >
                                    <label>Search For Item</label>
                                    <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchText" name="searchtext" >
                                </div>
                                <div class="form-group col-md-1" *ngIf="masterData && masterData.length > 0"  >
                                    <label></label>
                                    <a class="btn btn-primary" (click)="addToQueue()" >Add to Queue </a>
                                </div>
                            </div>

                            <div class="classic-tabs">
                                <div class="tab-content">
                                    <div class="tab-pane fade in show active">
                                        <div class="card" *ngIf="masterData && masterData.length > 0" >
                                            <div class="table-responsive" id="parent">
                                                <table class="table fixTable3" id="fixTable">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="selectall" (change)="toggleSelect($event)">
                                                                    <label class="custom-control-label" for="selectall"></label>
                                                                </div>
                                                            </th>
                                                            <th *ngFor="let key of masterKeys" >{{key | uppercase }}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let item of masterData | searchByName : searchText; let i = index;" id="tuple{{i}}" [ngClass]="{'strikeout': item.DUPLICATE}" >
                                                            <td class="align-middle">
                                                                <div class="custom-control custom-checkbox" *ngIf="duplicateTuples.length === 0" >
                                                                    <input type="checkbox" id="{{item.SNO}}" class="custom-control-input item-container" (change)="onItemToggle(i,item.SNO,$event)" />
                                                                    <label class="custom-control-label" for="{{item.SNO}}"></label>
                                                                </div>
                                                                <div  *ngIf="item.DUPLICATE">
                                                                    <div class="action_btn">
                                                                        <a (click)="removeItem(i, item)" ><i aria-hidden="true" class="fas fa-times fa-1x"></i></a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td *ngFor="let key of masterKeys" >{{item[key]}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <br/>
                                        <div class="card" *ngIf="itemImport && itemImport.length > 0">
                                            <div class="table-responsive" id="parent1">
                                                <table class="table fixTable2" id="fixTable">
                                                    <thead>
                                                        <tr>
                                                            <th *ngFor="let key of itemImportKeys" >{{key | uppercase }}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let item of itemImport; let i = index;" >
                                                            <td *ngFor="let key of itemImportKeys" >{{item[key]}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
