<div class="modal fade right" id="attribute_master" data-backdrop="static" data-keyboard="false"  role="dialog"
    aria-labelledby="attribute_master" aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-right" role="document">
        <div class="modal-content">
            <div class="modal-header close_popup">
                <h4 class="modal-title w-100 c-grey-900">Attribute</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" (click)="closeModal()" >&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div>
                        <form #formModel="ngForm" novalidate>
                            <div class="form-row">
                                <div class="form-group col-md-10">
                                    <label for="attrName">Attribute Name</label>
                                    <input [disabled]='disabledAddNewFlag' #attrname id="attrName" name="attributeName"
                                    #attrNameModel="ngModel" type="text" class="form-control"
                                    placeholder="Enter Attribute Name" [(ngModel)]="attribute.name">
                                </div>
                                <div class="col-md-2 p-3">
                                    <button [disabled]='disabledAddNewFlag' type="button"
                                     *ngIf="!isParent" class="btn btn-primary waves-effect" 
                                     (click)="attribute.name && AddAttributeName()">Add</button>
                                    <button [disabled]='disabledAddNewFlag' type="button" 
                                    *ngIf="isParent" class="btn btn-primary waves-effect" 
                                    (click)="attribute.name && AddAttributeName()">Save</button>
                                </div>
                                <hr/>
                                <ng-container *ngIf="!isParent" >
                                    <div class="form-group col-md-12" >
                                        <label for="attrSelectName">Selected Attribute </label>
                                 <ng-select 
                                        [disabled]='disabledAddNewFlag'
                                        name="formTypeName" 
                                        [items]="attributeList" 
                                        bindLabel="text" 
                                        bindValue="id"
                                        placeholder="Select Attribute" 
                                        (change)="onAttrValueChange($event)" 
                                        [(ngModel)]="selectedAttribute"
                                        [ngClass]="{'is-invalid': formModel?.submitted && !selectedAttribute}" >
                                 </ng-select>
                                    
                                    </div>
                                
                                    <div class="form-group col-md-12">
                                        <label for="attrValue">Attribute Value</label>
                                        <input #AttributeValue id="attrValue" name="attributeValue" #attrValueModel="ngModel" type="text" class="form-control" 
                                        placeholder="Enter Attribute Value" [(ngModel)]="attribute.value"
                                        [ngClass]="{ 'is-invalid': formModel?.submitted && attrValueModel?.invalid }"
                                            required>
                                    </div>
                                </ng-container>
                            </div>
                            <div class="modal-footer" style="padding-right:0;" *ngIf="!isParent"  >
                                <button type="button"  (click)=" saveAndUpdateAttribute('save')"  class="btn btn-primary waves-effect">Save </button>
                                <button type="button" (click)="saveAndUpdateAttribute('New')" class="btn btn-primary waves-effect"> Add New & Save </button>

                            </div>
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>