<div
  class="modal fade right"
  id="add_item_detail"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog modal-full-height modal-right" role="document">
    <div class="modal-content">
      <div class="modal-header close_popup">
        <h4 class="modal-title w-100 c-grey-900">Add Item Details</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closePopUp()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        #addItemDetailsForm="ngForm"
        novalidate
        (ngSubmit)="addItemDetailsForm.form.valid && submit()"
      >
        <div class="modal-body">
          <div class="card-body">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label>Items</label>
                <ng-select
                  id="itemId"
                  name="itemDetailsName"
                  [items]="productList"
                  bindLabel="Name"
                  bindValue="Id"
                  placeholder="Select Items"
                  [(ngModel)]="selectedItemId"
                  required
                  [ngClass]="{'ng-select-invalid': addItemDetailsForm.submitted && !selectedItemId}"
                >
                </ng-select>
              </div>
              <div class="form-group col-md-12">
                <label>Quantity</label>
                <input
                  type="number"
                  name="QtyName"
                  [(ngModel)]="quantity"
                  class="form-control"
                  placeholder="Enter Quantity"
                  required
                  [ngClass]="{
                    'errorSelecto': addItemDetailsForm?.submitted && !quantity
                  }"
                />
              </div>
              <div class="form-group col-md-12">
                  <label>Value</label>
                  <input
                    type="number"
                    name="valueName"
                    [(ngModel)]="itemValue"
                    class="form-control"
                    placeholder="Enter Value"
                    required
                    [ngClass]="{
                      'errorSelecto': addItemDetailsForm?.submitted && !itemValue
                    }"
                  />
                </div>
                <div class="form-group col-md-12 custom-control custom-checkbox ml-4" *ngIf="isSubscriptionAllow">
                  <input type="checkbox" class="custom-control-input" id="amcSubscriptionId"
                   name="amcSubscriptionName"
                  [checked]="isAmcSubscription"
                  [required]="selectedEnquiryStatusId !== 5 && selectedEnquiryStatusId !== 6"
                   (change)="isAmcSubscription = $event.target.checked"
                   [ngClass]="{
                    'errorSelecto':selectedEnquiryStatusId !== 5 &&
                      selectedEnquiryStatusId !== 6 && addItemDetailsForm?.submitted && !isAmcSubscription
                  }">
                  <label class="custom-control-label" for="amcSubscriptionId">Amc/Subscription (Optional)</label>
                </div>
                <div class="form-group col-md-12" *ngIf="isSubscriptionAllow">
                  <label>Amount For Subscription</label>
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Please Enter Amount"
                    name="subscriptionAmount"
                    [required]="isAmcSubscription"
                    [(ngModel)]="subscriptionAmount"
                    [ngClass]="{
                      'errorSelecto':isAmcSubscription && addItemDetailsForm?.submitted && !subscriptionAmount
                    }"
                  />
                </div>
                <div class="form-group col-md-12" *ngIf="isSubscriptionAllow">
                  <label>Subscription Duration</label>
                  <ng-select
                    name="subscriptionDurationName"
                    [items]="crmService.leadUtilityData.AMCDuration"
                    bindLabel="commondesc"
                    bindValue="id"
                    placeholder="Select Duration"
                    [(ngModel)]="subscriptionDuration"
                    [required]="isAmcSubscription"
                    [ngClass]="{
                      'ng-select-invalid': isAmcSubscription && addItemDetailsForm?.submitted && !subscriptionDuration
                    }"
                  >
                  </ng-select>
                </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary waves-effect" (click)="setValue(false)">
            Save
          </button>
          <button *ngIf="!editMode" type="submit" class="btn btn-primary waves-effect"
          (click)="setValue(true)">
            Save And Add New
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
