<main class="main-content bgc-grey">
  <div id="mainContent">
    <div class="page-header p-0">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 left_side_head">
            <p class="heading_lead c-grey-900 mb-0">
              <i class="fas fa-tags"></i>Email Template Editor
            </p>
          </div>
          <div class="col-md-8 p-0">
            <div class="right_saerch_side">
              <div class="mr-2">
                <!-- <form [formGroup]="searchForm">
                  <div class="row">
                    <div *ngIf="catLevel > 1" class="col-md-6 pr-0">
                      <div class="input-group adw_select custom-search-input">
                        <select2 [data]="categoryLevels" #catlevel_select2 class="control_select"
                          (valueChanged)="selectCatLevel($event)" autocomplete="true" [options]="categoryPlaceholder"
                          [value]="catLevelValue"></select2>
                      </div>
                    </div>
                    <div [ngClass]="{'col-md-12': catLevel === 1, 'col-md-6': catLevel > 1}"
                      [ngStyle]="{'margin-right': catLevel === 1 ? '20px': '0px'}">
                      <div class="input-group custom-search-input">
                        <input type="text" class="form-control input-lg" placeholder="Search Category"
                          formControlName="searckKey" #searchData />
                        <span class="input-group-btn">
                          <a>
                            <i class="fas fa-search"></i>
                          </a>
                        </span>
                      </div>
                    </div>
                  </div>
                </form> -->
              </div>
              <div class="btn_header">
                <button type="button" class="btn btn-primary waves-effect waves-light" (click)="openEditor()">Add
                  New</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="bgc-white bdrs-3 pb-3 mB-20">
          <div class="table-responsive table_height">
            <table class="table cat-table table-hover">
              <thead>
                <tr>
                  <th width="7%">SNo.</th>
                  <th width="40%">Name</th>
                  <th width="45%">Category</th>
                  <th width="8%">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let item of templates ; let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{item.Name}}</td>
                  <td>{{item.ContentCategoryName}}</td>
                  <td>
                    <a data-toggle="tooltip" data-placement="top" title="Edit" class="actionBtn">
                      <i class="fa fa-edit fa-1x" aria-hidden="true" (click)="edit(item)">
                      </i></a>
                    <a *ngIf="menuData?.delete" data-toggle="tooltip" class="actionBtn" data-placement="bottom"
                      title="Delete"><i class="fa fa-trash fa-1x" aria-hidden="true"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- <app-pagination #paging_comp (lastValueEmitter)="lastItemIndex = $event;"
  (pageNoEmitter)="p = $event;getAllTemplates();" (pageSizeEmitter)="itemsPerPage = $event;getAllTemplates();">
</app-pagination> -->
