<!-- <div
  class="modal fade"
  id="attribute_combine_form"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog large_form modal-full-height modal-top"
    role="document"
  >
    <div class="modal-content bgcH-grey-100"> -->
      <!--Header-->
      <!-- <div class="modal-header primary-bg">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3 left_side_head">
              <p class="heading_lead">
                <i class="fas fa-chart-line" aria-hidden="true"></i>Order Attribute
              </p>
            </div>
            <div class="col-md-9">
              <div class="btn_header">
                <a href="#" class="btn btn-default waves-effect">Save </a
                > -->
                <!-- <a href="#" class="btn btn-info waves-effect">Save and New</a> -->
                <!-- <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true" class="white-text">×</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <!--Body-->
      <!-- <div class="modal-body">
        <form>
          <div class="form-row ">
              <div class="form-group col-md-4">
                  <label>Order Type <span class="compulsory_field">*</span></label>
                  <div class="input-group adw_select">
                    <div class="input-group adw_select">
                      <select2
                        [data]="listItem?.orderTypeList"
                        class="control_select"
                        (valueChanged)="onOrderTypeChange($event)"
                        autocomplete="true"
                        [value]="model?.orderTypeValue">
                      </select2>
                    </div>
                  </div>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
