<main class="main-content bgc-grey">
  <div id="mainContent">
    <div class="page-header p-0">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 left_side_head">
            <p class="heading_lead c-grey-900 mb-0">
              <i class="fas fa-balance-scale"></i>Field Setting
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="bgc-white bdrs-3 pb-3 mB-20">
          <div class="col-2 card card-body">
            <a href="javascript:void(0)" (click)="addLead()">Update Lead headers</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<ng-container #addLeadContainerRef></ng-container>
