<main class="main-content bgc-grey">
  <div id="mainContent">
    <div class="page-header p-0">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 left_side_head">
            <p class="heading_lead c-grey-900 mb-0">
              <i class="fas fa-balance-scale"></i>Current Location
            </p>
          </div>
          <div class="col-md-8 p-0">
            <div class="right_saerch_side">
              <!-- <div>
                <label>
                  Present <span>
                    <i class="far fa-dot-circle text-success"></i>
                  </span>
                  Absent <span>
                    <i class="far fa-dot-circle text-danger"></i>
                  </span>
                </label>
              </div> -->
              <div class="mr-2">
                <div id="custom-search-input" class="btn_header1">
                  <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="Search"
                      (input)="getCurrentLocationList()" name="searchText" [(ngModel)]="searchText" />
                    <span class="input-group-btn">
                      <a>
                        <i class="fas fa-search"></i>
                      </a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 pr-0">
        <div class="bgc-white bdrs-3 pb-3 mB-20">
          <div class="table-responsive table_height">
            <table class="table cat-table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>User</th>
                  <th>User Role </th>
                  <th>Date</th>
                  <!-- <th >Status</th> -->
                  <th>View Map</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of currentLocationList | paginate: { itemsPerPage: itemsPerPage, currentPage: p, totalItems: total } ; let i = index;
                    let i = index;">
                  <td><i class="far fa-dot-circle" [ngClass]="{'text-success': item?.LeaveStatusName === 'Present',
                    'text-danger': item?.LeaveStatusName === 'Absent'}"></i></td>
                  <td>{{ item.UserName }}</td>
                  <td>{{item?.UserType}}</td>
                  <td>{{item?.CreatedOn}}</td>
                  <td class="text-center">
                    <a class="actionBtn" data-toggle="tooltip" data-placement="top" title="View Map"
                      (click)="viewMap(item)">
                      <i class="fas fa-map-marker-alt fa-1x cH-blue"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-pagination #paging_comp (lastValueEmitter)="lastItemIndex = $event;"
  (pageNoEmitter)="p = $event;getCurrentLocationList();"
  (pageSizeEmitter)="itemsPerPage = $event;getCurrentLocationList();"></app-pagination>

<ng-container #viewMapContainerRef></ng-container>
