<div class="modal fade right" id="sample_approval_form" data-backdrop="static" data-keyboard="false" role="dialog"
  aria-labelledby="attribute_master" aria-hidden="true">
  <div class="modal-dialog modal-full-height modal-right" role="document">
    <div class="modal-content">
      <div class="modal-header close_popup">
        <h4 class="modal-title w-100 c-grey-900">Sample Approval</h4>
        <button type="button" class="close"><span aria-hidden="true"
          (click)="close()">&times;</span></button>
      </div>
      <div *ngIf="loading" class="modal-content">
        <div class="modal-body" style="height:inherit;">
          <img src="assets/img/spinner-blue-circle.gif" alt="loading screen"
            style="width: 50px;height: 50px;position: absolute;left: 46%;top:46%;" />
        </div>
      </div>
      <div class="modal-body" *ngIf="!loading" >
        <div class="card-body">
          <div>
            <form #sampleApprovalFormModal="ngForm" (ngSubmit)="checkForValidation() && 
            saveOrUpdateSampleApproval()" novalidate>
              <div class="form-row">
                <div class="form-group col-md-12 d-inline-flex">
                  <fieldset id="group">
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" class="custom-control-input" id="customRadio" name="group" #styleNo
                      [checked]="model.SampleTypeId === '1'" [(ngModel)]="model.SampleTypeId" value="1"
                      />
                      <label class="custom-control-label" for="customRadio">Style No</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" class="custom-control-input" id="customRadio10" name="group" #sample
                      [checked]="model.SampleTypeId === '2'" [(ngModel)]="model.SampleTypeId" value="2"
                      />
                      <label class="custom-control-label" for="customRadio10">Sample Reference No</label>
                    </div>
                  </fieldset>
                </div>
                <div class="form-group col-md-12 " *ngIf="styleNo?.checked">
                  <label>Style Number</label>
                  <div class="input-group adw_select">
                    <div class="input-group adw_select">
                      <select2 #error  #styleNoSelect [data]="styleNumberListData" 
                        class="control_select" autocomplete="true"
                        [ngClass]="{'errorSelecto': sampleApprovalFormModal.submitted && !model.StyleId }"
                        (valueChanged)="onStyleSelect($event)" [value]="model.styleNoValue">
                      </select2>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-12" *ngIf="sample?.checked">
                  <label for="attrName">Sample Reference No.</label>
                  <input name="sampleRefNo" type="text" class="form-control" placeholder="Enter Sample Reference No"
                    [required]="sample?.checked"
                    [ngClass]="{'errorSelecto': sampleApprovalFormModal.submitted && !model.SampleNo }"
                    [(ngModel)]="model.SampleNo">
                </div>
                <div class="form-group col-md-6 ">
                  <label class="fw-500">Date</label>
                  <div class="timepicker-input input-icon form-group">
                    <datepicker-popup [toSetDate]="model.SampleDate" [applyFinYear]="'true'"
                      [class]="sampleApprovalFormModal.submitted && !model.SampleDate"
                      (dateInFormat)="setFromDate($event)" >
                    </datepicker-popup>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="fw-500">Expected Reply Date</label>
                  <div class="timepicker-input input-icon form-group">
                    <datepicker-popup [toSetDate]="model.ExpectedReplyDate" [applyFinYear]="'true'"
                      [class]="sampleApprovalFormModal.submitted && !model.ExpectedReplyDate"
                      (dateInFormat)="setToDate($event)">
                    </datepicker-popup>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="attrName">Reference</label>
                  <input name="reference" type="text" class="form-control" placeholder="Enter Reference"
                    [(ngModel)]="model.Reference">
                </div>
                <div class="form-group col-md-6">
                  <label for="attrName">Shipment No.</label>
                  <input name="shipmentNo" type="text" class="form-control" placeholder="Enter Shipment Number"
                    [(ngModel)]="model.ShipmentNo">
                </div>
                <div class="form-group col-md-12">
                  <label>Sample Shipment By</label>
                  <div class="input-group adw_select">
                    <div class="input-group adw_select">
                      <select2 #shipMentBySelect [data]="sampleShipmentByList" class="control_select"
                        autocomplete="true" (valueChanged)="onShipmentSelect($event)"
                        [value]="model.sampleShipmentByValue">
                      </select2>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-12">
                  <label>Sample Stage</label>
                  <div class="input-group adw_select">
                    <div class="input-group adw_select">
                      <select2 #stageSelect2 [data]="stageListData" class="control_select" autocomplete="true"
                        (valueChanged)="onStageSelect($event)" [value]="model.stageValue">
                      </select2>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-12">
                  <label for="attrName">Remark</label>
                  <input name="remark" type="text" class="form-control" placeholder="Enter Remark"
                    [(ngModel)]="model.Remark">
                </div>
                <a class="custom-file-upload form-group col-md-12" (click)="openImageModal()">
                  <label for="file-upload" class="custom-file-upload attachment_file">
                    <i class="fas fa-paperclip"></i>&nbsp;
                    Attachment
                  </label>
                </a>

                <div class="col-md-12">
                  <div *ngIf="ImageFiles && ImageFiles.length > 0">
                    <div class="mB-5" *ngFor="let image of ImageFiles;let i = index;">
                      <div class="toast-header">
                        <strong class="mr-auto">{{image.Name}}</strong>
                        <button type="button" class="image-cross-icon close"
                          (click)="removeImage(i)">&times;</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div *ngIf="ImageFiles && ImageFiles.length > 0">
                    <img class="img-fluid" id="center-img" [src]="ImageFiles[0].BaseString" (click)="openImageModal()" />
                  </div>
                </div>
              </div>
              <div class="modal-footer" style="padding-right:0;">
                <button type="submit" class="btn btn-primary waves-effect">Save </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
