<!-- <main class="main-content bgc-grey"> -->
    <main class="main-content2 bgc-grey align-self-center">
        <div id="mainContent">
          <div id="mainpage">
            <div class="page-header p-0">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-8 right_saerch_side p-0">
                    <div class="btn_header"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-6 mb-3 pr-0">
                    <div class="widget-flat card bdr-card-4">
                      <div class="card-header">
                          Assets
                      </div>
                      <div class="card-body">
                           <canvas *ngIf='assetsAmountData.length > 0'
                              baseChart
                              [chartType]="'pie'"
                              [datasets]="assetschartData"
                              [labels]="assetschartLabels"
                              [options]="AssetschartOptions"
                              [legend]="true"
                              (chartClick)="onChartClick($event)">
                          </canvas>
                      </div>
                  
      
                  </div>
                  </div>
                  <div class="col-md-6 mb-3 pr-0">
                    <div class="widget-flat card bdr-card-4">
                      <div class="card-header">
                          Liabilities
                      </div>
                      <div class="card-body">
                          <canvas *ngIf='libiabititsAmountData.length > 0'
                              baseChart
                              [chartType]="'pie'"
                              [datasets]="LiabilitieschartData"
                              [labels]="LiabilitieschartLabels"
                              [options]="LiabilitieschartOptions"
                              [legend]="true"
                             >
                          </canvas>
                      </div>
      
                  </div>
                  </div>
                  <div class="col-md-6 mb-3 pr-0">
                    <div class="widget-flat card bdr-card-4 ">
                      <div class="card-header">
                        Top 5 Debtors
                      </div>
                      <div class="card-body p-0 height_fix_card">
                        <table class="table-borderless table ">
                          <tbody>
                            <tr *ngFor ="let Debtors of AllDataDashboard?.Debtors"> 
                              <td>{{Debtors.Name}}</td>
                              <td class="text-right">{{Debtors.Amount}}</td>
                            </tr> 
                          </tbody>
                        </table>
                      </div>
                      <div class="card-footer">
                        <a
                          href='JavaScript:void(0);'
                          class="text-right more_detail"
                          >More</a
                        >
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-md-6 mb-3 pr-0">
                    <div class="widget-flat card bdr-card-4">
                      <div class="card-header">
                        Top 5 Debtors
                      </div>
                      <div class="card-body p-0 height_fix_card">
                        <table class="table-borderless table height_fix_card">
                          <tbody>
                              <tr *ngFor ="let Debtors of AllDataDashboard?.Debtors"> 
                              <td>{{Debtors.Name}}</td>
                              <td class="text-right">{{Debtors.Amount}}</td>
                            </tr> 
                           
                          </tbody>
                        </table>
                      </div>
                      <div class="card-footer">
                        <a
                          href="JavaScript:void(0)"
                          class="text-right more_detail"
                          >More</a
                        >
                      </div>
                    </div>
                  </div> -->
                  <div class="col-md-6 mb-3 pr-0">
                    <div class="widget-flat card bdr-card-4 ">
                      <div class="card-header">
                        Top 5 Creditors
                      </div>
                      <div class="card-body p-0 height_fix_card">
                        <table class="table-borderless table ">
                          <tbody>
                            <tr *ngFor ="let Creators of AllDataDashboard?.Creators"> 
                              <td>{{Creators.Name}}</td>
                              <td class="text-right">{{Creators.Amount}}</td>
                            </tr> 
                          </tbody>
                        </table>
                      </div>
                      <div class="card-footer">
                        <a
                          href='JavaScript:void(0);'
                          class="text-right more_detail"
                          >More</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3 pr-0">
                    <div class="widget-flat card bdr-card-4">
                      <div class="card-header">
                        Active Inventory
                      </div>
                      <div class="card-body p-0 height_fix_card">
                        <table class="table-borderless table">
                          <tbody>
                           
                            <tr *ngFor ="let InventoryGrowths of AllDataDashboard?.InventoryGrowths"> 
                              <td>{{InventoryGrowths.LedgerName}}</td>
                              <td>{{InventoryGrowths.BillDate | dateFormat : DateFormate}}</td>
                              <td class="text-right">{{InventoryGrowths.Quantity}}</td>
                            </tr> 
                          </tbody>
                        </table>
                      </div>
                      <div class="card-footer">
                        <a
                          href="JavaScript:void(0)"
                          class="text-right more_detail"
                          >More</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3 pr-0">
                    <div class="widget-flat card bdr-card-4 ">
                      <div class="card-header row m-0">
                        <div class="col-4">Overdues</div>
                        <div class="col">
                          <div
                            class="custom-control custom-radio custom-control-inline"
                          >
                            <input
                              type="radio"
                              (click)="changeType('sale')"
                              class="custom-control-input"
                              id="customRadio"
                              name="example"
                              value="customEx"
                            />
                            <label class="custom-control-label" for="customRadio"
                              >Sale</label
                            >
                          </div>
                          <div
                            class="custom-control custom-radio custom-control-inline"
                          >
                            <input
                              type="radio"
                              (click)="changeType('purchase')"
                              class="custom-control-input"
                              id="customRadio2"
                              name="example"
                              value="customEx"
                            />
                            <label class="custom-control-label" for="customRadio2"
                              >Purchase</label
                            >
                          </div>
                        </div>
                      </div>
                      <div class="card-body p-0 height_fix_card">
                        <table class="table-borderless table table1">
                          <thead>
                            <tr>
                              <th>Bill No</th>
                              <th class="text-right">Days Exceed</th>
                              <th class="text-right">Amount</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor ="let OverDueDetails of SaleOverDueItem"> 
                              <td>{{OverDueDetails.BillNo}}</td>
                              <td class='text-right'>{{OverDueDetails.DueDays}}</td>
                              <td class="text-right">{{(OverDueDetails.BillAmount).toFixed(noOfDecimal)}}</td>
                              
                            </tr> 
                         
                          </tbody>
                        </table>
                      </div>
                      <div class="card-footer">
                        <a
                          href="JavaScript:void(0)"
                          class="text-right more_detail"
                          >More</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3 pr-0">
                    <div class="widget-flat card bdr-card-4">
                      <div class="card-header">
                        Statutory Liabilities
                      </div>
                      <div class="card-body p-0">
                        <table class="table-borderless table">
                          <tbody>
                            <tr>
                              <td>GST</td>
                              <td class="text-right">{{AllDataDashboard && (AllDataDashboard?.CashinOutGstDetails[0]?.GSTAmount).toFixed(noOfDecimal)}}</td>
                            </tr>
                            <tr>
                              <td>TDS</td>
      
                              <td class="text-right">{{AllDataDashboard && (AllDataDashboard?.CashinOutGstDetails[0]?.Tds).toFixed(noOfDecimal)}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="card-footer">
                        <a href="JavaScript:void(0)" class="text-right more_detail"
                          >More</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3 pr-0">
                    <div class="widget-flat card bdr-card-4">
                      <div class="card-header">
                        Cashflow
                      </div>
                      <div class="card-body p-0">
                        <table class="table-borderless table">
                          <tbody>
                            <tr>
                              <td>Cash IN</td>
      
                              <td class="text-right">{{AllDataDashboard && (AllDataDashboard?.CashinOutGstDetails[0]?.CashIn).toFixed(noOfDecimal)}}</td>
                            </tr>
                            <tr>
                              <td>Cash Out</td>
      
                              <td class="text-right">{{AllDataDashboard && (AllDataDashboard?.CashinOutGstDetails[0]?.CashOut).toFixed(noOfDecimal)}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="card-footer">
                        <a href="JavaScript:void(0)" class="text-right more_detail"
                          >More</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="widget-flat card bdr-card-4 mb-3">
                  <div class="card-header">
                      Finance
                  </div>
                  <div class="">
                      <canvas *ngIf='fincialdata.length>0' id="canvas" height="200"
                      baseChart
                      [chartType]="'line'"
                      [datasets]="finacialchartData"
                      [labels]="finacialLabels"
                      [options]="finacialchartOptions"
                      [legend]="true"
                     >
                  </canvas>
                  </div>
      
              </div>
              <div class="widget-flat card bdr-card-4">
                <div class="card-header">
                    Cash Flow
                </div>
                <div class="card-body">
                    <canvas *ngIf='ChartFlowdata.length>0' id="canvas" height="200"
                    baseChart
                    [chartType]="'bar'"
                    [datasets]="cashflowchartData"
                    [labels]="cashflowLabels"
                    [options]="cashflowchartOptions"
                    [legend]="true"
                   >
                </canvas>
                </div>
            </div>
              </div>
            </div>
           
          </div>
        </div>
      </main>
      