<!-- <main class="main-content bgc-grey"> -->
<main class="main-content bgc-grey align-self-center">
  <div id="mainContent">
    <div id="mainpage">
      <div class="page-header p-0">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 right_saerch_side p-0">
              <div class="btn_header"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row mb-3">
            <div class="col-lg-4">
              <div class="widget-flat card bdr-card-4">
                <div class="card-header">
                  Finance
                </div>
                <div style="background:white" class="card-body">
                  <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                      <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                      <div class=""></div>
                    </div>
                  </div>
                  <!-- <canvas id="myChart2" style="display: block; width: 308px; height: 150px;" width="308" height="150" class="chartjs-render-monitor"></canvas>   -->
                  <div
                    id="chartContainer"
                    style="height: 200px; width: 80%; margin-left:auto;margin-right:auto;"
                  ></div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="widget-flat card bdr-card-4">
                <div class="card-header">
                  Assets
                </div>
                <div style="background:white" class="card-body">
                  <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                      <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                      <div class=""></div>
                    </div>
                  </div>
                  <!-- <canvas id="myChart3" width="308" height="150" class="chartjs-render-monitor" style="display: block; width: 308px; height: 150px;"></canvas>   -->
                  <div
                    id="chartContainerAssets"
                    style="height: 200px; width: 80%; margin-left:auto;margin-right:auto;"
                  ></div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="widget-flat card bdr-card-4">
                <div class="card-header">
                  Liabilities
                </div>
                <div style="background:white" class="card-body">
                  <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                      <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                      <div class=""></div>
                    </div>
                  </div>
                  <!-- <canvas id="myChart4" width="308" height="150" class="chartjs-render-monitor" style="display: block; width: 308px; height: 150px;"></canvas>   -->
                  <div
                    id="chartContainerLiabilities"
                    style="height: 200px; width: 80%; margin-left:auto;margin-right:auto;"
                  ></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mB-20">
            <div class="col-lg-7">
              <div class="row">
                <div class="col-lg-6 mb-2">
                  <div class="widget-flat card bdr-card-4">
                    <div class="card-header">
                      Top 5 Debtors
                    </div>
                    <div class="card-body p-0">
                      <table class="table-borderless table">
                        <tbody>
                          <tr>
                            <td>Ravi</td>

                            <td class="text-right">₹2500.00</td>
                          </tr>
                          <tr>
                            <td>Aman</td>

                            <td class="text-right">₹2500.00</td>
                          </tr>
                          <tr>
                            <td>Praveen</td>

                            <td class="text-right">₹2500.00</td>
                          </tr>
                          <tr>
                            <td>Badal</td>

                            <td class="text-right">₹2500.00</td>
                          </tr>
                          <tr>
                            <td>Manoj</td>

                            <td class="text-right">₹2500.00</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="card-footer">
                      <a
                        href="JavaScript:Void(0)"
                        class="text-right more_detail"
                        >More</a
                      >
                    </div>
                  </div>
                  <!-- end card-->
                </div>
                <div class="col-lg-6">
                  <div class="widget-flat card bdr-card-4">
                    <div class="card-header">
                      Top 5 Creditors
                    </div>
                    <div class="card-body p-0">
                      <table class="table-borderless table">
                        <tbody>
                          <tr>
                            <td>Ravi</td>

                            <td class="text-right">₹2500.00</td>
                          </tr>
                          <tr>
                            <td>Aman</td>

                            <td class="text-right">₹2500.00</td>
                          </tr>
                          <tr>
                            <td>Praveen</td>

                            <td class="text-right">₹2500.00</td>
                          </tr>
                          <tr>
                            <td>Badal</td>

                            <td class="text-right">₹2500.00</td>
                          </tr>
                          <tr>
                            <td>Manoj</td>

                            <td class="text-right">₹2500.00</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="card-footer">
                      <a
                        href="JavaScript:Void(0)"
                        class="text-right more_detail"
                        >More</a
                      >
                    </div>
                  </div>
                  <!-- end card-->
                </div>
                <div class="col-lg-6 mb-2">
                  <div class="widget-flat card bdr-card-4">
                    <div class="card-header">
                      Active Inventory
                    </div>
                    <div class="card-body p-0">
                      <table class="table-borderless table">
                        <tbody>
                          <tr>
                            <td>Ravi</td>
                            <td>25-06/2019</td>
                            <td>₹2500.00</td>
                          </tr>
                          <tr>
                            <td>Ravi</td>
                            <td>25-06/2019</td>
                            <td>₹2500.00</td>
                          </tr>
                          <tr>
                            <td>Ravi</td>
                            <td>25-06/2019</td>
                            <td>₹2500.00</td>
                          </tr>
                          <tr>
                            <td>Ravi</td>
                            <td>25-06/2019</td>
                            <td>₹2500.00</td>
                          </tr>
                          <tr>
                            <td>Ravi</td>
                            <td>25-06/2019</td>
                            <td>₹2500.00</td>
                          </tr>
                          <tr>
                            <td>Ravi</td>
                            <td>25-06/2019</td>
                            <td>₹2500.00</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="card-footer">
                      <a
                        href="JavaScript:Void(0)"
                        class="text-right more_detail"
                        >More</a
                      >
                    </div>
                  </div>
                  <!-- end card-->
                </div>

                <div class="col-lg-6">
                  <div class="widget-flat card bdr-card-4">
                    <div class="card-header row m-0">
                      <div class="col-4">Overdues</div>
                      <div class="col">
                        <div
                          class="custom-control custom-radio custom-control-inline"
                        >
                          <input
                            type="radio"
                            class="custom-control-input"
                            id="customRadio"
                            name="example"
                            value="customEx"
                          />
                          <label class="custom-control-label" for="customRadio"
                            >Sale</label
                          >
                        </div>
                        <div
                          class="custom-control custom-radio custom-control-inline"
                        >
                          <input
                            type="radio"
                            class="custom-control-input"
                            id="customRadio2"
                            name="example"
                            value="customEx"
                          />
                          <label class="custom-control-label" for="customRadio2"
                            >Purchase</label
                          >
                        </div>
                      </div>
                    </div>
                    <div class="card-body p-0">
                      <table class="table-borderless table table1">
                        <thead>
                          <tr>
                            <th>Bill No</th>
                            <th class="text-right">Days Exceed</th>
                            <th class="text-right">Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>101</td>
                            <td class="text-right">25</td>
                            <td class="text-right">₹2500.00</td>
                          </tr>
                          <tr>
                            <td>101</td>
                            <td class="text-right">25</td>
                            <td class="text-right">₹2500.00</td>
                          </tr>
                          <tr>
                            <td>101</td>
                            <td class="text-right">25</td>
                            <td class="text-right">₹2500.00</td>
                          </tr>
                          <tr>
                            <td>101</td>
                            <td class="text-right">25</td>
                            <td class="text-right">₹2500.00</td>
                          </tr>
                          <tr>
                            <td>101</td>
                            <td class="text-right">25</td>
                            <td class="text-right">₹2500.00</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="card-footer">
                      <a
                        href="JavaScript:Void(0)"
                        class="text-right more_detail"
                        >More</a
                      >
                    </div>
                  </div>
                  <!-- end card-->
                </div>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="widget-flat card bdr-card-4">
                <div class="card-header">
                  Cash Flow
                </div>
                <div style="background: white" class="card-body">
                  <div
                    id="chartContainerForCashFlow"
                    style="height: 300px; width: 100%;"
                  ></div>
                  <!-- <canvas id="myChart6" width="400" height="320" style="display: block;"></canvas>   -->
                </div>
              </div>
            </div>
          </div>
          <div class="row mB-20"></div>
          <div class="bdrs-3 mB-20">
            <div class="row">
              <div class="col-lg-3">
                <div class="widget-flat card bdr-card-4">
                  <div class="card-header">
                    Statutory Liabilities
                  </div>
                  <div class="card-body p-0">
                    <table class="table-borderless table">
                      <tbody>
                        <tr>
                          <td>GST</td>

                          <td class="text-right">₹2500.00</td>
                        </tr>
                        <tr>
                          <td>TDS</td>

                          <td class="text-right">₹2500.00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="card-footer">
                    <a href="JavaScript:Void(0)" class="text-right more_detail"
                      >More</a
                    >
                  </div>
                </div>
                <!-- end card-->
              </div>
              <div class="col-lg-3">
                <div class="widget-flat card bdr-card-4">
                  <div class="card-header">
                    Cashflow
                  </div>
                  <div class="card-body p-0">
                    <table class="table-borderless table">
                      <tbody>
                        <tr>
                          <td>Cash IN</td>

                          <td class="text-right">₹2500.00</td>
                        </tr>
                        <tr>
                          <td>Cash Out</td>

                          <td class="text-right">₹2500.00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="card-footer">
                    <a href="JavaScript:Void(0)" class="text-right more_detail"
                      >More</a
                    >
                  </div>
                </div>
                <!-- end card-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
