<!-- <main class="main-content bgc-grey"> -->
    <main class="main-content2 bgc-grey align-self-center">
        <div id="mainContent">
          <div id="mainpage">
            <div class="page-header p-0">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-8 right_saerch_side p-0">
                    <div class="btn_header"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-6 mb-3 pr-0">
                    <div class="widget-flat card bdr-card-4">
                      <div class="card-header">
                          Assets
                      </div>
                      <div class="card-body">
                          <span *ngIf="chartLoader" style="height:100px;" >
                              <img src="assets/img/loader.gif" alt="loading screen" style="width: 70px;height: 70px;position: absolute;left: 40%;top:46%;" />
                          </span>
                          <canvas  #AssetsId></canvas>
                      </div>
                  
      
                  </div>
                  </div>
                  <div class="col-md-6 mb-3 pr-0">
                    <div class="widget-flat card bdr-card-4">
                      <div class="card-header">
                          Liabilities
                      </div>
                      <div class="card-body">
                          <span *ngIf="chartLoader" style="height:100px;" >
                              <img src="assets/img/loader.gif" alt="loading screen" style="width: 70px;height: 70px;position: absolute;left: 40%;top:46%;" />
                          </span>
                          <canvas #LiabilitiesId></canvas>
                      </div>
      
                  </div>
                  </div>
                  <div class="col-md-6 mb-3 pr-0">
                    <div class="widget-flat card bdr-card-4 ">
                      <div class="card-header">
                        Top 5 Debtors
                      </div>
                      <div class="card-body p-0 height_fix_card">
                        <table  class="table-borderless table ">
                          <tbody>
                            
                            <tr *ngFor ="let Debtors of Debitors" (click)="onLedgerStatement(Debtors)"> 
                              <td>{{Debtors.Name}}</td>
                              
                              <td (click)="ledgerStatement(Debtors.LedgerId)" class="text-right">{{Debtors.Amount.toFixed(noOfDecimal)}}</td>
                            </tr> 
                          </tbody>
                        </table>
                        <span  *ngIf='Debitors.length===0' >
                        <img src="assets/img/nodata.png" alt="loading screen" style="width: 83%;height: 79%;position: absolute;left: 8%;top:21%;" />
                        </span>
                      </div>
                      <div *ngIf='Debitors.length!==0' class="card-footer">
                        <a
                          [routerLink]="[ '/report/outstanding-receiables']"
                          class="text-right more_detail"
                          >More</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3 pr-0">
                    <div class="widget-flat card bdr-card-4 ">
                      <div class="card-header">
                        Top 5 Creditors
                      </div>
                      <div class="card-body p-0 height_fix_card">
                        <table  class="table-borderless table">
                          <tbody>
                            <tr *ngFor ="let Creators of Creditor" (click)="onLedgerStatement(Creators)">  
                              <td>{{Creators.Name}}</td>
                              <td class="text-right">{{(Creators.Amount).toFixed(noOfDecimal)}}</td>
                            </tr> 
                          </tbody>
                        </table> 
                        <span  *ngIf='Creditor.length===0' >
                        <img src="assets/img/nodata.png" alt="loading screen" style="width: 83%;height: 79%;position: absolute;left: 8%;top:21%;" />
                      </span>
                      </div>
                      <div  *ngIf='Creditor.length!==0'  class="card-footer">
                        <a
                        [routerLink]="[ '/report/outstanding-payables']"
                          class="text-right more_detail"
                          >More</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3 pr-0">
                    <div class="widget-flat card bdr-card-4">
                      <div class="card-header">
                        Active Inventory 
                      </div>
                      <div class="card-body p-0 height_fix_card">
                        <table class="table-borderless table">
                          <tbody>
                            <tr *ngFor ="let item of InventoryGrowths"> 
                              <td>{{item.LedgerName}}</td>
                              <!-- <td>{{ item.BillDate | dateFormat : DateFormate}}</td> -->
                              <td class="text-right">{{item.Quantity}}</td>
                            </tr> 
                          </tbody>
                        </table>
                        <span  *ngIf="InventoryGrowths.length===0" >
                        <img src="assets/img/nodata.png" alt="loading screen" style="width: 83%;height: 79%;position: absolute;left: 8%;top:21%;" />
                        </span>
                      </div>
                      <div *ngIf='InventoryGrowths.length!==0' class="card-footer">
                        <a
                          [routerLink]="[ '/ims/report/item-inventory']"
                          class="text-right more_detail"
                          >More</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3 pr-0">
                    <div class="widget-flat card bdr-card-4 ">
                      <div class="card-header row m-0">
                        <div class="col-4">Overdues</div>
                        <div class="col">
                          <div
                            class="custom-control custom-radio custom-control-inline"
                          >
                            <input
                              type="radio"
                              (click)="changeType('sale')"
                              class="custom-control-input"
                              id="customRadio"
                              name="example"
                              [(ngModel)]="overDueValue"
                              value="Sale"
                            />
                            <label class="custom-control-label" for="customRadio"
                              >Sale</label
                            >
                          </div>
                          <div
                            class="custom-control custom-radio custom-control-inline"
                          >
                            <input
                              type="radio"
                              (click)="changeType('purchase')"
                              class="custom-control-input"
                              id="customRadio2"
                              name="example"
                              [(ngModel)]="overDueValue"
                              value="Purchase"
                            />
                            <label class="custom-control-label" for="customRadio2"
                              >Purchase</label
                            >
                          </div>
                        </div>
                      </div>
                      <div class="card-body p-0 height_fix_card">
                        <table class="table-borderless table table1">
                          <thead>
                            <tr>
                              <th>Bill No</th>
                              <th class="text-right">Days Exceed</th>
                              <th class="text-right">Amount</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor ="let DataValue of SaleOverDueItem"> 
                              <td>{{DataValue.BillNo}}</td>
                              <td class='text-right'>{{DataValue.DueDays}}</td>
                              <td class="text-right">{{(DataValue.BillAmount).toFixed(noOfDecimal)}}</td>
                              
                            </tr> 
                         
                          </tbody>
                        </table>
                        <span  *ngIf="SaleOverDueItem.length===0" >
                          <img src="assets/img/nodata.png" alt="loading screen" style="width: 83%;height: 79%;position: absolute;left: 8%;top:37%;" />
                          </span>
                      </div>
                      <div *ngIf='SaleOverDueItem.length!==0' class="card-footer">
                        <a
                          (click)="navigateTo()"
                          class="text-right more_detail"
                          >More</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3 pr-0">
                    <div class="widget-flat card bdr-card-4">
                      <div class="card-header">
                        Statutory Liabilities
                      </div>
                      <div class="card-body p-0">
                        <table class="table-borderless table">
                          <tbody>
                            <tr (click)="gstrReport()"  >
                              <td>GST</td>
                              <td class="text-right">{{CashStatutory && (CashStatutory[0]?.GSTAmount).toFixed(noOfDecimal)}}</td>
                            </tr>
                            <tr>
                              <td>TDS</td>
      
                              <td class="text-right">{{CashStatutory && (CashStatutory[0]?.Tds).toFixed(noOfDecimal)}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div *ngIf="CashStatutory[0]?.GSTAmount>0 || CashStatutory[0]?.Tds>0" class="card-footer">
                        <a href="JavaScript:void(0)" class="text-right more_detail"
                          >More</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3 pr-0">
                    <div class="widget-flat card bdr-card-4">
                      <div class="card-header">
                        Cashflow
                      </div>
                      <div class="card-body p-0">
                        <table class="table-borderless table">
                          <tbody>
                            <tr>
                              <td>Cash IN</td>
      
                              <td class="text-right">{{CashStatutory && (CashStatutory[0]?.CashIn).toFixed(noOfDecimal)}}</td>
                            </tr>
                            <tr>
                              <td>Cash Out</td>
      
                              <td class="text-right">{{CashStatutory && (CashStatutory[0]?.CashOut).toFixed(noOfDecimal)}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div *ngIf="CashStatutory[0]?.CashIn>0 || CashStatutory[0]?.CashOut>0" class="card-footer">
                        <a 
                        [routerLink]="[ '/ims/report/cashbook']"
                         class="text-right more_detail"
                          >More</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="widget-flat card bdr-card-4 mb-3">
                  <div class="card-header">
                      Finance
                  </div>
                  <div class="card-body">
                      <span *ngIf="chartLoaderFinacial" style="height:100px;" >
                          <img src="assets/img/loader.gif" alt="loading screen" style="width: 70px;height: 70px;position: absolute;left: 40%;top:46%;" />
                      </span>
                      <canvas #FincialPNL></canvas>
                  </div>
              </div>
              <div class="widget-flat card bdr-card-4">
                <div class="card-header">
                    Cash Flow
                </div>
                <div class="card-body">
                    <span *ngIf="chartLoaderFinacial" style="height:100px;" >
                        <img src="assets/img/loader.gif" alt="loading screen" style="width: 70px;height: 70px;position: absolute;left: 40%;top:46%;" />
                    </span>
                    <canvas #cashFlowId></canvas>
                </div>
            </div>
              </div>
            </div>
           
          </div>
        </div>
      </main>
      