<div id="demo" class="collapse bgc-white" [ngStyle]="{'display': toShow ? 'block' : 'none'}">
  <form [formGroup]="searchForm" (ngSubmit)="search()" noValidate>
    <div class="form-row p-10">
      <div class="col-md-2 form-group">
        <div class="timepicker-input input-icon">
          <datepicker-popup #first [toSetDate]="searchForm?.get('FromDate')?.value" [placeholder]="'Select From Date'"
            (dateInFormat)="setFromDate($event)" [class]="f.FromDate?.errors?.isValidDate">
          </datepicker-popup>
        </div>
      </div>
      <div class="col-md-2 form-group">
        <div class="timepicker-input input-icon">
          <datepicker-popup [toSetDate]="searchForm?.get('ToDate')?.value" [placeholder]="'Select To Date'"
            (dateInFormat)="setToDate($event)" [class]="f.ToDate?.errors?.isValidDate">
          </datepicker-popup>
        </div>
      </div>
      <div class="col-md-2 form-group">
        <div class="input-group adw_select">
          <select2 #ledger_select2 id="vendorData" [data]="masterData.vendorData" class="control_select"
            (valueChanged)="setLedgerId($event)" autocomplete="true" [options]="{placeholder: 'Select Vendor'}"
            [value]="masterData.buyerValue">
          </select2>
        </div>
      </div>
      <div class="col-md-2 form-group">
        <div class="input-group adw_select">
          <select2 #status_select2 id="vendor" [data]="masterData.statusList" class="control_select"
            (valueChanged)="setStatus($event)" autocomplete="true" [options]="{placeholder: 'Select Status'}"
            [value]="masterData.statusValue">
          </select2>
        </div>
      </div>
      <div class="form-group col-md-2">
        <div class="input-group adw_select">
          <select2 #bo_select2 id="buyerorderList" [data]="masterData.buyerorderList" class="control_select"
            (valueChanged)="setOrder($event)" autocomplete="true" [options]="{placeholder: 'Select Order'}"
            [value]="masterData.orderValue">
          </select2>
        </div>
      </div>
      <div class="form-group col-md-2 text-center">
        <button type="submit" class="btn btn-primary waves-effect waves-light m-0">Search</button>
      </div>
      <div class="form-group col-md-2">
        <button type="button" class="btn btn_close waves-effect m-0" (click)="resetSearch()">Reset</button>
      </div>
    </div>
  </form>
</div>
