<!-- <div id="demo" class="collapse show">
  <div class="form-row bdrs-3 p-10 mB-5">
    <div class="form-group col-md-3">
      <label for="bill_no">Category</label>
      <div class="input-group adw_select">
        <select2 [data]="masterData.categoryData" #cat_select2 class="control_select" (valueChanged)="masterData.categoryId = +$event.value" 
        autocomplete="true" [options]="{placeholder: 'Select Category'}"
        [value]="masterData.catValue"></select2>
      </div>
    </div>
    <div class="form-group col-md-3">
      <label>Search For Item</label>
      <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="masterData.search" name="searchtext">
    </div>
  </div>
</div> -->
