<div class="modal fade" id="serivce_modal" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" data-backdrop="static" data-keyboard="false" >
  <div class="modal-dialog large_form modal-full-height modal-top" role="document">
    <div class="modal-content bgcH-grey-100">
      <div class="modal-header primary-bg">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3 left_side_head">
              <p class="heading_lead">
                <i class="fas fa-shopping-cart" aria-hidden="true"></i>Service Invoice <span class="small-txt">{{orgnizationName}}</span></p>
            </div>
            <div class="col-md-9">
              <div class="btn_header">
                  <button [disabled]="DisabledSaveBtn" type="button" class="btn btn-default waves-effect"  #savebutton 
                  (click)="keepOpen=false;saveBilling()">
                      {{DisabledSaveBtn === true  ? 'Please Wait..' :'Save' }}
                      </button>
                      <button [disabled]="DisabledSaveBtn" type="button" class="btn btn-info waves-effect"   (click)="keepOpen=false;saveBilling()">
                  
                          {{DisabledSaveBtn === true  ? 'Please Wait..' :'Save and AddNew' }}
                          </button>
                <!-- <a class="btn btn-default waves-effect" #savebutton (click)="keepOpen=false;saveBilling()">Save </a>
                <a class="btn btn-info waves-effect" (click)="keepOpen=true;saveBilling()">Save and New</a> -->
                <button type="button" class="close"  aria-label="Close">
                  <span aria-hidden="true" class="white-text" (click)="closePurchase()" >×</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body" >
        <form>
          <div class="form-row">
            <div class="form-group col-md-3 col-lg-2 col-xl-2">
              <label><span>Customer</span>
                <a (click)="openCustomerDetails()" class="info_tooltip" data-toggle="modal"><i
                    class="fas fa-plus"></i></a>
                    <a class="pl-2 label_green">OB:</a>
                    <span class="pl-2 label_green">
                      {{outStandingBalance}}{{ setCRDR}}
                    </span>
              </label>
              <div class="input-group adw_select">
                <select2 #vendor_select2 id="Customer" 
                  [data]="vendorData" class="control_select"
                  (valueChanged)="onCustomerSelect($event)"
                  autocomplete="true"
                  [options]="{placeholder: 'Select Customer'}"
                  [ngClass]="{'errorSelecto': submitSave && invalidObj?.PartyId }"
                  [value]="vendorValue">
                </select2>
              </div>
            </div>
 
<!--            
              <div class="form-group col-md-3 col-lg-2 col-xl-2">
                <label for="orgnizationName">Organization Name</label>
                <input  [disabled] ='true' type="text" class="form-control" id="orgnizationName"
                  placeholder="Orgnization Name" class="form-control"
                  name="orgnizationName" [(ngModel)]="orgnizationName">
            </div> -->
            <div class="form-group col-md-3 col-lg-2 col-xl-2">
              <label class="fw-500">Bill Date</label>
              
             
              <datepicker-popup [disableInput]="editMode"
              [toSetDate]="CurrentDate" 
              (dateInFormat)="CurrentDate = $event;  getNewBillNo();checkForValidation();"
              [class]="submitSave && invalidObj?.CurrentDate" ></datepicker-popup>
            </div>
         
            <div class="form-group col-md-3 col-lg-2 col-xl-2">
              <label>Bill No</label>
              <a *ngIf="isBillNoManuall && previousBillNo && !editMode" class="tooltip1 info_tooltip"><i class="fas fa-info"></i>
                <span class="tooltiptext">Last Bill No. used is - {{previousBillNo}}</span>
              </a>
              <input #billNumbeRef type="text" placeholder="Bill Number"
              class="form-control" name="BillNo"
              [disabled]="isBillNoManuall || editMode"
             
              (input)="checkForValidation()"
              [ngClass]="{'errorSelecto': submitSave && invalidObj?.BillNo }"
              [(ngModel)]="BillNo">
              <!-- <p *ngIf="isBillNoManuall && previousBillNo && !editMode" id="previous-bill-container" >Previous BillNo. used is - {{previousBillNo}}</p> -->
            </div>
          
            <div  *ngIf="isCaseSaleFlag" class="form-group col-md-3 col-lg-3 col-xl-3">
              <label>Address</label>
              <div class="input-group adw_select">
                <!--[disabled]="Items.length > 0"-->
                <select2 #address_select2 id="address"
                  [data]="AddressData" class="control_select"
                  (valueChanged)="onAddressSelect($event)"
                    autocomplete="true" [options]="{ placeholder: 'Select Address' }"
                    [ngClass]="{'errorSelecto': submitSave && invalidObj?.AddressId }"
                  [value]="addressValue" ></select2>
              </div>
            </div>
            <div class="form-group col-md-3 col-lg-2 col-xl-2">
              <label>Billing Currency</label>
              <div class="input-group adw_select">
                <select2 #currency_select2 id="currency"
                  [data]="currencyData" class="control_select"
                  (valueChanged)="onCurrencySelect($event)"
                  autocomplete="true" 
                  [options]="{ placeholder: 'Select Currency' }"
                  [ngClass]="{'errorSelecto': submitSave && invalidObj?.CurrencyId }"
                  [value]="currencyValue" ></select2>
              </div>
            </div>
            <div class="form-group col-md-3 col-lg-2 col-xl-2">
              <label>Convert To Currency</label>
              <div class="input-group adw_select">
                <select2 #convertTo_select2 id="convertToCurrency" 
                [data]="convertToCurrencyData" class="control_select"
                (valueChanged)="onConvertToCurrencySelect($event)"
                autocomplete="true" 
                [options]="{ placeholder: 'Select Convert In Currency' }"
                [value]="convertToCurrencyValue" ></select2>
              </div>
            </div>
            <div class="form-group col-md-3 col-lg-2 col-xl-2">
              <label for="currency-rate">Currency Rate</label>
              <input type="text" class="form-control" id="currency-rate"
                placeholder="Currency Rate" class="form-control"
                appIncludeDeciaml
                name="currencyRate" [(ngModel)]="CurrencyRate">
            </div>
            <div class="form-group col-md-3 col-lg-2 col-xl-2">
              <label for="due-date">Due Date</label>
              <datepicker-popup 
              [toSetDate]="DueDate" 
              [disableInput]="editMode"
               [daysToAdd]="CreditDays"
               (dateInFormat)="DueDate = $event" ></datepicker-popup>
            </div>
  
          </div>
          <div class="card p-2">
            <h5 class="summery_text" >Service Detail</h5>
            <div class="table-responsive parent">
              <table class="table fixTable6 editable_tbl item-table table-hover" id="table">
                <thead>
                  <tr class="default_row table">
                    <th class="cust_width_80" >#</th>
                    <th>S.NO.</th>

                    <th>Item / Service</th>
                    <th>Total</th>
                    <th>Discount</th>
                    <th>Discount Amount</th>
                    <th>TaxSlab</th>
                    <th>Tax Type</th>
                    <th>Tax Amount</th>
                    <th class="cust_width_200">Remark</th>
                    <th>Sub Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="default_row" *ngFor="let item of Items; let i = index;" (click)="editItem(i+1, item.Id, 'items', item.Sno)">
                    <td class="profile-pic1" >
                      <div class="edit1">
                        <ng-container >
                        <a *ngIf="Items.length > 0" (click)="deleteItem(i, 'items', item.Sno)" ><i class="fa fa-trash fa-1x" aria-hidden="true"></i></a>
                           
                        </ng-container>
                        <ng-container *ngIf="item.isDisabled" >
                        <a *ngIf="Items.length > 0" (click)="editItem(i+1, item.Id, 'items', item.Sno)" ><i class="fas fa-pen fa-1x"></i></a>
                           
                         
                        </ng-container>
                        <ng-container *ngIf="!item.isDisabled" >
                            <a *ngIf="Items.length > 0" (click)="addItems()"><i
                              class="fas fa-plus fa-1x"></i>
                          </a>
                        </ng-container>
                      </div>
                      
                    </td>
                    <td>   {{item.SrNo}}</td>
                    <td *ngIf="item.isDisabled" class="align-middle">{{item.itemName}}</td>
                    <td  *ngIf="!item.isDisabled">
                        <div class="input-group adw_select min_width_350">
                          <select2  [disabled]="PartyId <= 0" #item_select2 [data]="itemData" class="control_select " 
                          (valueChanged)="onItemSelect($event)" autocomplete="true"
                          [ngClass]="{'errorSelecto': (submitSave || !clickItem) && invalidObj?.ItemId }"
                            [options]="{placeholder: 'Select Item'}" [value]="itemValue" >
                          </select2>
                        </div>
                      </td>
                      <td *ngIf="item.isDisabled" class="align-middle">{{(item.SaleRate).toFixed(noOfDecimalPoint)}}</td>
                  
         
                      <td  *ngIf="!item.isDisabled">
                        <input #SaleRateRef type="text" class="form-control" placeholder="Sale Rate" name="SaleRate"
                        (input)="validateItem();calculate()"
                        appIncludeDecimal
                        [ngClass]="{'errorSelecto': (submitSave || !clickItem) && invalidObj?.SaleRate }"
                          [(ngModel)]="SaleRate" >
                      </td>
                      <td *ngIf="item.isDisabled" class="align-middle">{{item.Discount}}&nbsp;{{item.DiscountType === 0 && item.Discount != 0 ? '%' : defaultCurrency}}
                    
                      <td  *ngIf="!item.isDisabled">
                        <div class="discount">
                          <input type="text"  min="0" max="100" (keyup)="DiscountValidation($event);calculate()"   class="form-control" placeholder="Discount"
                            appIncludeDecimal name="Discount" [(ngModel)]="Discount"
                            (input)="validateItem();"
                          [ngClass]="{'errorSelecto': invalidObj?.Discount }"
                          >
                          <select style="width: 70px !important;" class="form-control discount_type" id="DiscountType"
                            [(ngModel)]="DiscountType"
                            (ngModelChange)="validateItem();calculate()"
                            name="discountType" >
                            <option *ngFor="let value of currencyValues;" [value]="value.id" >{{value.symbol}}</option>
                          </select>
                        </div>
                      </td>

                    <td *ngIf="item.isDisabled" class="align-middle"> {{(item.DiscountAmt).toFixed(noOfDecimalPoint)}}</td>
                      
                    <td *ngIf="!item.isDisabled">
                        <input type="text"  [disabled]="true" class="form-control" placeholder="Discount Amount"
                        appIncludeDecimal tabindex="-1"
                          name="DiscountAmt" [(ngModel)]="DiscountAmt">
                      </td>
                      <td  *ngIf="item.isDisabled" class="align-middle">{{item.taxSlabName}}</td>

                      <td *ngIf="!item.isDisabled">
                        <div class="discount">
                          <select2 #taxSlab_select2 [data]="taxSlabsData" class="control_select"
                            (valueChanged)="onTaxSlabSelect($event)" autocomplete="true"
                            
                            [options]="{ placeholder: 'Select Tax Slab' }" [value]="taxSlabValue" ></select2>
                        </div>
                      </td>
                    <td *ngIf="item.isDisabled" class="align-middle">{{item.taxTypeName}}</td>

                      <td *ngIf="!item.isDisabled">
                        <div class="discount">
                          <select2 [disabled]='inclusiveOnSale' #taxType_select2 [data]="taxTypeData" class="control_select"
                            (valueChanged)="onTaxTypeSelect($event)" autocomplete="true"
                            [options]="{ placeholder: 'Select Tax Type' }" 
                            [value]="taxTypeValue" ></select2>
                        </div>
                      </td>
                    <td *ngIf="item.isDisabled" class="align-middle">{{(item.TaxAmount).toFixed(noOfDecimalPoint)}}</td>

                      <td *ngIf="!item.isDisabled">
                        <input type="text"  [disabled]="true" class="form-control" placeholder="Tax Amount"
                        tabindex="-1"
                          appIncludeDecimal name="TaxAmount" [(ngModel)]="TaxAmount">
                      </td>
                    <td *ngIf="item.isDisabled" class="align-middle">{{item.Remark}}</td>

                      <td *ngIf="!item.isDisabled">
                        <input type="text" class="form-control"
                        (input)="validateItem()"
                        (keydown.enter)="enterPressItem($event)"
                          placeholder="Remark" name="remark" [(ngModel)]="Remark">
                      </td>
                    <td *ngIf="item.isDisabled" class="align-middle">{{(item.SubTotal).toFixed(noOfDecimalPoint)}}</td>

                      <td *ngIf="!item.isDisabled">
                        <input type="text"  [disabled]="true" class="form-control"
                          placeholder="SubTotal" name="SubTotal"
                          appIncludeDecimal
                          (keydown.enter)="enterPressItem($event)"
                          [(ngModel)]="SubTotal">
                      </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr  *ngIf="showHideAddItemRow" class="selected_row active">
                    <td></td>
                    <td >
                      <div class="action_btn">
                        <button type="submit" class="btn btn-primary redAlert btn_add_more" (click)="validateItem();addItems()">+</button>
                      </div>
                    </td>
                    <td>
                      <div class="input-group adw_select min_width_350">
                        <select2  [disabled]="PartyId <= 0" #item_select2 [data]="itemData" class="control_select " 
                        (valueChanged)="onItemSelect($event)" autocomplete="true"
                        [ngClass]="{'errorSelecto': (submitSave || !clickItem) && invalidObj?.ItemId }"
                          [options]="{placeholder: 'Select Item'}" [value]="itemValue" >
                        </select2>
                      </div>
                    </td>
                
       
                    <td>
                      <input #SaleRateRef type="text" class="form-control" placeholder="Sale Rate" name="SaleRate"
                      (input)="validateItem();calculate()"
                      appIncludeDecimals
                      [ngClass]="{'errorSelecto': (submitSave || !clickItem) && invalidObj?.SaleRate }"
                        [(ngModel)]="SaleRate" >
                    </td>
                  
                    <td>
                      <div class="discount">
                        <input type="text"  min="0" max="100" (keyup)="DiscountValidation($event);calculate()"   class="form-control" placeholder="Discount"
                          appIncludeDecimal name="Discount" [(ngModel)]="Discount"
                          (input)="validateItem();"
                        [ngClass]="{'errorSelecto': invalidObj?.Discount }"
                        >
                        <select style="width: 70px !important;" class="form-control discount_type" id="DiscountType"
                          [(ngModel)]="DiscountType"
                          (ngModelChange)="validateItem();calculate()"
                          name="discountType" >
                          <option *ngFor="let value of currencyValues;" [value]="value.id" >{{value.symbol}}</option>
                        </select>
                      </div>
                    </td> 
                    <td>
                      <input type="text" [disabled]="true" class="form-control" placeholder="Discount Amount"
                      appIncludeDecimal tabindex="-1"
                        name="DiscountAmt" [(ngModel)]="DiscountAmt">
                    </td>
                    <td>
                      <div class="discount">
                        <select2 #taxSlab_select2 [data]="taxSlabsData" class="control_select"
                          (valueChanged)="onTaxSlabSelect($event)" autocomplete="true"
                          
                          [options]="{ placeholder: 'Select Tax Slab' }" [value]="taxSlabValue" ></select2>
                      </div>
                    </td>
                    <td>
                      <div class="discount">
                        <select2 [disabled]='inclusiveOnSale' #taxType_select2 [data]="taxTypeData" class="control_select"
                          (valueChanged)="onTaxTypeSelect($event)" autocomplete="true"
                          [options]="{ placeholder: 'Select Tax Type' }" 
                          [value]="taxTypeValue" ></select2>
                      </div>
                    </td>
                    <td>
                      <input type="text"  [disabled]="true" class="form-control" placeholder="Tax Amount"
                      tabindex="-1"
                        appIncludeDecimal name="TaxAmount" [(ngModel)]="TaxAmount">
                    </td>
                    <td>
                      <input type="text" class="form-control"
                      (input)="validateItem()"
                      (keydown.enter)="enterPressItem($event)"
                        placeholder="Remark" name="remark" [(ngModel)]="Remark">
                    </td>
                    <td>
                      <input type="text"  [disabled]="true" class="form-control"
                        placeholder="SubTotal" name="SubTotal"
                        appIncludeDecimal
                        (keydown.enter)="enterPressItem($event)"
                        [(ngModel)]="SubTotal">
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td colspan="4"></td>
                    <td>
                        <input type="text"  [disabled]="true" class="form-control"
                        tabindex="-1"
                        placeholder="Total Discount" name="TotalDiscount" 
                        [(ngModel)]="TotalDiscount">
                    </td>
                    <td colspan="2"></td>
                    <td>
                      <input type="text"  [disabled]="true" class="form-control"
                      placeholder="Total Tax Amount" name="TotalTaxAmount" 
                      tabindex="-1"
                      [(ngModel)]="TotalTaxAmount"></td>
                    <td colspan="1"></td>
                    <td>
                      <input type="text"  [disabled]="true" class="form-control"
                      placeholder="Total Gross Amount" name="SubTotalAmount" 
                      tabindex="-1"
                      [(ngModel)]="SubTotalAmount">
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <div class="card p-2 mt-2" >
            <h5 class="summery_text" >Additional Charges</h5>
            <div class="form-row">
              <div class="parent" id="parent">
                <table class="table editable_tbl charge-table" id="fixTable">
                  <thead>
                    <tr>
                      <th class="cust_width_80">#</th>
                      <th >Charge</th>
                      <th >Amount</th>
                      <th >Tax</th>
                      <th>Tax Type</th>
                      <th >Tax Amount</th>
                      <th >Total</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr class="default_row" *ngFor="let charge of AdditionalCharges; index as i;"
                      (click)="editItem(i+1, charge.Id, 'charge', charge.Sno)">
                        <td class="profile-pic1">
                          <div class="edit1">
                            <ng-container *ngIf="charge.isEditable">
                                <a (click)="deleteItem(i, 'charge',true)" *ngIf="AdditionalCharges.length > 0">
                                    <i class="fa fa-trash fa-1x" aria-hidden="true"></i>
                                  </a>
                            </ng-container>
                            <ng-container *ngIf="charge.isEditable" >
                                <a (click)="editItem(i+1, charge.Id, 'charge', charge.Sno)"
                              *ngIf="AdditionalCharges.length > 0"><i class="fas fa-pen fa-1x"></i>
                            </a>
                            </ng-container>
                            <ng-container *ngIf="!charge.isEditable" >
                                <a *ngIf="AdditionalCharges.length > 0" (click)="addCharge()"><i
                                  class="fas fa-plus fa-1x"></i>
                              </a>
                            </ng-container>
  
  
                          </div>
                        </td>
                       
                        <td *ngIf="charge.isEditable" class="align-middle">{{charge.LedgerName}}</td>
                        <td *ngIf="!charge.isEditable">
                          <div class="input-group adw_select">
                            <select2 [disabled]="PartyId <= 0" name="chargeselect" #charge_select2 [data]="chargesData"
                              class="control_select" (valueChanged)="onChargeSelect($event)"
                              (keydown.esc)="moveToPayment()" autocomplete="true"
                              [options]="{placeholder: 'Select Charge'}"
                              [ngClass]="{'errorSelecto': invalidObj?.LedgerChargeId && (submitSave || !clickCharge)  }"
                              [value]="ledgerChargeValue"></select2>
                          </div>
                        </td>
                        <td *ngIf="charge.isEditable" class="align-middle">{{charge.AmountCharge}}</td>
  
                        <td *ngIf="!charge.isEditable">
                          <input type="text" [disabled]="PartyId <= 0" appIncludeDecimal name="AmountCharge"
                              class="form-control"
                              [ngClass]="{'errorSelecto': invalidObj?.AmountCharge && (submitSave || !clickCharge)}"
                              (input)="validateCharge();calculate();" id="AmountCharge" [(ngModel)]="AmountCharge"
                              placeholder="Enter Amount">
                        </td>
                        <td *ngIf="charge.isEditable" class="align-middle">
                          {{charge.TaxChargeName}}
                        </td>
                        <td *ngIf="!charge.isEditable">
                            <div class="input-group adw_select">
                              <select2 #taxSlabCharge_select2 [data]="taxSlabsData" class="control_select"
                                (valueChanged)="onTaxSlabChargeSelect($event)" autocomplete="true"
                                [ngClass]="{'errorSelecto': (submitSave || !clickCharge) && invalidObj?.TaxSlabChargeId }"
                                [options]="{ placeholder: 'Select Tax Slab' }" [value]="taxSlabChargeValue"></select2>
                            </div>
                          </td>
                        <td *ngIf="charge.isEditable" class="align-middle">
                          {{charge.taxTypeChargeName}}
                        </td>
                        <td *ngIf="!charge.isEditable"> 
                            <select2 #taxTypecharge_select2 [data]="taxTypeData" class="control_select"
                              (valueChanged)="onTaxTypeChargeSelect($event)" autocomplete="true"
                              [options]="{ placeholder: 'Select Tax Type' }" [value]="taxTypeChargeValue"></select2>
                          </td>
                        <td *ngIf="charge.isEditable" class="align-middle">
                          {{charge.TaxAmountCharge}}
                        </td>
                        <td *ngIf="!charge.isEditable">
                          <input type="text" appIncludeDecimal  [disabled]="true" name="TaxAmountCharge"
                          class="form-control"
                          [ngClass]="{'errorSelecto': invalidObj?.TaxAmountCharge && (submitSave || !clickCharge)}"
                          (input)="validateCharge()" id="TaxAmountCharge" [(ngModel)]="TaxAmountCharge"
                          placeholder="Tax Amount">
                      </td>
                        <td *ngIf="charge.isEditable" class="align-middle">
                          {{charge.TotalAmountCharge}}
                        </td>
                        <td *ngIf="!charge.isEditable" ><input type="text" appIncludeDecimal  [disabled]="true" name="TotalAmountCharge"
                          class="form-control"
                          [ngClass]="{'errorSelecto': invalidObj?.TotalAmountCharge && (submitSave || !clickCharge)}"
                          (input)="validateCharge()" (keyup.enter)="enterPressCharge($event)" id="TotalAmountCharge"
                          [(ngModel)]="TotalAmountCharge" placeholder="Total Amount">
                      </td>
                      </tr>
                  </tbody>
                  <tfoot>
                    <tr *ngIf='showHideItemCharge' class="selected_row active" >
                      <td>
                        <div class="action_btn">
                          <button (click)="validateCharge();addCharge()" type="submit"
                            class="btn btn-primary btn_add_more">+</button>
                        </div>
                      </td>
                      <td>
                        <div class="input-group adw_select">
                          <select2 [disabled]="PartyId <= 0" name="chargeselect" #charge_select2 [data]="chargesData"
                            class="control_select"
                            (valueChanged)="onChargeSelect($event)"
                            (keydown.esc)="moveToPayment()"
                            autocomplete="true" [options]="{placeholder: 'Select Charge'}"
                            [ngClass]="{'errorSelecto': invalidObj?.LedgerChargeId && (submitSave || !clickCharge)  }"
                            [value]="ledgerChargeValue" ></select2>
                        </div>
                      </td>
                      <td><input type="text" [disabled]="PartyId <= 0" appIncludeDecimal name="AmountCharge" class="form-control"
                        [ngClass]="{'errorSelecto': invalidObj?.AmountCharge && (submitSave || !clickCharge)}"
                        (input)="validateCharge();calculate();"
                        id="AmountCharge" [(ngModel)]="AmountCharge" placeholder="Enter Amount">
                      </td>
                      <td>
                        <div class="input-group adw_select">
                          <select2 #taxSlabCharge_select2 [data]="taxSlabsData" class="control_select"
                          (valueChanged)="onTaxSlabChargeSelect($event)"
                          autocomplete="true"
                          [ngClass]="{'errorSelecto': (submitSave || !clickCharge) && invalidObj?.TaxSlabChargeId }"
                          [options]="{ placeholder: 'Select Tax Slab' }"
                          [value]="taxSlabChargeValue" ></select2>
                        </div>
                      </td>
                      <td>
                        <select2 #taxTypecharge_select2 [data]="taxTypeData" class="control_select"
                        (valueChanged)="onTaxTypeChargeSelect($event)" autocomplete="true"
                        [options]="{ placeholder: 'Select Tax Type' }" 
                        [value]="taxTypeChargeValue" ></select2>
                      </td>
                      <td ><input type="text" appIncludeDecimal  [disabled]="true" name="TaxAmountCharge" class="form-control"
                        [ngClass]="{'errorSelecto': invalidObj?.TaxAmountCharge && (submitSave || !clickCharge)}"
                        (input)="validateCharge()"
                        id="TaxAmountCharge" [(ngModel)]="TaxAmountCharge" placeholder="Tax Amount">
                      </td>
                      <td ><input type="text" appIncludeDecimal  [disabled]="true" name="TotalAmountCharge" class="form-control"
                        [ngClass]="{'errorSelecto': invalidObj?.TotalAmountCharge && (submitSave || !clickCharge)}"
                        (input)="validateCharge()"
                        (keyup.enter)="enterPressCharge($event)"
                        id="TotalAmountCharge" [(ngModel)]="TotalAmountCharge" placeholder="Total Amount">
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
          <div class="form-row mt-2" >
            <div class="col-md-12 card p-2" >
              <div class="form-row mt-2" >
                  <div class="col-md-7">
                        <div class="form-row">
                          <div class=" form-group  col-md-3">
                            <label>Bill Discount</label>
                            <div class="discount">
                              <input [disabled] ="MultipleBillDiscount || addItemDisbaled" type="number" class="form-control" placeholder="Bill Discount" appIncludeDecimal
                                name="BillDiscount" [(ngModel)]="BillDiscount" min="0" max="100"
                                (keyup)="BillDiscountValidation($event);BillDiscountCalculate();"
                                [ngClass]="{'errorSelecto': invalidObj?.Discount }">
                              <select *ngIf='!MultipleBillDiscount' style="width: 70px !important;" class="form-control discount_type" id="BillDiscountType"
                                [(ngModel)]="BillDiscountType" (ngModelChange)="BillDiscountCalculate()" name="BillDiscountType">
                                <option *ngFor="let value of currencyValues;" [value]="value.id">{{value.symbol}}</option>
                              </select>
                              <div  *ngIf='MultipleBillDiscount'>
                                    <a  [class.disabled]="addItemDisbaled"  (click)="openDiscountMaster()"  class="Plus_tooltip"><i
                                      class="fas fa-plus-square "></i></a>
                              </div>
                            </div>
                          </div>
                          <div class="form-group col-md-4">
                            <label> Bank</label>
                            <ng-select  name="banknameid" [items]="allbankList" bindLabel="text"
                            bindValue="id" 
                            (change)="selectedBankvalue=$event.id"
                            placeholder="Select Bank" 
                            [(ngModel)]="selectedBankvalue">
                          </ng-select>
                          </div>
                        </div>
                    </div>
                  <div class="col-md-8 card p-2">
                      <div class="form-row">
                          <h5 class="summery_text" >Payment Details</h5>
                        <div class="table-responsive parent" >
                          <table class="table editable_tbl trans-table" id="fixTable">
                            <thead>
                              <tr>
                                <th class="cust_width_80">#</th>
                                <th>Mode</th>
                                <th width="18%">Ledger Name</th>
                                <th width="15%">Amount</th>
                                <th width="15%">PayDate</th>
                                <th>Ref. No.</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr class="default_row" *ngFor="let transaction of PaymentDetail; index as i"
                                (click)="editItem(i+1, transaction.Id, 'trans',transaction.Sno)"
                                >
                                  <td class="profile-pic1">
                                    <div class="edit1">
                                        <ng-container *ngIf="transaction.isEditable">
                                            <a (click)="deleteItem(i, 'trans', transaction.Sno)" *ngIf="PaymentDetail.length > 0">
                                                <i class="fa fa-trash fa-1x" aria-hidden="true"></i>
                                              </a>
                                        </ng-container>
                                        <ng-container *ngIf="transaction.isEditable" >
                                            <a (click)="editItem(i+1, transaction.Id, 'trans',transaction.Sno)" *ngIf="PaymentDetail.length > 0"><i
                                              class="fas fa-pen fa-1x"></i>
                                          </a>
                                        </ng-container>
                                        <ng-container *ngIf="!transaction.isEditable" >
                                            <a *ngIf="PaymentDetail.length > 0" (click)="addTransactions()"><i
                                              class="fas fa-plus fa-1x"></i>
                                          </a>
                                        </ng-container>
                                    </div>
                                  </td>
                                  <td *ngIf="transaction.isEditable" class="align-middle" style="min-width:180px;">
                                   
                                      {{transaction.Paymode}}
                                   
                                  </td>
                                  <td *ngIf="!transaction.isEditable" style="min-width:180px;">
                                      <div class="input-group adw_select">
                                        <select2 name="Paymode" #payment_select2 [data]="paymentModesData" id="PayModeId"
                                          class="control_select" (valueChanged)="onPaymentModeSelect($event)" autocomplete="true"
                                          [options]="{placeholder: 'Select Payment Mode'}"
                                          [ngClass]="{'errorSelecto': invalidObj?.PayModeId && (submitSave || !clickTrans)  }"
                                          [value]="paymode"></select2>
                                      </div>
                                    </td>
                                  <td *ngIf="transaction.isEditable" class="align-middle">
                                    
                                      {{transaction.BankLedgerName}}
                                   
                                  </td>
                                  <td *ngIf="!transaction.isEditable">
                                      <div class="input-group adw_select">
                                        <select2 name="LedgerId" #ledger_select2 [data]="paymentLedgerselect2" id="LedgerId"
                                          class="control_select" (valueChanged)="onPaymentLedgerSelect($event)" autocomplete="true"
                                          [options]="{placeholder: 'Select Ledger'}"
                                          [ngClass]="{'errorSelecto': invalidObj?.LedgerId && (submitSave || !clickTrans)  }"
                                          [value]="ledger"></select2>
                                      </div>
                                    </td>
                                  <td *ngIf="transaction.isEditable" class="align-middle">
                                   
                                      {{transaction.Amount}}
                                   
                                  </td>
                                  <td *ngIf="!transaction.isEditable">
                                      <input type="text" appIncludeDecimal name="Amount" class="form-control"
                                        [ngClass]="{'errorSelecto': invalidObj?.Amount && (submitSave || !clickTrans)}"
                                        (input)="validateTransaction()" id="Amount" [(ngModel)]="Amount" placeholder="Enter Amount">
                                    </td>
                                  <td *ngIf="transaction.isEditable" class="align-middle">
                                   
                                      {{transaction.PayDate}}
                                  
                                  </td>
                                  <td *ngIf="!transaction.isEditable">
                                      <datepicker-popup [toSetDate]="PayDate" [isBackDate]="backDateEntry"
                                       (dateInFormat)="PayDate = $event;validateTransaction();"
                                       [class]="invalidObj?.PayDate && (submitSave || !clickTrans)"></datepicker-popup>
                                   </td>
                                 
                                  <td *ngIf="transaction.isEditable" class="align-middle">
                                    
                                      {{transaction.ChequeNo}}
                                  
                                  </td>
                                  <td *ngIf="!transaction.isEditable">
                                    <input type="text" id="ChequeNo" class="form-control" name="ChequeNo" [(ngModel)]="ChequeNo"
                                    (input)="validateTransaction()" (keyup.enter)="enterPressTrans($event)"
                                    [ngClass]="{'errorSelecto': invalidObj?.ChequeNo && (submitSave || !clickTrans)}"
                                    placeholder="Enter Reference No.">
                                </td>
                                </tr>
                            </tbody>
                            <tfoot>
                              <tr *ngIf="showHidePayment" class="selected_row active" >
                                <td>
                                  <div class="action_btn">
                                    <button (click)="validateTransaction();addTransactions()" type="submit"
                                      class="btn btn-primary btn_add_more">+</button>
                                  </div>
                                </td>
                                <!-- <td></td> -->
                                <td style="min-width:180px;">
                                  <div class="input-group adw_select">
                                    <select2 name="Paymode" #payment_select2 [data]="paymentModesData" id="PayModeId"
                                      class="control_select"
                                      (valueChanged)="onPaymentModeSelect($event)"
                                      autocomplete="true" [options]="{placeholder: 'Select Payment Mode'}"
                                      [ngClass]="{'errorSelecto': invalidObj?.PayModeId && (submitSave || !clickTrans)  }"
                                      [value]="paymode" ></select2>
                                  </div>
                                </td>
                                <td>
                                  <div class="input-group adw_select">
                                    <select2 name="LedgerId" #ledger_select2 [data]="paymentLedgerselect2" id="LedgerId"
                                      class="control_select" (valueChanged)="onPaymentLedgerSelect($event)"
                                    autocomplete="true" [options]="{placeholder: 'Select Ledger'}"
                                    [ngClass]="{'errorSelecto': invalidObj?.LedgerId && (submitSave || !clickTrans)  }" 
                                    [value]="ledger" ></select2>
                                  </div>
                                </td>
                                <td>
                                  <input type="text" appIncludeDecimal name="Amount" class="form-control"
                                  [ngClass]="{'errorSelecto': invalidObj?.Amount && (submitSave || !clickTrans)}"
                                  (input)="validateTransaction()"
                                  id="Amount" [(ngModel)]="Amount" placeholder="Enter Amount">
                                </td>
                                <td>
                                  <!-- <ngbd-datepicker-popup [toSetDate]="payDate" [isBackDate]="backDateEntry" (dateInFormat)="PayDate = $event" [class]="invalidObj?.PayDate && (submitSave || !clickTrans)" ></ngbd-datepicker-popup> -->
                                  <datepicker-popup [toSetDate]="PayDate" [isBackDate]="backDateEntry" 
                                  (dateInFormat)="PayDate = $event;validateTransaction();"
                                   [class]="invalidObj?.PayDate && (submitSave || !clickTrans)" ></datepicker-popup>
                                </td>
                                <td><input type="text" id="ChequeNo" class="form-control" name="ChequeNo"
                                  [(ngModel)]="ChequeNo"
                                  (input)="validateTransaction()"
                                  (keyup.enter)="enterPressTrans($event)"
                                  [ngClass]="{'errorSelecto': invalidObj?.ChequeNo && (submitSave || !clickTrans)}"
                                  placeholder="Enter Reference No.">
                                </td>
                              </tr>
                            </tfoot>
                          </table>
                        </div>
                      </div>
                    </div>
                <div class="col-md-4">
                  <div class="pt-2 pr-2 pl-2 " *ngIf="!loadingSummary" >
                    <h5 class="summery_text">Bill Summary</h5>
                      <div class="form-row">
                        <div class="col-md-6 text-left">
                          <div class="form-row">
                            <ng-container *ngIf="TaxableValue > 0" >
                              <div class="col-md-6 labal_text">Taxable Value</div>
                              <div class="col-md-6 value_text">{{TaxableValue.toFixed(noOfDecimalPoint)}}</div>
                            </ng-container>
                            <ng-container *ngIf="totalBillDiscount > 0">
                              <div class="col-md-6 labal_text">Total Bill Discount</div>
                              <div class="col-md-6 value_text">{{totalBillDiscount.toFixed(noOfDecimalPoint)}}</div>
                            </ng-container>
                            <ng-container *ngFor="let charge of AdditionalChargesToShow" >
                              <div class="col-md-6 labal_text">{{charge.LedgerName}}</div>
                              <div class="col-md-6 value_text">{{(charge.TaxableAmountCharge).toFixed(noOfDecimalPoint)}}</div>
                            </ng-container>
                          </div>
                        </div>
                        <div class="col-md-6 text-right" *ngIf="billSummary && billSummary.length > 0" >
                          <div class="form-row" *ngFor="let tax of billSummary" >
                            <div class="col-md-6 labal_text">{{tax.name}}</div>
                            <div class="col-md-6 value_text">{{tax.total.toFixed(4)}}</div>
                          </div>
                        </div>
                      </div>
                      <div class="form-row border-top pt-2">
                        <div class="col-md-6"></div>
                        <div class="col-md-3 labal_text font-weight-bold">Round Off</div>
                        <div class="col-md-3 text-right font-weight-bold value_text">{{RoundOff}}</div>
                      </div>
                      <div class="form-row border-top pt-2">
                        <div class="col-md-6"></div>
                        <div class="col-md-3 labal_text font-weight-bold">Total Bill Amount</div>
                        <div class="col-md-3 text-right font-weight-bold value_text">{{BillAmount}}</div>
                      </div>
                    </div>
                    <div class="card pt-2 pr-2 pl-2" *ngIf="loadingSummary" >
                      <div class="modal-body" style="height:inherit;" >
                        <img src="assets/img/loader.gif" alt="loading screen" style="width: 25px;height: 25px;position: absolute;left: 49%;top:49%;" />
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="form-row mt-2">
            
          </div>
        </form>
      </div>
      <div class="modal-footer footer-fixed footer_modal_form">
        <button
        [disabled]="DisabledSaveBtn"
          type="submit"
          class="btn waves-effect btn-succ-ess"
          (click)="keepOpen=false;saveBilling()">
                      {{DisabledSaveBtn === true  ? 'Please Wait..' :'Save' }}
        </button>
        <button
          type="button"
          class="btn waves-effect btn-default def-ault-btn"
          (click)="closePurchase()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade right " *ngIf="!isCaseSaleFlag" id="cust_detail_m" role="dialog" aria-labelledby="unit_master"
  data-backdrop="static">
  <div class="modal-dialog modal-full-height modal-right" role="document">
    <div class="modal-content">
      <div class="modal-header close_popup">
        <h4 class="modal-title w-100 c-grey-900">Customer Detail</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <div>
            <form novalidate>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label class="active">Mobile Number</label>
                  <div class="mobile_code">
                    <ng-select  #mobileCose_select2 name="phonename" [items]="countryListWithCode" bindLabel="text"
                      class="control_select width_20" bindValue="id" placeholder="Select Code"
                      [ngClass]="{'errorSelecto ':validObj_caseparty?.countryCodeFlag && customerClick}"

                      (change)="onCountryCodeSelectionChange($event)" [(ngModel)]="countryCodeFlag">
                    </ng-select>
                    <input #caseparty_mobile autofocus id='mobileId' name="custMobileno" type="number" class="form-control width_70"
                    [(ngModel)]="customerMobileNo" placeholder="Mobile NUmber"
                    required
                    [ngClass]="{'errorSelecto':!checkValidMobile()}"
                    [minlength]="validmobileLength"
                    [maxlength]="validmobileLength"
                    (input)="searchCashPartyDetails($event)">
                  </div>
                </div>
                <div class="form-group col-md-12">
                  <label class="active">Customer Name</label>
                  <input #caseparty_customerName type="text"
                  [ngClass]="{'errorSelecto': !casepartyNameValidation() }"

                   name='customername' class="form-control" [(ngModel)]="caseCustomerName"
                    placeholder=" Customer Name">
                </div>
                <div class="form-group col-md-12">
                  <label class="active">Email</label>
                  <input #caseParty_email type="text"
                  [ngClass]="{'errorSelecto ': checkValidEmail() }"

                  name='emailCase' class="form-control" [(ngModel)]="CustomerEmail"
                    placeholder=" Email">
                </div>
                <div class="form-group col-md-12">
                  <label class="active">GSTIN NO.</label>
                  <input #gst_input type="text" (input)="splitGSTNumber()" name="gstinNo" class="form-control" 
                  [ngModel]="PartyGstinNo | uppercase " 
                  (ngModelChange)="PartyGstinNo=$event"
                    placeholder=" GSTIN NO."
                    [ngClass]="{'errorSelecto': !chekGSTvalidation() }"
                    >
                </div>
                <div class="form-group col-md-6">
                  <label class="active">Country</label>
                  <ng-select name="countryName" [items]="countryList" bindLabel="text" bindValue="id"
                    placeholder="Select Country" (change)="selectCountryListId($event)" [(ngModel)]="countryValue1">
                  </ng-select>

                </div>
                <div class="form-group col-md-6">
                  <label class="active">State </label>
                  <ng-select name="StateName" [items]="stateListCustomer" bindLabel="text" bindValue="id"
                    placeholder="Select State" (change)="selectState($event)" [(ngModel)]="stateValuedata1">
                  </ng-select>
                </div>
                <div class="form-group col-md-6">
                  <label class="active">City</label>
                  <ng-select name="cityName" [items]="cityList" bindLabel="text" bindValue="id"
                    placeholder="Select City" (change)="selectedCityId($event)" [(ngModel)]="cityValue1">
                  </ng-select>
                </div>
                <div class="form-group col-md-6">
                  <label>Area</label>
                  <ng-select name="Areaname" [items]="areaList" bindLabel="text" bindValue="id"
                    placeholder="Select Area" (change)="selectedArea($event)" [(ngModel)]="areNameId">
                  </ng-select>
                </div>
                <div class="form-group col-md-12">
                  <label class="active">Address</label>
                  <textarea class="form-control" name='address' [(ngModel)]="CustomerAddress"
                    placeholder="Enter Value"></textarea>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn_close waves-effect" (click)="clearCaseCustomer()" >Reset</button>

        <button type="button" (click)="addCaseCustomer()" class="btn btn-primary waves-effect">Save </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="close_confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      Are you sure want to close this page?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" (click)="yesConfirmationClose()">yes</button>
      </div>
    </div>
  </div>
</div>