<div class="modal fade" id="add_tax" role="dialog" aria-labelledby="unit_master" aria-hidden="true">

    <!-- Change class .modal-sm to change the size of the modal -->
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header close_popup">
                <h4 class="modal-title w-100 c-grey-900" id="myModalLabel">Add Tax</h4>
                <button type="button" class="close" (click)="clearValidation()" data-dismiss="modal"
                    aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div>
                        <form #taxForm="ngForm">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="bill_no">Tax Type</label>
                                    <div class="input-group adw_select">
                                        <select2 [disabled]='id !==0'  [data]="selectTaxTpye" #taxtype_select2 class="control_select"
                                            (valueChanged)="selectedTaxType($event)" autocomplete="true"
                                            [options]="{placeholder:'Select Tax Type'}" [value]="deafaultValue">
                                        </select2>
                                        <!-- <div *ngIf="select2Error">{{this.errorMassage}}</div> -->
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="tax_slab">Tax Slab</label>
                                    <input (input)="checkValidation()" type="text"
                                        [ngClass]="{ 'errorTextBoxBorder is-invalid': invalidObjSlab?.slab && submitClick }"
                                        #first class="form-control" id="tax_slab" name='slab'
                                        placeholder="Enter Slab-Name" [(ngModel)]="slab">
                                </div>
                                <div class="row">
                                    <a class="m-2 text-primary bold pl-4" (click)="texboxDiv()"><strong>Add Tax Rates
                                        </strong> </a>
                                </div>
                            </div>
                            <div class="form-row " id="tax_rate">
                                <table class="table" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th width="5%">#</th>
                                            <th width="10%">Other State</th>
                                            <th>Tax Rate Name</th>
                                            <th width="15%">Tax Rate</th>
                                            <!-- <th width="5%">Action</th> -->

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="default_row" *ngFor="let item of taxTypeList let i=index">
                                            <td>{{i+1}}</td>
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input [attr.disabled]='true' type="checkbox"
                                                        class="custom-control-input" id="customCheck{{i}}"
                                                        [checked]="item.isForOtherState">
                                                    <label class="custom-control-label" for="customCheck{{i}}"></label>
                                                </div>
                                            </td>
                                            <td>
                                                {{item.Name}} - {{item.taxrate}}
                                            </td>
                                                <td width="15%"> 
                                                    <div class="discount">
                                                        <input style="width:158px"
                                                            [ngClass]="{ 'errorTextBoxBorder is-invalid': item.taxrateFlag && saveTaxRate}"
                                                            (input)="validateTaxRates();" type="number"
                                                            class="form-control  width_70 mr-1" appIncludeDecimal
                                                            name="taxrate{{i}}" placeholder="Tax-Rate " [(ngModel)]="item.taxrate">
                                                        <div class="input-group">
                                                            <select2 #selecto2_taxrate [data]="currencies"
                                                                class="dropdown_width_100"
                                                                (valueChanged)="onSelectCurrency($event)"
                                                                autocomplete="true"></select2>
                                                        </div>
                                                    </div>
                                                </td>
                                        
                                            <!-- <td class="profile-pic1">
                                                <div class="">
                                                    <a (click)="deleteArrayMobileType(i,item)">
                                                        <i class="fa fa-trash fa-1x" aria-hidden="true"></i>
                                                    </a>
                                                    <a (click)="editRowItem(i,item )"><i class="fas fa-pen fa-1x"></i>
                                                    </a>
                                                </div>
                                            </td> -->

                                        </tr>
                                    </tbody>

                                    <!-- <tfoot>
                                        <tr>
                                            <td></td>
                                            <td width="5%">
                                                <div class="custom-control custom-checkbox">
                                                    <input #checkBtn_focs (keyup.enter)="selectKeyChecked($event)"
                                                        type="checkbox" class="custom-control-input" id="customCheck"
                                                        [checked]="isForOtherState">
                                                    <label class="custom-control-label" for="customCheck"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <input (input)="validateTaxRates()"
                                                    [ngClass]="{ 'errorTextBoxBorder is-invalid': invalidObjCont?.taxName && saveTaxRate }"
                                                    type="text" class="form-control" placeholder="Tax-Name"
                                                    name='taxName' autocomplete="true" [(ngModel)]="taxName">
                                            </td>
                                            <td width="15%">

                                                <div class="discount">
                                                    <input style="width:158px"
                                                        [ngClass]="{ 'errorTextBoxBorder is-invalid': invalidObjCont?.taxrate && saveTaxRate }"
                                                        (input)="validateTaxRates();" type="number"
                                                        class="form-control  width_70 mr-1" appIncludeDecimal
                                                        name="taxrate" placeholder="Tax-Rate " [(ngModel)]="taxrate">
                                                    <div class="input-group">
                                                        <select2 #selecto2_taxrate [data]="currencies"
                                                            class="dropdown_width_100"
                                                            (valueChanged)="onSelectCurrency($event)"
                                                            autocomplete="true"></select2>
                                                    </div>
                                                </div>
                                            </td>
                                            <td (keydown.enter)="enterPressItem($event)" width="5%">
                                                <button type="submit" class="btn btn-primary btn_add_more"
                                                    (click)="addtaxrates()">+</button>
                                            </td>


                                        </tr>
                                    </tfoot> -->
                                </table>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn_close waves-effect" data-dismiss="modal"
                    (click)="clearValidation()">Close</button>
                <button type="button" class="btn btn-primary waves-effect"
                    (click)="keepOpen=false;addTax()">Save</button>
                <button type="button" class="btn btn-primary waves-effect" (click)="keepOpen=true;addTax()">Save With
                    Add New</button>
            </div>
        </div>
    </div>
</div>