<div class="modal fade" id="po_approval" role="dialog" aria-labelledby="customer_form"
  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bgcH-grey-100"> <!--validate() && -->
      <form #poApprovalForm="ngForm"(ngSubmit)="onSave()" novalidate>
        <div class="modal-header primary-bg">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 left_side_head">
                <p class="heading_lead"><i class="fa fa-user" aria-hidden="true"></i>
                  Approve Rate and Qty of items in Purchase order</p>
              </div>
              <div class="col-md-6">
                <button type="button" class="close" (click)="close()" aria-label="Close"><span aria-hidden="true"
                class="white-text">×</span></button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <table class="table editable_tbl">
              <thead>
                <tr>
                  <th>
                    <div class="custom-control custom-checkbox" *ngIf="model?.items?.length > 1">
                      <input type="checkbox" class="custom-control-input" id="selectall" name="selectorunselect"
                        [(ngModel)]="model.selectAll" (change)="toggleSelect(model.selectAll)" />
                      <label class="custom-control-label" for="selectall"></label>
                    </div>
                  </th>
                  <th>Category</th>
                  <th>Item</th>
                  <th>Unit</th>
                  <ng-container *ngIf="model.industryId === 3">
                    <th>Length</th>
                    <th>Width</th>
                    <th>Height</th>
                  </ng-container>
                  <ng-container *ngIf="model.industryId === 5">
                    <th class="cust_width_150">Batch No</th>
                    <th class="cust_width_150">Mfd Date</th>
                    <th class="cust_width_150">Expiry Date</th>
                  </ng-container>
                  <th>Purchase Rate</th>
                  <th>Approve Rate</th>
                  <th>PO Quantity</th>
                  <th>Approve Qty</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of model?.items; let i = index;" >
                  <td>
                    <div class="custom-control custom-checkbox" >
                      <input name="checkOrder-{{ i }}" [(ngModel)]="item.checked"
                        (keydown.enter)="item.checked = !item.checked" type="checkbox"
                        class="custom-control-input" id="item-PO-{{ i }}" />
                      <label class="custom-control-label" for="item-PO-{{ i }}"></label>
                    </div>
                  </td>
                  <td>{{item.CategoryName}}</td>
                  <td>{{item.ItemName}}</td>
                  <td>{{item.UnitName}}</td>
                  <ng-container *ngIf="model.industryId === 3">
                    <td>{{item.Length}}</td>
                    <td>{{item.Width}}</td>
                    <td>{{item.Height}}</td>
                  </ng-container>
                  <ng-container *ngIf="model.industryId === 5">
                    <td>{{item.BatchNo}}</td>
                    <td>{{item.MfdDate | dateFormat: clientDateFormat}}</td>
                    <td>{{item.ExpiryDate}}</td>
                  </ng-container>
                  <td>{{item.PurchaseRate}}</td>
                  <!--[ngClass]="{errorSelecto:
                      item.checked && !item.Rate}"-->
                  <td>
                    <input [readonly]="!item.checked" type="number" class="form-control" [(ngModel)]="item.Rate" 
                    name="Rate" appIncludeDecimal placeholder="Approved Rate"
                    (input)="item.Rate > 0 ? item.checked = true : (item.Qty > 0) ? item.checked = true : item.checked = false"
                    limitqty [maxNum]="item.PurchaseRate">
                  </td>
                  <!--[ngClass]="{errorSelecto:
                      item.checked && !item.Qty}"-->
                  <td>{{item.Quantity}}</td>
                  <td *ngIf="item.Quantity > 0" >
                    <input [readonly]="!item.checked" type="number" class="form-control" [(ngModel)]="item.Qty" 
                    name="Qty" appIncludeDecimal placeholder="Approved Quantity"
                    (input)="item.Qty > 0 ? item.checked = true : (item.Rate > 0) ? item.checked = true : item.checked = false"
                    limitqty [maxNum]="item.Quantity" >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer footer_modal_form">
          <button type="submit" class="btn btn-primary waves-effect waves-light">Save</button>
          <button type="button"  class="btn btn_close waves-effect" (click)="close()" >Close</button>
        </div>
      </form>
    </div>
  </div>
</div>