<main class="main-content bgc-grey">
  <div id="mainContent">
    <div class="page-header p-0">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 left_side_head">
            <p class="heading_lead c-grey-900 mb-0">
              <i class="fa fa-chart-line"></i>Sample Approval
            </p>
          </div>
          <div class="col-md-8 right_saerch_side p-0">
            <!-- <div class="mr-2">
              <form>
                <div id="custom-search-input" class="btn_header1">
                  <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="Search" />
                    <span class="input-group-btn">
                      <a>
                        <i class="fas fa-search"></i>
                      </a>
                    </span>
                  </div>
                </div>
              </form>
            </div> -->
            <div class="btn_header">
              <!-- <a>
                <img src="assets/img/printer.png" />
              </a>
              <a> <img src="assets/img/pdf.png" /></a>
              <a>
                <img src="assets/img/excel.png" />
              </a> -->
              <button type="button" class="btn btn-primary waves-effect waves-light" (click)="addSampleApproval()">Add
                Sample Approval
              </button>
              <a class="btn btn-info" (click)="toggleSearch()" ><i class="fas fa-search"></i>Search</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <sample-search [toShow]="toShowSearch" ></sample-search>

    <div class="row animated-background">
      <div class="col-md-12">
        <div class="bgc-white bdrs-3 mB-20">
          <div class="table-responsive table_height">
            <table class="table sample-table table-hover">
              <thead>
                <tr>
                  <th rowspan="2" colspan="1">SNo.</th>
                  <th rowspan="2" colspan="1">Style/Sample No.</th>
                  <th rowspan="2" colspan="1">Sample Date</th>
                  <!-- <th rowspan="2" colspan="1">Reference</th> -->
                  <th rowspan="2" colspan="1">Estimated Reply</th>
                  <!-- <th rowspan="2" colspan="1">Shipment No.</th>
                  <th rowspan="2" colspan="1">Shipment By</th> -->
                  
                  <th rowspan="2" colspan="1">Approved</th>
                  <th rowspan="2" colspan="1" width="200px">Approval Date</th>
                  <th rowspan="2" colspan="1">Remark</th>
                  <th rowspan="2" colspan="1">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of sampleApprovalListDate | paginate : {
                  itemsPerPage: itemsPerPage,
                  currentPage: p,
                  totalItems: total
                }; let i = index;">
                  <td>{{ lastItemIndex + i + 1 }}</td>
                  <td>{{ item.SampleNo }}</td>
                  <td>{{ item.SampleDate | dateFormat: clientDateFormat }}</td>
                  <!-- <td>{{ item.Reference }}</td> -->
                  <td>{{ item.ExpectedReplyDate | dateFormat: clientDateFormat }}</td>
                  <!-- <td>{{ item.ShipmentNo }}</td>
                  <td>{{ item.ShipmentBy }}</td> -->
               
                  <td class="text-right">
                    <div class="form-group">
                      <select class="form-control" id="approval" name="approveType" [(ngModel)]="item.Status"
                        [disabled]="item?.disableApprove">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                      </select>
                    </div>
                  </td>
                  <td class="text-right" *ngIf="!item.disableApprove" >
                    <datepicker-popup [disableInput]="item?.disableApprove"
                      (dateInFormat)="item.ApprovedOn = $event;" 
                      [class]="item.click && !item.ApprovedOn" ></datepicker-popup>
                  </td>
                  <td *ngIf="item?.disableApprove" >
                    {{item.ApprovedOn}}
                  </td>
                  <td class="text-right" *ngIf="item?.disableApprove" >{{ item.Remark }}</td>
                  <td class="text-right" *ngIf="!item?.disableApprove" >
                    <input type="text" class="form-control" 
                      placeholder="Remark" name="remoark-{{ i }}" [(ngModel)]="item['Remark']" />
                  </td>
                  <td>
                    <a *ngIf="!item?.disableApprove" data-toggle="tooltip" data-placement="top" title="Approve"
                      class="actionBtn">
                      <i class="far fa-paper-plane fa-1x" aria-hidden="true" (click)="onApprove(item)">
                      </i></a>
                    <a *ngIf="!item?.disableApprove" data-toggle="tooltip" data-placement="top" title="Edit"
                      class="actionBtn">
                      <i class="fa fa-edit fa-1x" aria-hidden="true" (click)="addSampleApproval(item.Id)">
                      </i></a>
                    <a *ngIf="!item.disableApprove" data-toggle="tooltip" class="actionBtn" data-placement="bottom"
                      title="Delete"
                      (click)="delete(item.Id)"><i class="fa fa-trash fa-1x" aria-hidden="true"></i></a>
                  </td>
                </tr>
              </tbody>
              <!-- <tfoot>
                <tr *ngFor="let item of ledgerSummary?.LedgerStatementsSummary">
                    <th colspan="5"></th>
                    <th class="text-right font-weight-bold">{{item.Dr}}</th>
                    <th class="text-right font-weight-bold">{{item.Cr}}</th>
                </tr>
            </tfoot> -->
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-pagination
  (lastValueEmitter)="lastItemIndex = $event"
  (pageNoEmitter)="p = $event; getSampleApprovalListData()"
  (pageSizeEmitter)="itemsPerPage = $event; getSampleApprovalListData()"
></app-pagination>
<app-add-sample-approval></app-add-sample-approval>
