.height_50 {
   max-height: 66vh;
}
.attribute_header {
   position: relative;
}
.table_challan {
   width: 2200px;
}
.name_size {
   font-size: 19px;
}
.level1 {
padding-left: 20px;
font-weight: bold;
}
.level2{
   padding-left: 40px;
   /* font-weight: 600px; */
}
