<!-- header -->
<div class="header navbar">
  <div class="header-container">
    <ul class="nav-right">
      <li style="padding-top: 15px;">
        <div>
          <span class="fsz-xsm c-grey-900">
            <b
              >{{ _loginService?.loginUserDetails?.Name }}({{
                _loginService?.loginUserDetails?.Code
              }})</b
            >
          </span>
        </div>
      </li>
      <li class="dropdown">
        <a
          href=""
          class="dropdown-toggle no-after peers fxw-nw ai-c lh-1"
          data-toggle="dropdown"
        >
          <div class="peer mR-10">
            <img class="w-2r bdrs-50p" src="../../../assets/img/man.png" />
          </div>
        </a>
        <ul class="dropdown-menu fsz-sm">
          <li role="separator" class="divider"></li>
          <li>
            <a
              class="d-b td-n pY-5 bgcH-grey-100 c-grey-700"
              (click)="_loginService.logOut()"
              ><i class="fas fa-power-off mR-10 cH-blue"></i
              ><span>Logout</span></a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<main class="main-content2 bgc-grey">
  <div class="container">
    <div class="row justify-content-md-center pt-3">
      <h3 class="c-grey-900 heading_welcome">
        Welcome to <strong>Saniiro</strong>
      </h3>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="row head_sub">
          <div class="col-md-12">
            <h4 class="">Manage Your Accounting Online</h4>
          </div>
          <div class="col-md-12">
            <p>This is process where can add multiple organization</p>
          </div>
        </div>
        <div class="row justify-content-md-center align-self-center">
          <img
            src="../../../assets/img/saniiro-erp.png"
            class="img-fluid m-auto text-center"
          />
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="card create_new_org text-center align-self-center p-3">
          <a
            (click)="createComponent()"
            class="waves-effect waves-light justify-content-center"
          >
            <img src="../../assets/img/create.png"/>
            <h4>Create Organization</h4>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
<ng-template #companyContainer> </ng-template>
