<main class="main-content bgc-grey">
  <div id="mainContent">
    <div class="page-header p-0">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 left_side_head">
            <p class="heading_lead c-grey-900 mb-0"><i class="fa fa-chart-line"></i>Sale</p>
          </div>
          <div class="col-md-8 right_saerch_side p-0">
            <div class="mr-2">
              <form [formGroup]="searchForm">
                <div id="custom-search-input" class="btn_header1">
                  <div class="input-group col-md-12">
                    <input type="text" 
                    class="form-control input-lg"
                    placeholder="Search"
                    formControlName="searckKey"
                    #searchData
                    />
                    <span class="input-group-btn">
                      <a>
                          <i class="fas fa-search"></i>
                      </a>
                    </span>
                  </div>
                </div>
              </form>
            </div>
            <div class="btn_header">
              <a>
                <img src="assets/img/printer.png">
              </a>
              <a>
                <img src="assets/img/pdf.png"></a>
              <a><img src="assets/img/excel.png"></a>
              <button type="button" class="btn btn-primary waves-effect waves-light" (click)="onOpenInvoice('')" >New
              Invoice</button>
              <button type="button" class="btn btn-primary waves-effect waves-light" (click)="onOpenSale()" >Import
              Sale</button>
              <a (click)="toggleSearch()" class="btn btn-info" data-toggle="collapse"><i class="fas fa-search"></i>Search</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-sales-search [toShow]="toShowSearch" ></app-sales-search>
      <div class="row">
        <div class="col-md-12">
          <div class="bgc-white bdrs-3 mB-20">
            <div class="table-responsive table_height">
              <table class="table cat-table table-hover">
                <thead>
                  <tr>
                    <th>Sr.No.</th>
                    <th>Customer</th>
                    <th>Bill No.</th>
                    <th>Bill Date</th>
                    <th>Supplier</th>
                    <th>Ticket No</th>
                    <th class="text-right">Discount</th>
                    <th class="text-right">Total Tax</th>
                    <th class="text-right">Bill Amount</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody *ngIf="isSearching" style="height:100px;" >
                  <img src="assets/img/spinner-blue-circle.gif" alt="loading screen" style="width: 20px;height: 20px;position: absolute;left: 46%;top:46%;" />
                </tbody>
                <tbody>
                    <tr *ngFor="let item of saleTravelDetails | paginate: { itemsPerPage: itemsPerPage, currentPage: p, totalItems: total }; let i=index">
                        <td>{{lastItemIndex + i + 1}}</td>
                        <td>{{item.CustomerName}} </td>
                        <td>{{item.BillNo}}</td>
                        <td>{{item.BillDate | dateFormat: clientDateFormat}}</td>
                        <td>{{item.SupplierName}}</td>
                        <td>{{item.TicketNo}}</td>

                        <td class="text-right">{{item.Discount}}</td>
                        <td class="text-right">{{item.TaxAmount}}</td>
                        <td class="text-right">{{item.BillAmount}}</td>
                        <td>
                            <div class="dropdown enquiry-tag">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                                  class="fa fa-cog mR-3 cH-blue fa-1x"></i><b class="caret"></b></a>
                                <ul class="dropdown-menu fsz-sm">
                                    <li><a (click)="onPrintButton(item.Id,'sales_print_id')" class="d-b td-n p-1 bgcH-grey-100 c-grey-700"><i class="fas fa-print mR-10 cH-blue"></i><span>Print</span></a></li>
                                    <li><a (click)="onOpenInvoice(item.Id)" *ngIf="item.SaleReturnId == 0" class="d-b td-n p-1 bgcH-grey-100 c-grey-700"><i class="fa fa-edit mR-10 cH-blue"></i><span>Edit</span></a></li>
                                    <li><a class="d-b td-n p-1 bgcH-grey-100 c-grey-700"><i class="fa fa-trash mR-10 cH-blue"></i><span>Cancel</span></a></li>
                                    <li><a (click)="onOpenSaleReturn(item.Id)" *ngIf="item.SaleReturnId == 0" class="d-b td-n p-1 bgcH-grey-100 c-grey-700"><i class="fa fa-arrow-left mR-10 cH-blue"></i><span>Return</span></a></li>

                                    <li><a class="d-b td-n p-1 bgcH-grey-100 c-grey-700"><i class="fa fa-envelope mR-10 cH-blue"></i><span>Send
                                      Mail</span></a></li>
                                    <li><a class="d-b td-n p-1 bgcH-grey-100 c-grey-700"><i class="fa fa-envelope mR-10 cH-blue"></i><span>Sale
                                      Bill Return</span></a></li>
                                </ul>
                            </div>
                          </td>
                      </tr>
                  </tbody>
                  <tfoot>
                      <tr>
                          <th colspan="6"></th>
                          <th class="text-right font-weight-bold">{{this.totalDiscount}}</th>
                          <th class="text-right font-weight-bold">{{this.totaltax}}</th>
                          <th class="text-right font-weight-bold">{{this.totalBillAmount}}</th>
                          <th></th>
                      </tr>
                  </tfoot>
              </table>
            </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-pagination (lastValueEmitter)="lastItemIndex = $event;"
          (pageNoEmitter)="p = $event;getSaleTraveDetail();"
          (pageSizeEmitter)="itemsPerPage = $event;getSaleTraveDetail();" ></app-pagination>
<app-sales-invoice></app-sales-invoice>
<app-sales-import></app-sales-import>
<app-sales-return></app-sales-return>

<div class="modal" id="sales_print_id">   

    <div id="page-wrap">
       <!-- <button type="button" (click)="printClose()" class="close" data-dismiss="modal" aria-label="Close"> -->
              <!-- <span aria-hidden="true">&times;</span> -->
            <!-- </button> -->
      <div style="width:100%; border: 1px solid #000; overflow: auto;">
        <div style="width:39%; padding: 20px 0 6px 10px; float:left">
          <img src="{{orgImage}}" style="width: 58%;max-height: 120px;">
          </div>
          <div style="width:59%;  float:left">
            <h1 align="center" style="margin-bottom:3px;text-align:right;">
              {{ledgerinfos && ledgerinfos[0]?.OfficeName }}
          </h1>
            <p align="center" style="font-size:14px; margin:0px;text-align:right;">
              {{orgAddress && orgAddress[0]?.addressValue}}
              {{orgAddress && orgAddress[0]?.areaName}}
              {{orgAddress && orgAddress[0]?.areaName}}
              {{orgAddress && orgAddress[0]?.cityName}}
              {{orgAddress && orgAddress[0]?.statename}}
              {{orgAddress && orgAddress[0]?.countryName }}
              <br>
              <i class="fa fa-mobile"></i>&nbsp;
              {{orgMobileData && orgMobileData[0]?.org_mobile }}, &nbsp;&nbsp; {{orgWebData && orgWebData[0]?.org_web}} <br>
              <!-- GSTIN :  -->
            </p>
          </div>
        </div>
        <div style="clear:both"></div>
        <div class="invoice" style="margin:0px;">
          <div id="header">INVOICE</div>
          <div id="identity">
            <div class="invoiveN">
              <table class="invoice_table" width="100%">
                <tbody>
                 <!--  <tr>
                    <td>Reverse Charge</td>
                    <td colspan="2">
                      {{salesData && salesData[0]?.reversCharge}}
                    </td>
                  </tr> -->
                  <tr>
                    <td>Invoice No</td>
                    <td >{{salesData && salesData[0]?.BillNo }}</td>
                      <td>LOP</td>
                    <td>{{salesData && salesData[0]?.Remark}}</td>
                  </tr>
                  <tr>
                    <td>Invoice Date</td>
                    <td>{{salesData && salesData[0]?.BillDate | dateFormat : clientDateFormat}}</td>
                     <td>Currency</td>
                     <td>{{salesData && salesData[0]?.CurrencyName}}</td>

                    <!-- <td> -->
              <!--         <table class="state">
                        <tbody>
                           <tr>
                            
                          </tr>
                          <tr>
                            <td>Currency</td>
                            <td>{{salesData && salesData[0]?.currencyName}}</td>
                          </tr>
                        </tbody>
                      </table> -->
                    <!-- </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="logo">
              <table class="invoice_table" width="100%">
              </table>
            </div>
          </div>
          <div style="clear:both"></div>
          <div class="bill">
            <div id="header12">Details of Receiver | Billed to</div>
            <table class="billT" width="100%">
              <tbody>
                <tr>
                  <td>
                    <table class="invoice_table" width="100%">
                      <tbody>
                        <tr>
                          <td>Name</td>
                          <td colspan="2">
                            <b>
                     {{salesData && salesData[0]?.LedgerName}} &nbsp;&nbsp;
                     {{customerMobileData && customerMobileData[0]?.cust_mobile }} &nbsp;&nbsp;
                     {{customerEmailData && customerEmailData[0]?.cust_email }} 
                                                    </b>
                          </td>
                        </tr>
                        <tr *ngIf="customerAddress && customerAddress[0]" >
                          <td>Address</td>
                          <td colspan="2">
                            {{customerAddress && customerAddress[0]?.addressValue}} {{customerAddress && customerAddress[0]?.areaName}}
                            {{customerAddress && customerAddress[0]?.cityName}} {{customerAddress && customerAddress[0]?.statename}} {{customerAddress && customerAddress[0]?.countryName }}
                          </td>
                        </tr>
                        <tr *ngIf="customerAddress && customerAddress[1]" >
                          <td>Address 1</td>
                          <td colspan="2">
                            {{customerAddress && customerAddress[1]?.addressValue}} {{customerAddress && customerAddress[1]?.areaName}}
                            {{customerAddress && customerAddress[1]?.cityName}} {{customerAddress && customerAddress[1]?.statename}} {{customerAddress && customerAddress[1]?.countryName }}
                          </td>
                        </tr>
                        <tr *ngIf="salesData && salesData[0].gstinNo" >
                          <td>GSTin</td>
                          <td colspan="2">{{salesData && salesData[0]?.gstinNo}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div style="clear:both"></div>
        <div class="invoice" style="margin:0px;">
          <div style="clear:both"></div>
          <div class="mainT" style="max-height:350px;min-height: 350px">
            <table class="record" width="100%" cellspacing="0" cellpadding="3" style="border-bottom: 1px solid #000;">
              <tbody>
                <tr>
                  <th>S.N.</th>
                  <th>Routing</th>
                  <th>Travel Date</th>
                  <th>Return Date</th>
                  <th>Flight Code</th>
                  <th>Passanger Name</th>

                  <th style="text-align:right">Fare</th>
        
                </tr>
                <tr *ngFor="let salesItem of salesItemDatails; let i=index">
                  <td>{{1+i}}</td>
                  <td>
                    {{ salesItem.itemName}}
                  </td>
                  <td>{{salesItem.travelDate | dateFormat: clientDateFormat}}</td>
                  <td>{{salesItem.returnDate | dateFormat: clientDateFormat}}</td>
                  <td>{{ salesItem.flightCode}}</td>
                  <td>{{ salesItem.remark}}</td>
                  <td style="text-align:right;">{{ salesItem.saleRate}}</td>
                   <!-- <td style="text-align:right;"></td>  -->
                  <!-- <td style="text-align:right;">{{ salesItem.langiTax}}</td> -->
                 <!--  <td style="text-align:right;">{{ salesItem.discountAmt}}</td>
                  <td style="text-align:right;">{{ salesItem.svcFee}}</td>
                  <td style="text-align:right; border-right:none;">{{ salesItem.totalAmount}} </td -->
                </tr>
              </tbody>
    <!--           <tfoot style="border: 1px solid #000;">
                <tr >
                  <td colspan=4 style="text-align:center">Total</td>
                  <td style="text-align:right;"></td>
                  <td style="text-align:right;">{{salesSummuryItemDatails &&  salesSummuryItemDatails[0]?.langiTax}}</td>
                 
                  </td>
                </tr>
              </tfoot> -->
            </table>
          </div>
          <div style="clear:both"></div>
        </div>
        <div style="clear:both"></div>
        <div class="invoice" style="margin:0px; position: relative;min-height: 135px;max-height: 135px; width:100%;">
          <div class="amount" style="width:50%; float:left; bottom: 0px; position: absolute;">
            <!-- <p style="text-align:center; margin-bottom:0; padding-bottom:5px; font-size:14px; font-weight:600;">Bill Summary</p> -->
            <table width="100%" class="payment">
              <tbody>
                <tr style="background:#e9e9ea">
                  <th>ReIssue Charges</th>
                  <th>
                    Refund Panelty
                  </th>
                  <th>
                    Miscellaneouse
                  </th>
                </tr>
                <tr style="background:#e9e9ea">
                  <td>{{totalReIssueCharge}}</td>
                  <td style="text-align:right">
                    {{totalRefundPanelty}}
                  </td>
                  <td style="text-align:right">
                    {{totalmiscellanouseChange}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="logo" style="bottom: 0px; position: absolute; right: 0px;">
            <table width="100%" class="payment">
              <tbody>
                <tr style="background:#e9e9ea">
                  <th>Total Amount Before Tax</th>
                  <th style="text-align:right">
                   {{salesSummuryItemDatails &&  salesSummuryItemDatails[0]?.totalAmount}}
                  </th>
                </tr>
              
                      <tr style="background:#e9e9ea; font-weight:bold;">
                  <th>Discount :</th>
                  <th style="text-align:right">
                  {{salesSummuryItemDatails &&  salesSummuryItemDatails[0]?.discountAmt}}
                  </th>
                </tr>
                <tr style="background:#e9e9ea">
                  <th>SVC Fee</th>
                  <th style="text-align:right">
                   {{salesSummuryItemDatails &&  salesSummuryItemDatails[0]?.svcFee}}
                  </th>
                </tr>
          
                <tr style="background:#e9e9ea">
                  <th>Tax Amount : </th>
                  <th style="text-align:right">
                   {{totalTaxAmount}}
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
          <div style="clear:both"></div>
        </div>
        <div class="amount" style="border-bottom: 1px solid #000; border-left:1px solid #000; border-right:1px solid #000; min-height: 250px; width:100%;">
          <div class="invoiveN">
          </div>
          <div class="logo">
            <table class="payment" style="width: 100%;">
              <tbody>
                <!-- <tr style="background:#e9e9ea; font-weight:bold;">
                  <th>Total Amount After Tax :</th>
                  <th style="text-align:right">
                   {{netAmount}}
                  </th>
                </tr> -->
                <tr style="background:#e9e9ea; font-weight:bold;">
                  <th>BillAmount :</th>
                  <th style="text-align:right">
                   {{salesData && salesData[0]?.BillAmount}}
                  </th>
                </tr>
                <tr>
                  <td colspan="2"><b>Total Invoice Amount in Words</b> </td>
                </tr>
                <tr>
                  <td style="font-weight: bold;" colspan="2">{{word}}-Only </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div style="display:inline-flex; width:100%;">
            <div class="invoiveN" style="width: 56.5%;
                            float: left; font-size: 14px;
                            padding: 13px;">
              <h3 style="    margin: 0px;">Term and Condition:</h3>
             There is various terms & Condition according to rule of GOVT.
            </div>
            <div class="invoiveN" style="width: 40%;
                            float: right; text-align:right; font-size: 14px;
                            padding: 13px;">
                   
              <h3>For,  {{ledgerinfos && ledgerinfos[0]?.OfficeName }} </h3>
              <h4 style="    margin-bottom: 0px;">
                            Authorised Signatory
                        </h4>
            </div>
          </div>
          <div style="clear:both"></div>
        </div>
        <div style="clear:both"></div>
        <div style="float:left;text-align:right;overflow:auto;min-height:20px; margin-top:5px;">
          <span>Page No 1 of 1</span>
        </div>
      </div>
    </div>