<!-- <div class="input-group">
    <my-date-picker [options]="myDatePickerNormalOptions" #mydp="mydatepicker" [selector]="selector"
    (dateChanged)="onDateChanged($event)" (inputFieldChanged)="onInputFieldChanged($event)"
    (calendarViewChanged)="onCalendarViewChanged($event)" (calendarToggle)="onCalendarToggle($event)" (inputFocusBlur)="onInputFocusBlur($event)"
    [selDate]="selectedDateNormal" [placeholder]="placeholder" [disabled]="disabled">
</my-date-picker>

</div> -->
<table class="pickertable">
    <tr>
        <td>
            <my-date-picker [options]="myDatePickerNormalOptions" #mydp="mydatepicker" [selector]="selector"
                            (dateChanged)="onDateChanged($event)" (inputFieldChanged)="onInputFieldChanged($event)"
                            (calendarViewChanged)="onCalendarViewChanged($event)" (calendarToggle)="onCalendarToggle($event)" (inputFocusBlur)="onInputFocusBlur($event)"
                            [selDate]="selectedDateNormal" [placeholder]="placeholder" [disabled]="disabled">
           </my-date-picker>
        </td>
    </tr>
</table>

