<main class="main-content bgc-grey">
  <div id="mainContent">
    <div class="page-header p-0">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 left_side_head">
            <p class="heading_lead c-grey-900 mb-0">
              <i class="fa fa-chart-line"></i>Buyer Order
            </p>
          </div>
          <div class="col-md-8 right_saerch_side p-0">
            <div class="mr-2">
              <form>
                <div id="custom-search-input" class="btn_header1">
                  <div class="input-group col-md-12">
                    <input
                      type="text"
                      class="form-control input-lg"
                      placeholder="Search"
                    />
                    <span class="input-group-btn">
                      <a>
                        <i class="fas fa-search"></i>
                      </a>
                    </span>
                  </div>
                </div>
              </form>
            </div>
            <div class="btn_header">
              <a>
                <img src="assets/img/printer.png" />
              </a>
              <a> <img src="assets/img/pdf.png"/></a>

              <a>
                <img src="assets/img/excel.png" />
              </a>
              <button
                type="button"
                class="btn btn-primary waves-effect waves-light"
                data-toggle="modal"
                (click)="addBuyerOrder()"
              >
                Add New
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row animated-background">
      <div class="col-md-12">
        <div class="bgc-white bdrs-3 mB-20">
          <div class="table-responsive table_height">
            <table class="table cat-table buyerorder-table table-hover">
              <thead>
                <tr>
                  <th width="7%">SNo.</th>
                  <th>Buyer Code</th>
                <th>Style Name</th>
                <th>Buyer</th>
                <th>Order Date</th>
                <th>Order Qty</th>
                <th>Production Qty</th>
                <th>Amount</th>
                <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let item of buyerOrderList| paginate: { itemsPerPage: pageSize, currentPage: pageNo, totalItems: totalItemSize
                          };
                    let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{item?.BuyerCode}}</td>
                  <td>{{item?.StyleName}}</td>
                  <td>{{item?.BuyerName}}</td>
                  <td>{{item?.OrderDate | dateFormat: clientDateFormat}}</td>
                  <td>{{item?.TotalOrderQty}}</td>
                  <td>{{item?.TotalProductionQty}}</td>
                  <td>{{item?.NetAmount}}</td>
                  <td>
                    <div class="dropdown enquiry-tag">
                      <a
                        class="dropdown-toggle"
                        data-toggle="dropdown"
                        aria-expanded="false"
                        ><i class="fa fa-cog mR-3 cH-blue fa-1x"></i
                        ><b class="caret"></b
                      ></a>
                      <ul class="dropdown-menu fsz-sm">
                        <li>
                          <a
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Edit"
                            class="actionBtn"
                            (click)="addItemRequirement(item)">
                            <i class="fa fa-edit fa-1x" aria-hidden="true"></i>
                          Edit</a>
                        </li>
                        <li>
                          <a class="d-b td-n p-1 bgcH-grey-100 c-grey-700">
                            <i class="fas fa-trash mR-10 cH-blue"></i><span>Delete</span>
                          </a>
                        </li>
                        <li>
                          <a (click)="packOrder(item)" class="d-b td-n p-1 bgcH-grey-100 c-grey-700">
                            <i class="fas fa-print mR-10 cH-blue"></i><span>Pack Order</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-pagination
  #sample_approval_paging
  (lastValueEmitter)="onLastValueChange($event)"
  (pageNoEmitter)="onPageNoChange($event)"
  (pageSizeEmitter)="onPageSizeChange($event)"
></app-pagination>

<app-add-buyer-order #addBuyerOrderFormRef
  (triggerCloseModal)="onModalClosed($event)" ></app-add-buyer-order>

<template #packagingaddcontainer>
</template>