<div class="loginpage d-flex justify-content-center align-items-center">
  <form #credentialsForm="ngForm" (ngSubmit)="credentialsForm?.form?.valid && check()" novalidate>
    <div class="loginbox">
      <div class="logincontent-area">
        <div class="loginlogo">
          <img src="assets/img/logo.png">
        </div>
        <h5>Forgot Password</h5>
        <div class="row">
          <div class="col-md-6">
            <div class="form-row">
              <div class="custom-control custom-radio my-1 mr-sm-2">
                <input type="radio" value="ForgotCode" class="custom-control-input" 
                  name="abbreviations" id="custid" [(ngModel)]="model.Abbreviation" >
                <label class="custom-control-label" for="custid" >Forgot Customer Id</label>
              </div>
            </div>
            <div class="form-row">
              <div class="custom-control custom-radio my-1 mr-sm-2">
                <input type="radio" value="ForgotUserId" class="custom-control-input" id="customControlInline"
                [(ngModel)]="model.Abbreviation" name="abbreviations" >
                <label class="custom-control-label" for="customControlInline">Forgot User Name</label>
              </div>
            </div>
            <div class="form-row">
              <div class="custom-control custom-radio my-1 mr-sm-2">
                <input type="radio" value="ForgotPassword" class="custom-control-input" id="msmed"
                [(ngModel)]="model.Abbreviation" name="abbreviations" >
                <label class="custom-control-label" for="msmed">Forgot Password</label>
              </div>
            </div>
            <div class="loginor">
              <p class="or-line"></p>
            </div>
            <div class="form-row">
              <div class="custom-control custom-radio my-1 mr-sm-2">
                <input type="radio" value="Mobile" class="custom-control-input" id="mobile" name="chooseotp"
                [(ngModel)]="model.SendOn" >
                <label class="custom-control-label" for="mobile">Using Registered Mobile Number</label>
              </div>
            </div>
            <div class="form-row">
              <div class="custom-control custom-radio my-1 mr-sm-2">
                <input type="radio" value="Email" class="custom-control-input" id="email" name="chooseotp"
                [(ngModel)]="model.SendOn" >
                <label class="custom-control-label" for="email">Using Email Id</label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="forgot-img">
              <img src="assets/img/forgot.png">
            </div>
          </div>
        </div>
        <ng-container>
          <div class="form-group md-form row pt-5" *ngIf="model.Abbreviation === 'ForgotPassword' || model.Abbreviation === 'ForgotUserId'"  >
            <label class="col-sm-5 col-form-label">Enter Code</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="Code"
                #Code="ngModel" [(ngModel)]="model.Code" required
                [ngClass]="{'error-class': credentialsForm.submitted && !model.Code}" >
            </div>
          </div>
          <div class="form-group md-form row pt-5" *ngIf="model.Abbreviation === 'ForgotPassword'" >
            <label class="col-sm-5 col-form-label">Enter User Name</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="LoginId"
                #LoginId="ngModel" [(ngModel)]="model.LoginId"
                required [ngClass]="{'error-class': credentialsForm.submitted && !model.LoginId}"
              >
            </div>
          </div>
        </ng-container>
        <div class="form-group md-form row pt-5" *ngIf="model.SendOn === 'Mobile' && model.Abbreviation === 'ForgotCode'" >
          <label for="inputPassword" class="col-sm-5 col-form-label">Enter Your Mobile No.</label>
          <div class="col-sm-7">
            <input type="number" class="form-control" id="MobileNo"
            #MobileNo="ngModel" [(ngModel)]="model.MobileNo" required 
            [ngClass]="{'error-class': credentialsForm.submitted && MobileNo.errors}" >
          </div>
        </div>
        <div class="form-group md-form row pt-5" *ngIf="model.SendOn === 'Email' && model.Abbreviation === 'ForgotCode'" >
          <label for="inputPassword1" class="col-sm-5 col-form-label">Enter Your Email Id</label>
          <div class="col-sm-7">
            <input type="email" class="form-control" id="Email"
            #Email="ngModel" [(ngModel)]="model.Email"
            required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
            [ngClass]="{'error-class': credentialsForm.submitted && Email.errors}"
            >
          </div>
        </div>
        <div class="form-row">
          <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>
